[2016-10-11 19:56] shellscape commented on #266
I like it.

[2016-10-11 19:58] shellscape commented on #267
Do we have other symbols/glyphs/characters that we check in a similar manner? (asking for posterity) We might consider a linter plugin with config to allow for checking any number of characters with varying config. Would negate the need for separate linters.

[2016-10-12 06:59] kokarn commented on #266
Needs more cowbell/options? Do we always want to disallow this? Or just global scope?

[2016-10-12 07:00] kokarn commented on #268
New option probably. We want people to be consistent with their colors, right?

[2016-10-13 20:39] CASandmann opened #269 "singleLinePerProperty rule should support single-line definitions"
My team just started using this linter and it has already helped out tremendously.  One rule we would like to see altered however, is the `singleLinePerProperty` rule.  By name, this sounds like a rule that we should support, but it causes a warning on simple lines of this format:

[code]

I feel like there should be a separate rule governing whether or not you should be allowed to put attribute d

[2016-10-14 12:55] kokarn commented on #269
Sounds like a bug, yeah. @jwilsson ?

[2016-10-15 10:19] jwilsson commented on #269
I think it's working as expected but that we need a `allowSingleLineRules` (or similar) option to allow those types of rules.

[2016-10-20 15:13] cheeZery opened #270 "Negative attribute value throws CssSyntaxError"
[code]
results in the following output
[code]

[Output of lesslint -v](https://github.com/lesshint/lesshint/files/542117/lesslint.-v.txt)

[2016-10-20 15:37] shellscape commented on #270
@cheeZery this project is *lesshint* whereas your output seems to be for *lesslint*. the repo for lesslint is https://github.com/ecomfe/node-lesslint/issues. did you post the issue on the wrong project?

[2016-10-20 15:50] cheeZery commented on #270
Whoops, you're totally right, I installed lesslint by mistake :D I'm sorry..

[2016-10-20 15:50] shellscape commented on #270
No worries.

[2016-10-20 15:50] #270 closed

[2016-10-24 01:40] JoshuaKGoldberg opened #272 "Allow .lesshintrc options to be true instead of { "enabled": true }"
This works:

[code]

This does no:

[code]

Would it be as simple as changing the `if (!options || (options && !options.enabled)) {` under the `ast.root.walk` under `linter.js`' `runChecks`?

[2016-10-24 19:28] jwilsson commented on #272
I've thought about this myself recently and I like it! Changing that line should be enough, yeah.

[2016-10-24 22:09] shellscape commented on #272
Yeah it's better than ESLint's array settings schema, that's for sure.

[2016-10-25 18:28] #245 closed

[2016-10-25 18:28] #260 closed

[2016-10-25 18:28] #272 closed

[2016-10-27 07:37] elkebirmed commented on #260
:100:

[2016-10-28 13:53] VolleMelk opened #274 "newlineAfterBlock not working in 2.2.0"
During a code review I noticed our build was passing even though I had the following less:
[code]

We have enabled the newlineAfterBlock linter with
[code]

Our buildservers are automatically updated. When I ran the linter on my development computer the build failed as expected:

After I updated my globally installed lesshint using **npm update -g lesshint** and ran the linter again, the linter pa

[2016-10-28 19:40] jwilsson commented on #274
I can confirm this, looks like a regression from ed2c9f6df2811d696067bf5f29fdde19a53a4467. I'll take a look at it.

[2016-10-30 12:31] #274 closed

[2016-11-11 13:30] jwilsson commented on #251
Sorry for the silence.

But I've been thinking about this over the last weeks and I think we got too caught with symlinks. I think the real issue is the fact that `excludedFiles` doesn't work quite as expected. I think I have an idea on how to solve it while retaining backwards compatibility meaning `excludedFiles` will run before any filesystem operations, so my example from above will work.

I'l

[2016-11-11 15:37] shellscape commented on #251
@jwilsson we could also use `globby` and it's ignore patterns, as a base for the files to lint. That'd exclude it before we even get started looking at files.

[2016-11-11 19:46] JoshuaKGoldberg opened #278 "Auto-fix Lesshint bugs?"
I’d like to make a project to automatically apply fixes for lesshint failures. A big blocker from adopting more linting for a lot of teams (mine included) is the time it takes to fix existing failures. I’ve started a  [rough draft](https://github.com/joshuakgoldberg/automutator) project that takes in and applies waves of suggested fixes, such as from a linter like lesshint.

A potential technical

[2016-11-12 21:02] kokarn commented on #278
Sounds very useful. :+1:

[2016-11-13 03:01] JoshuaKGoldberg opened #280 "Come with a JSON reporter?"
Seems like a pretty useful reporter for external tools; is there much problem in adding one by default?

[code]

[2016-11-13 17:47] shellscape commented on #280
I have no issue with that. Seems like a value-add to me.

[2016-11-13 17:53] shellscape commented on #278
Some links for reference:

https://github.com/stylelint/stylelint/issues/330 - good discussion around the same for stylelint.
https://github.com/morishitter/stylefmt - may make sense to ping this guy about supporting lesshint. seems to be a very active project.

[2016-11-13 21:39] JoshuaKGoldberg commented on #278
@shellscape interesting, I hadn't seen stylelint yet! Thanks for bringing it up.

Re https://github.com/lesshint/lesshint/issues/186, I don't quite follow what you mean by "separation of concerns" (and haven't yet delved into PostCSS). What do you mean?

I've started prototyping this for fun. It's mostly ~workable, but with a few issues I'll edit into the OP.

[2016-11-13 21:51] shellscape commented on #278
(being sincere, not at all trying to be remotely patronizing) https://en.wikipedia.org/wiki/Separation_of_concerns

I much prefer how modular and flexible Lesshint is, as credit to @jwilsson for the original design that's allowed it to be. Since I've been involved, we've refactored the linters, added reporter support and even swapped out our AST generator. And it was all relatively painless. Lessh

[2016-11-13 21:53] JoshuaKGoldberg commented on #278
No offense taken :) I was more curious about how you meant it with regards to the project design.

[2016-11-14 08:11] JoshuaKGoldberg opened #281 "Allow an onExit other than the exit package"
When trying to run `lesshint` via...

[code]

...nothing gets logged in the happy case because [exit](https://www.npmjs.com/package/exit) is called at the end.

If we change one line in cli.js, it becomes possible to provide a custom `onExit` callback:

[code]

it would be possible to provide a custom onExit.

[code]

Required for https://github.com/lesshint/lesshint/issues/278.

In case you're wo

[2016-11-14 08:20] JoshuaKGoldberg opened #282 "Allow reporters to be objects, not just file paths"
When running `lesshint` via `requires`/`imports` in code, instead of the CLI, it would be useful to pass a reporter object instead of a file path to one. This would allow for stateful reporters in tools that require `lesshint`.

The actual change would be pretty small, too - in `Lesshint.prototype.getReporter`, something like:

[code]

Required for https://github.com/lesshint/lesshint/issues/278.

[2016-11-14 08:59] kokarn commented on #282
👍

[2016-11-14 08:59] kokarn commented on #281
👍

[2016-11-14 12:52] shellscape commented on #281
hm. when I take a look at other tools which have both a programmatic and cli interface, I can't come up with another one that supports calling the cli programmatically. gulp and grunt are two that come to mind. I'd be more inclined to work the essential bits into the main code from the cli, rather than open up and/or encourage programmatic use of the cli file. that just seems like an anti-pattern

[2016-11-14 17:55] JoshuaKGoldberg commented on #281
@shellscape agreed. I was being lazy. :)

https://github.com/palantir/tslint/pull/1688 is a similar construct.

[2016-11-14 17:56] JoshuaKGoldberg opened #283 "Split the CLI into a new class"
As per https://github.com/lesshint/lesshint/issues/281, it would be useful to be able to call the CLI's logic via `require`/`import` rather than some form of subprocess.

Required for #278.

[2016-11-14 17:56] JoshuaKGoldberg commented on #281
Filed #283.

[2016-11-14 19:39] jwilsson commented on #251
@shellscape I think we're fine with `minimatch` for now.

I got the suggestion up in #285 and I'd like some feedback on it.

[2016-11-14 19:39] #149 closed

[2016-11-14 19:43] jwilsson commented on #280
👍

[2016-11-14 19:46] jwilsson commented on #283
Makes sense, I guess.

I'd be happy to help out/discuss design etc.

[2016-11-14 19:51] jwilsson commented on #278
I really like the idea!

Let me just think approaches for a few days :)

[2016-11-14 21:11] JoshuaKGoldberg commented on #278
Cool. I've started a rough draft at https://github.com/autolint/autolesshint - note that it assumes an `npm link`ed version of `lesshint` with some of the proposed changes.

[2016-11-14 21:21] JoshuaKGoldberg opened #287 "Report absolute line position"
For tools (like automutate) that manipulate files as `string[]`s rather than `string[][]` it can be useful to have the absolute position of a complaint, in addition to line & column number.

I think we just compute these by creating a new `linesRaw` that has lines *with* their trailing newline characters.

Required for #278.

[2016-11-15 07:25] JoshuaKGoldberg commented on #283
@jwilsson it looks like most of `cli.js` could just be moved into its own class in a new file.

Thinking of a name is hard. `runner.js`?

[2016-11-19 14:32] jwilsson commented on #278
Alright, the approach I think I like the best is using a new reporter which would return the suggested fixes which would allow `automutate` (or another tool etc.) to do what's necessary with the results.

BTW, just out of curiosity, did you talk to the `stylelint` and/or `stylefmt` guys?

[2016-11-19 15:08] jwilsson opened #290 "Some ideas for configLoader improvements"
I've got two ideas on how to improve the `configLoader`. I don't know if anyone knows that it will walk up to the root directory from `process.cwd()` until it finds a `.lesshintrc` when no config file is passed. This was never documented anywhere so the ideas I have for improvement are actually three :wink:

1. Add a second parameter, `path` which would tell it to start traversing somewhere else b

[2016-11-20 09:28] JoshuaKGoldberg commented on #278
Agreed!

Would you prefer this be built into `stylelint` or separate tool(s)?

Yes: https://github.com/stylelint/stylelint/issues/2059

[2016-11-20 10:24] JoshuaKGoldberg opened #291 "Restore console spies before assertions in tests"
![image](https://cloud.githubusercontent.com/assets/3335181/20462113/73ed9338-aec8-11e6-8732-2b7dfd9fc20f.png)

[2016-11-21 09:00] kokarn commented on #290
👍

[2016-11-21 18:47] #280 closed

[2016-11-21 18:49] jwilsson commented on #278
@JoshuaKGoldberg I think we should keep it as a separate tool for now, if we want to we can always reevaluate it at a later time.

I'll try and help out as much as I can!

[2016-11-21 18:54] #282 closed

[2016-11-24 19:52] jwilsson commented on #256
Closing this in favour of https://github.com/lesshint/postcss-values-parser/issues/4.

[2016-11-24 19:52] #256 closed

[2016-11-28 14:12] shellscape commented on #256
postcss-values-parser v0.1.8 has been published with the fix

[2016-12-01 13:46] shellscape opened #295 "Enable Greenkeeper"
https://greenkeeper.io it's magical. added it to my repos yesterday and it already caught and submitted the dependency updates for a module. I've got it setup for postcss-values-parser. We should consider setting it up on the other org repos 😄

[2016-12-01 13:52] kokarn commented on #295
It generates so much noise tho.
Is is possible to just check and not open pull requests?
Can't seem to find any information about that with a quick check.

[2016-12-01 14:41] jwilsson commented on #295
I agree that it can get a bit noisy, but we already have pretty relaxed version constraints on our dependencies so it won't create PRs that often.

If we enable it now it'll fail though, since the dependencies that are outdated doesn't support Node 0.12 (which we still do).

[2016-12-01 15:01] kokarn commented on #295
👍 for dropping 0.12 and enabling greenkeeper

[2016-12-05 10:20] #291 closed

[2016-12-05 10:20] #226 closed

[2016-12-11 13:44] jwilsson opened #297 "3.0 planning"
My plan is to merge #288 and #294 in the next few days, tag a `2.4.0`, and then start working through this list on `master`. I'm not thinking that this will be such a huge release as `2.0`, rather some small (but still breaking) changes and mostly focusing on stabilizing our public API.

- [x] Drop support for Node < 4.
- [x] `fullPath` in linting results should be an actual full path (now the pat

[2016-12-11 13:51] shellscape commented on #297
Man, it's come such a long way!

[2016-12-14 18:12] #287 closed

[2016-12-14 18:13] #269 closed

[2016-12-14 21:15] CASandmann opened #298 "Rule proposal: indent spaces"
A rule to specify the number of spaces to indent.  Indention increases whenever a curly brace is opened and decreases whenever a curly brace is closed.

Suggested options:

* `style` - `spaces`, `tabs`
* `spacesPerIndent` - the number of spaces per indention if using spaces

If the style is spaces, then tabs will fail and vice-versa.

When style is `spaces` and `spacesPerIndent` is 2:

[code]

[2016-12-15 07:07] jwilsson commented on #298
This is the same as #50, right? We'd love some help on that one!

[2016-12-15 20:07] CASandmann commented on #298
You're right.  I guess I didn't see it because it was so far down.  Just goes to show how important this type of rule is!  This issue can be closed.

[2016-12-15 20:07] #298 closed

[2016-12-17 20:54] jwilsson commented on #295
Greenkeeper enabled!

[2016-12-17 20:54] #295 closed

[2016-12-18 14:29] shellscape commented on #295
woooo! 🎉

[2016-12-20 12:51] JoshuaKGoldberg opened #300 "Proposal: pass a logger object to CLI, reporters"
Spinning off of #289 - always using the global `console` object to log reports and errors means any constituents of a split-off runner class will have to stub out the standard process outputs.

Instead of:

[code]

it could now be:

[code]

The structural changes needed (post Runner-split) would be:
* `bin/lesshint` passes `console` to `lib/cli.js`
* `lib/cli.js` takes in a logger instead of direc

[2016-12-20 12:59] JoshuaKGoldberg opened #301 "Can't specify "default" reporter"
Spinning off of #289 -

**Which version of `lesshint` are you using?**

2.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

CLI

**What's your `.lesshintrc` configuration?**

`node bin/lesshint -r default test/data/files/file.less`

**Expected**

*(default `lesshint` report)*

**Actual**

Could not find reporter default.

**Would you be interested in submitting a PR fo

[2016-12-20 13:00] JoshuaKGoldberg commented on #281
Fix would be in `lib/lesshint.js`:

[code]

[2016-12-20 13:00] JoshuaKGoldberg commented on #301
Fix would be in `lib/lesshint.js`:

[code]

[2016-12-20 13:25] shellscape commented on #300
I'm having a hard time envisioning a situation where this would be necessary. I'd like to see a real-world example of the need here.

[2016-12-20 13:31] JoshuaKGoldberg commented on #300
[autolesshint](https://github.com/autolint/autolesshint). I want this to be a CLI app that people can just run like:

[code]

It'll run `lesshint` via `lesshint/lib/cli`, take in reports from the reporters, apply fixes, and repeat. #278.

[2016-12-20 13:33] shellscape commented on #300
I looked through that but I couldn't immediately glean where you needed to stub console.log.

[2016-12-20 13:35] JoshuaKGoldberg commented on #300
By running the `lesshint` CLI is run via `lesshint/lib/cli` , it'll run the reporters, and those reporters will `console.log` their reports.

Also, do you not find it inconvenient to do all the `.spy`/`.restore` calls in test code for `process.stderr/stdout.write` and `console.log/error`? IMO that's a general annoyance that could be fixed.

[2016-12-20 13:43] JoshuaKGoldberg commented on #300
Ah, re-read my old code, and I see what you mean. In the current design you're right - it actually no longer needs to (it used to pipe output from a JSON reporter via the console, parse it as JSON, etc.).

Other potential use cases:
* Lightweight editor plugin
* Browser previewer

[2016-12-20 13:49] shellscape commented on #300
for other projects I work with we redirect stdout / console messages for other components in a number of spots. I'm of the opinion it's not really that unusual and not much of an inconvenience. (customizing gulp output, for example). As for the tests and the spies in the tests, I'd personally go with chai-spies over sinon, which would free up a lot of the annoyance of spying and restoring, but tha

[2016-12-20 14:03] #301 closed

[2016-12-20 14:41] jwilsson commented on #300
Hmm, if `autolesshint` no longer needs it and we keep all logging in `lib/cli.js` (nothing in `lib/runner.js`) I don't see a need for it as this time.

If it's possible to introduce in a backwards compatible way (which it certainly looks like) then we can always add it later.

[2016-12-21 09:37] jwilsson commented on #251
Closing this since `excludedFiles` will work as expected in `3.0`.

[2016-12-21 09:37] #251 closed

[2016-12-21 19:21] JoshuaKGoldberg opened #306 "Add test coverage to bin/lesshint"
As per discussion in #303

[2016-12-22 13:42] #281 closed

[2016-12-23 05:22] #300 closed

[2016-12-23 05:23] #283 closed

[2016-12-23 05:44] JoshuaKGoldberg commented on #278
Awesome - the initial blockers are out of the way so what's left is:
1. Add an allowance for a `suggestFixes` method on linters
2. Add `suggestFixes` to as many rules as can support it.

I'm assuming you don't want 1 without 2 (random undocumented functionality) so I'll put up a PR with the design proposal and add rules as I can.

[2016-12-24 00:27] JoshuaKGoldberg opened #308 "attributeQuotes reports failures on the same line as the first"
**Which version of `lesshint` are you using?**
2.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Either CLI or Node.js API.

**What's your `.lesshintrc` configuration?**
`>node bin/lesshint temp/test.less`

**If you're reporting a bug, please show us some code that's failing.**
Contents of `temp/test.less`:
[code]

**What did you expect to happen?**
Warning: test.less

[2016-12-24 06:04] JoshuaKGoldberg opened #309 "Allow a "everything is disabled" option for .lesshintrc files"
Writing `autolesshint` test cases is slightly more work than it should be because each `.lesshintrc` file needs to explicitly disable all the rules that are turned on by default. If any other rules get enabled by default as well, they'll need to be disabled too.

This also ties in to how my team at work is onboarding `lesshint` (very slowly). We had 0 rules enabled at first and by now just one.

*

[2016-12-24 06:26] JoshuaKGoldberg opened #310 "Double \n characters give incorrect finalNewline positions"
**Which version of `lesshint` are you using?**
2.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Either CLI or Node.js API.

**What's your `.lesshintrc` configuration?**
`>node bin/lesshint --reporter lib/reporters/json temp/test.less`

**If you're reporting a bug, please show us some code that's failing.**
Contents of `temp/test.less`:
[code]
To be precise, the strin

[2016-12-24 15:11] shellscape commented on #309
I'm torn on this proposal. On one hand, it looks like a great option for your tool. On the other hand, it looks like a good chunk of code to address an edge case. Playing devil's advocate here: An npm module containing the everything-is-disabled options hash/object could be published and you could require that module, and pass it to lesshint programatically.

[2016-12-29 08:03] jwilsson commented on #309
I never thought about sharable configs for `lesshint`, but I like the idea. Perhaps that's something that's worth exploring more cause that sounds like something that might solve this problem for other people as well?

[2016-12-29 08:05] #290 closed

[2016-12-29 12:52] shellscape commented on #309
@jwilsson I could put together an 'everything is disabled' module example

[2017-01-09 04:40] shellscape opened #312 "Add "engines" to package.json"
Looks like .travis.yml is only testing on the latest node 4 version, so I wanted to run this by you guys before a PR. Is node 4@latest the minimum version lesshint supports now?

I ask because I'm ditching babel and ES6 modules in postcss-values-parser because babel has become a royal pain in the ass, and the modules syntax is the only thing I'm really using it for at this point. The next version

[2017-01-09 07:43] jwilsson commented on #312
Yeah, we should add a `node >= 4`  field.

[2017-01-12 13:05] #312 closed

[2017-01-16 18:10] jwilsson commented on #297
@JoshuaKGoldberg I don't wanna stress you in any way but I just wanted to check if you're still interested in moving the CLI into a `runner.js`-file? Otherwise I'll be happy to do it 😄

[2017-01-16 20:17] JoshuaKGoldberg commented on #297
Hi, yes - I was waiting for #307 to be resolved first. But if you do it first that would be great!

[2017-01-18 09:59] KennyLindahl opened #318 "Causes runtime error when using comma instead of semicolon in less file"
**Usage info**
- Lesshint version 2.1.1 and 2.4.0 (Using Node API)
- Config: Basically empty (which means i'm using the default since it's merged with it): {}

**What did you expect to happen?**
It should report like normal and not cause a runtime error, for example:
"Expected ; got ,"

**What's the actual result?**
`
tasks.js:190 TypeError: Cannot read property 'raws' of undefined
	at /project/no

[2017-01-18 13:38] shellscape commented on #318
@KennyLindahl (currently in transit atm) can you point to the LESS docs for the comma-instead-of-semicolon pattern?

[2017-01-18 15:27] KennyLindahl commented on #318
@shellscape I don't know if there is a pattern for that, but the most important this is that it should not crash in JS because of syntax in a less file. But i would expect it to say "expecting semicolon", but this is not required.

[2017-01-18 17:20] shellscape commented on #318
well we wouldn't want to show an error about a semicolon, because that's for a rule to define. this is an object reference error in Lesshint, and a parser issue beyond that.

[2017-01-18 19:57] jwilsson commented on #297
@JoshuaKGoldberg Oh, totally forgot about that one. Sorry! I'll take a look in the next couple of days.

[2017-01-19 20:17] Venomknight257 opened #321 "Max-Warnings Config Issue"
**Which version of `lesshint` are you using?** 2.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI for testing. package.json run command in Node.js app

**What's your `.lesshintrc` configuration?** Default

**If you're reporting a bug, please show us some code that's failing.**
`lesshint --max-warnings=-1 ./path_to/styles/

**What did you expect to happen?**
I was e

[2017-01-19 20:21] shellscape commented on #321
@jwilsson looks like it should work https://github.com/lesshint/lesshint/blob/afda593da9c5a3b0e27127757c29ccd75c5dda8d/lib/cli.js#L79 but there aren't any tests confirming that. looks like it may be a commander bug.

@Venomknight257 can you try with quotes around the `-1` and see what happens? eg. `lesshint --max-warnings="-1" ./path_to/styles/`

[2017-01-19 20:27] Venomknight257 commented on #321
I still get the same unknown option error when I add the quotes.

[2017-01-19 20:43] Venomknight257 commented on #321
I can attempt to make the changes for warnings to not break a build by default unless explicitly noted within the CLI or in config by the user and submit a PR.

[2017-01-19 21:01] shellscape commented on #321
that might be an option, but would be a breaking change, so @jwilsson should weigh in on that one first

[2017-01-19 21:32] Venomknight257 commented on #321
From a quick glance it wouldn't be a sweeping change that I found to work... Now I haven't done extensive testing.

Instead of having the `maxWarnings` flag having to be -1 why not have it be 0.

There can be an added check to see if the `max-warnings` flag was even given and if it wasn't then any warning will return an exit code of 1. If there was a flag specified and it was 0 then all warnings a

[2017-01-21 13:26] jwilsson commented on #321
Hi @Venomknight257,
Thanks for the report!

I'm not too keen on changing any behaviour and it does indeed look like a [`commander.js` issue](https://github.com/tj/commander.js/issues/61).

I would be fins with changing CLI parsing libraries ([meow](https://www.npmjs.com/package/meow) is the one that comes to mind) but it's a bit of work which I totally understand if you're not willing to do @Venom

[2017-01-21 14:51] #306 closed

[2017-01-21 15:21] shellscape commented on #321
We could parse the value for `false`, allowing folks to effectively disable that. some psuedo because

[code]

[2017-01-21 20:21] JoshuaKGoldberg commented on #306
Ah, I forgot about this.. thanks!

[2017-01-21 20:53] jwilsson commented on #321
That looks like it should work. I'm sorry if that's what you meant @Venomknight257. Would you be interested in submitting a PR with that fix?

[2017-01-22 23:08] kloots opened #325 "Using custom linters via the CLI"
[The README indicates custom linters can be defined via the CLI](https://github.com/lesshint/lesshint#cli-usage) via the `--linters` option, however, from my experience adding custom linters to the `lesshintrc` file they must also be enabled. Can you provide an example of custom linter usage via the CLI as it is unclear how to both define and enable the customer linter via the CLI.

Thanks.

[2017-01-22 23:37] Venomknight257 commented on #321
@shellscape That is actually a lot better than what I was thinking. I'll get a PR submitted with the fix and test updates.

[2017-01-23 07:33] jwilsson commented on #325
We have a big round of documentation changes coming up, I'll be sure to add it there. Thanks for pointing it out!

[2017-01-23 12:40] jwilsson commented on #297
A few things which came up still remains:
* Which parts of the API we expose, as discussed in #320. I'll file a PR for this.
* Finish #323.
* A patch for #321.
* @kokarn and I discussed some changes in the CLI Runner, he'll file a PR for it.
* Move the `lesshintFile` property on exceptions to its own custom `Error`. I'll file a PR for this.
* Finish up documentation improvements in the `doc-improv

[2017-01-23 19:10] kloots commented on #325
Great to hear the docs will be getting more robust. In the meantime, can you give me some guidance on defining and enabling custom linters via the CLI in this ticket so I can move forward?

[2017-01-24 07:31] jwilsson commented on #325
Sure thing!

[code]

This should work, given that the linters are enabled in your config. I think @JoshuaKGoldberg might be better suited to answer any questions though, since he wrote that part (I'm not familiar with it, unfortunately).

[2017-01-25 07:51] JoshuaKGoldberg commented on #325
Hi, yes! It "should"**&#42;** be a relatively simple process. Something like following should probably end up in the docs in some form...

First, create a JavaScript file somewhere that looks like one of the linters from lesshint's [`lib/linters`](https://github.com/lesshint/lesshint/tree/6cbb82e37e2128bbed20db991de47142a4bf2f8f/lib/linters) directory. [`important_rule.js`](https://github.com/less

[2017-01-25 08:01] JoshuaKGoldberg opened #327 "Custom linter including is relative to lesshint, not cwd"
The sample https://github.com/lesshint/lesshint/issues/325#issuecomment-274729660 needs an absolute path to the linter. That's a little sub-optimal for CLI users who want to just do something like `lesshint file.less --linters ./lib/linters/foo`. Perhaps Lesshint should allow relative-to-cwd paths first, and local-to-`lesshint` after?

[2017-01-26 12:42] justtal opened #329 "Custom Linter .lesshint file require throws error"
**Which version of `lesshint` are you using?**

2.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

CLI

**What's your `.lesshintrc` configuration?**

[code]
**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

Run the custom linter

**What's the actual result?**

Something's wrong with the config file. Er

[2017-01-26 13:29] shellscape commented on #329
(updated; please use backticks for code)

[2017-01-26 13:30] justtal commented on #329
No problem!

Thanks for the fix.

[2017-01-26 14:03] jwilsson commented on #329
This looks like a docs issue, sorry about that!

Since `.lesshintrc` is JSON, `require` calls aren't possible. You'll need to specify the full path to your linter, i.e.

[code]

I'll get the docs updated.

[2017-01-26 14:09] #327 closed

[2017-01-26 14:25] justtal commented on #329
Thanks.

Yes I looks wired to me to put require in json attribute.

Now I get:

`Cannot find module '/Users/username/dev/some/path/to/custom-linter.js'`

I'm using MAC.

[2017-01-26 14:32] justtal commented on #329
There is no option to specify a relative to config file linter path?

It is really problem to do it full path if we work as a team in a different machines and also it will run on jenkins machines :)

Can I try to solve that problem and push a request if I'll succeed?

[2017-01-26 14:33] shellscape commented on #329
They just merged a PR today to assist with that https://github.com/lesshint/lesshint/pull/328

[2017-01-26 14:56] justtal commented on #329
Works great.

Are you going to release it soon with a new version via npm?

[2017-01-26 15:13] jwilsson commented on #329
Yes, it's due for our `3.0` release which we'll hopefully be finished with really soon.

[2017-01-26 18:26] justtal commented on #297
Hey Guys!

Your doing a great job here.

I would like to contribute to that project.

Is there any way to do that? Do you have a specific flow for new contributors?

Thanks,

Tal.

[2017-01-27 05:14] jwilsson commented on #297
@justtal Thank you!

Take a quick look at [CONTRIBUTING.md](https://github.com/lesshint/lesshint/blob/master/CONTRIBUTING.md) and then grab one of the issues labeled [bug](https://github.com/lesshint/lesshint/issues?q=is%3Aissue+is%3Aopen+label%3Abug), I think those are the best for first-time contributions. Just to get a feel of the code.

If you have any questions, don't hesitate to ask!

[2017-01-28 12:48] justtal opened #331 "New VariableOnly linter"
I have created a new linter called "variableOnly" that validate that values of specific property is a variable.

At our team for color and font-size (for now) we use only variables that defined in app variables file.

Do you think it can be useful for other? do you want me to commit it to lesshint or create my own custom linter package?

You can pass to the linter the properties you want to be var

[2017-01-28 14:22] jwilsson commented on #331
Sounds good to me!

Lets hear some other thoughts too, though.

[2017-01-31 07:07] justtal commented on #331
Do you want me guys to commit it?

[2017-01-31 09:15] KennyLindahl commented on #318
@shellscape @jwilsson Please have a look at @burnall PR so this issue could be fixed :)
He just did some very minor code changes and added a test for it, so it should be a quick review.

[2017-01-31 15:11] shellscape commented on #331
I'd like to suggest a rename to `valueVariable`. Should consider future improvements to this and combinations of restraints of the property value using variables:

- always a variable
- never a variable
- (default would be disabled and unopinionated)

[2017-01-31 19:20] jwilsson commented on #321
@Venomknight257 Just wanted to check in with you. Is there anything we can help you with?

[2017-01-31 19:21] jwilsson commented on #331
I'm fine with either name. A PR would be very much welcome!

[2017-01-31 19:29] Venomknight257 commented on #321
Sorry guys. I've been outrageously busy with moving and prepping for my first kid that I haven't been able to dedicate as much time as I'd like to on this issue. I'll be on Paternity leave for two weeks starting next week and should be able to have plenty of time in the early mornings when I'm woken from a dead sleep from the newborn to get this written up. I wouldn't be offended if someone took i

[2017-02-01 07:26] justtal commented on #331
@shellscape I really can't see a situation that someone will want the "never" option.

WDYT?

[2017-02-03 22:07] jwilsson commented on #321
@Venomknight257 I guess congratulations on the baby is in order then!

I filed a PR in #334 with the suggested changes, hope that's alright with you. I look forward to any future  future contributions from you!

[2017-02-04 17:54] garygreen commented on #50
@jwilsson any news on this one? I noticed PostCSS conversion is complete... so it's just a case of finding time to add this feature right? I haven't any experience with PostCSS so not sure where to start with it, do you foresee it being difficult still or?

[2017-02-07 17:13] jwilsson commented on #50
@garygreen Yes, mostly time. You are more than welcome to take a stab at it, it can be a bit tricky (lots of cases to consider) but we'll be happy to help!

[2017-02-08 18:08] #321 closed

[2017-02-08 18:56] jwilsson commented on #297
And `3.0.0` has been released. A huge thank you to everyone who have contributed in any way!

[2017-02-08 18:56] #297 closed

[2017-02-08 20:32] shellscape commented on #297
🎉

[2017-02-08 21:26] JoshuaKGoldberg commented on #297
Whoohoo!

[2017-02-09 07:44] kokarn commented on #297
🥇

[2017-02-09 08:36] JoshuaKGoldberg opened #338 "Line 1 always reported on attribute_quotes"
**Which version of `lesshint` are you using?**
3.0.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**
[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

[code]

**What's the actual result?**

[code]

**Would you be interested in submitting a PR for th

[2017-02-09 10:51] JoshuaKGoldberg commented on #338
Ha I'm an idiot, dup of a bug I've already reported, #308... Never mind :)

[2017-02-09 10:51] #338 closed

[2017-02-09 11:16] JoshuaKGoldberg opened #339 "Mention autolesshint in the readme"
3.0 is out, so I've resumed work on [autolesshint](https://github.com/automutate/autolesshint/). You can install it and try it out; it should work! Unfortunately its current rule coverage probably isn't enough to justify putting a mention on the lesshint readme. A few issue points here...
* At what point (if any) would you be willing to mention it?
* What features do you want in it?
* The list of

[2017-02-10 16:03] greenkeeper[bot] opened #340 "Update postcss-values-parser to `1.2.0`"
## Version **1.2.0** of [postcss-values-parser](https://github.com/lesshint/postcss-values-parser) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-values-parser-1.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss-values-parser

[2017-02-10 16:26] shellscape commented on #340
the tests here https://github.com/lesshint/postcss-values-parser/commit/851238cd6b1a6953fe022f39fa7a0ac016bc75ed#diff-cc37320af8aeb8b7582dad90cc114e55 should shed some light on what changed. the parser wasn't handling conditions outside of `calc` correctly.

stuff like `5 +5` and `5+5` are actually considered to be two separate words: `5` and `+5`, unless inside `calc` in which case it's a syntax

[2017-02-10 17:35] jwilsson commented on #340
@shellscape Cool, thanks for the explanation!
I

[2017-02-11 10:13] jwilsson commented on #96
@lesshint/team Is this one still relevant/something we want to do? Otherwise I think we should close it.

[2017-02-11 10:13] jwilsson commented on #221
I'll take another look at approach I suggested.

[2017-02-11 10:13] jwilsson commented on #231
I'll take another look at this.

[2017-02-11 10:17] jwilsson commented on #259
Closing this due to a lack of info.

@vitalyiegorov Please reopen if you got more info!

[2017-02-11 10:17] #259 closed

[2017-02-11 10:21] jwilsson commented on #263
Sorry for the lack of activity here @wohanley!

@lesshint/team Do we want to go through with this? The question is whether or not we want to add invalid inline config comments to the results returned.

For example:
[code]

would be emitted as

[code]

[2017-02-11 10:23] jwilsson commented on #278
I'm gonna close this since we discussed this and came to the conclusion of keeping it as a separate tool in #307.

[2017-02-11 10:23] #278 closed

[2017-02-11 10:24] jwilsson commented on #310
@JoshuaKGoldberg Are you still interested in submitting a PR or should we label it as "Help wanted"?

[2017-02-11 10:25] jwilsson commented on #309
I'm gonna try to come up with something to add in the docs on how configs can be easily shared.

[2017-02-11 10:26] jwilsson commented on #325
Closing this since it's better documented now.

@kloots Please give us a shout if you disagree!

[2017-02-11 10:26] #325 closed

[2017-02-11 10:26] jwilsson commented on #329
Closing this since it's fixed in `3.0.0`.

[2017-02-11 10:26] #329 closed

[2017-02-11 10:27] #308 closed

[2017-02-11 10:27] #318 closed

[2017-02-11 10:45] jwilsson commented on #339
I would be willing to add it to our README pretty soon. Perhaps when support for a few more rules have been added.

Hmm, I'm not sure. I'm quite satisfied with just the autofixing parts. What did you have in mind?

I'll see what I can do!

[2017-02-11 14:12] shellscape commented on #96
I'll take a peek at it again this week

[2017-02-11 18:01] JoshuaKGoldberg commented on #310
Help wanted is probably best.

[2017-02-11 19:28] JoshuaKGoldberg commented on #309
How about adding extensible configs à la [TSLint's `extends` option](https://github.com/palantir/tslint#configuration) to providing prefab ones? An everything-is-disabled option could be provided for this purpose.

[2017-02-11 23:24] JoshuaKGoldberg opened #342 "Rule request: endlines"
Similar to prior art in http://eslint.org/docs/rules/linebreak-style and https://palantir.github.io/tslint/rules/linebreak-style/. Having this rule would be particularly useful for `autolesshint` so that it doesn't have to compute which linebreak style to insert on mutations.

[2017-02-12 16:31] JoshuaKGoldberg opened #343 "Odd column numbers in space_around_operator"
**Which version of `lesshint` are you using?**

3.0.1.

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

Node.js API via `autolesshint`.

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

One of the following:
* One error per line, each at column 22 or 2

[2017-02-12 16:56] JoshuaKGoldberg opened #344 "Odd column numbers in space_after_property_value"
**Which version of `lesshint` are you using?**

3.0.1.

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

Node.js API via `autolesshint`.

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

When `style` is `"no_space"`, the error appears at line 6 / column

[2017-02-12 18:06] jwilsson commented on #340
Turned out to be a bit more work than expected. But there's no rush in updating either, I'll keep this issue open for tracking and the version range at `~`

[2017-02-12 18:09] jwilsson commented on #342
I like it!

Let's see what the rest of the team think.

[2017-02-12 18:55] jwilsson commented on #344
Strange, I'm getting these results (which I still agree are faulty):

`no_space`: line 6 / column 16
`one_space`: line 2 / column 15

[2017-02-12 18:59] jwilsson commented on #343
Confirmed, the columns reported are faulty.

[2017-02-12 19:32] JoshuaKGoldberg opened #345 "Better document the singleLineRules config for singleLinePerProperty"
https://github.com/lesshint/lesshint/blob/master/lib/linters/README.md#singlelineperproperty

What exactly does `singleLineRules` allow?

[2017-02-12 19:52] JoshuaKGoldberg opened #346 "single_line_per_selector false negatives on lists that have a single \n"
**Which version of `lesshint` are you using?**

3.0.1.

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

Node.JS API via `autolesshint`.

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

It should have flagged the issue.

**What's the actual result?**

[2017-02-12 19:59] JoshuaKGoldberg opened #347 "Rule request: consecutive-blank-lines"
Prior art: http://eslint.org/docs/rules/no-multiple-empty-lines and https://palantir.github.io/tslint/rules/no-consecutive-blank-lines/.

This would be particularly useful for `autolesshint`. Right now the `single_line_per_*` rules just dump endlines as deemed necessary. In some situations that could end up with stylesheets that have a lot of consecutive blank lines.

[2017-02-12 20:06] JoshuaKGoldberg commented on #339
These were actually a lot more straightforward (and fun!) to implement than I expected. It's up to 16 rules supported, 11 impossible to support, and 7 not-yet-implemented. I'll send a PR now.

I haven't the faintest idea. :)

[2017-02-13 17:19] jwilsson commented on #347
I like it!

Let's see what the rest of the team think.

[2017-02-13 17:58] jwilsson commented on #254
Closing this since it's out of scope for `lesshint`. But if anyone is interested in building a Less plugin I'd be happy to link to it in the README.

[2017-02-13 17:58] #254 closed

[2017-02-15 15:40] aloisdg opened #349 "Operators shouldnt be preceded and followed by one space if this operator is not an operator but just a char."
**Which version of `lesshint` are you using?**

last one

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

gulp-lesslint

**What's your `.lesshintrc` configuration?**

vanilla

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

    {nothing}

**What's the actual result?**

    Warning: tables.less: line 13,

[2017-02-15 15:50] kokarn commented on #349
I would assume it's actually warning on the ```-(``` part.
Can you test with ```- (``` instead?

[2017-02-15 15:53] aloisdg commented on #349
well

[code]

[2017-02-15 15:54] kokarn commented on #349
So you get errors on all lines but
[code]
Am I understanding you correctly?

[2017-02-15 15:55] aloisdg commented on #349
[code]

[2017-02-15 16:01] kokarn commented on #349
Can confirm somethings fucky.

lesshint 3.0.1
[code]

[code]

[2017-02-16 07:26] jwilsson commented on #349
PR welcome!

[2017-02-16 08:18] aloisdg commented on #349
@jwilsson [line 27](https://github.com/lesshint/lesshint/blob/master/lib/linters/space_around_operator.js#L27)

            // Ignore negative numbers
            if (child.value === '-' && (child.raws.before || node.raws.between) &&
                (nextElement.type === 'number' || nextElement.value === '(') && !nextElement.raws.before) {
                return;
            }

I don't know if `ne

[2017-02-16 08:36] jwilsson commented on #349
@aloisdg Yes, our CIs will run automatically when you submit a PR or you can run the tests locally with `npm test` which will of course be a lot faster.

[2017-02-16 08:38] #331 closed

[2017-02-16 19:35] #266 closed

[2017-02-16 19:37] #345 closed

[2017-02-16 19:41] #339 closed

[2017-02-17 06:08] justtal commented on #347
In my opinion and thanks to my OCD it is a must :)

[2017-02-17 18:10] JoshuaKGoldberg commented on #347
Help would be great thanks; I've filed a lot of bugs lately and don't have much time to deal with them. :)

[2017-02-27 23:43] shellscape opened #352 "OpenCollective"
I think this is something we should consider: https://github.com/OpenCollective/opencollective-postinstall. Webpack, Preact, among others are considering it and there's a solid open source following there (opencollective.com). I think the post-install thing is nifty, but may be too bold for some. Discuss!

[2017-02-28 06:42] JoshuaKGoldberg commented on #310
(just kidding, was messing around with regexps...)

[2017-02-28 08:18] kokarn commented on #352
I don't really like the money thing on a general basis (not just because I don't put as much time into this as I should 🙈).

It might be something that suits some projects where the main contributor dedicates most of his time to it but AFAIK most of us have jobs that let us do this kind of thing anyway.

👎 from me

[2017-02-28 10:56] elliottcrush opened #354 "Prefixing URL setting with Variable"
What does everyone think about introducing a custom rule to allow for the ability to always expect a URL assignment to be prefixed by a given variable.

**Invalid**
[code]
**Valid**
[code]

I want the ability to control where assets are sourced from in my applications and this seems like a useful rule to me.

**Which version of `lesshint` are you using?**
Latest

**How are you running `lesshint`?

[2017-02-28 11:01] kokarn commented on #354
Cool idea, I like it.

I don't really see a reason not to add it, but I'll let the others decide.

[2017-02-28 11:10] h0rhay commented on #354
👍 Thumbs up from me, this would be a great feature.

[2017-02-28 17:43] jodiedoubleday opened #355 "Value Exclusions for VariableValue rule."
**Which version of `lesshint` are you using?**
Latest

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Gulp

**What's your `.lesshintrc` configuration?**

[code]

**What did you expect to happen?**

You can list values which are accepted that don't have to be variables.
Variables are great for consistency, but in the example of `color` having to be variables, `inherit` fai

[2017-02-28 17:52] shellscape commented on #355
I think the issue formatting got a little hosed. I'm not quite sure what is invalid and valid. And it looks like your `exclude` property in the "expected" section isn't using quotes.

Is this issue reporting a problem, or are you proposing a new feature?

[2017-02-28 17:57] jodiedoubleday commented on #355
Apologies for that, formatting is now fixed :)

[2017-03-01 08:25] przemyslawjanpietrzak opened #356 "can not run lint by powershell"
I tried to run command "node .\node_modules\lesshint\bin\lesshint  .\Content\**\*.less" on powershell (windows10). Nothing crashed but i didn't get any output.

Command " node ./node_modules/lesshint/bin/lesshint ./src/Radar.API/Content/**/*.less" run on windows10 bash generate correct output.

Any suggestions how I can run lesshint from powershell?

[2017-03-01 14:03] shellscape commented on #356
@JoshuaKGoldberg was it you that was running this on winders? I can't recall. I haven't used windows for day to day stuff since 2010, and that pre-powershell heyday, so I'm not going to be much help with this one.

it does seem odd that you need to specify the full path to lesshint. Why isn't lesshint available as a standalone command after using `npm install -g lesshint`? Seems strange.

[2017-03-01 14:05] kokarn commented on #356
I'm running windows. I'll have a look ASAP, hopefully today

[2017-03-01 14:10] kokarn commented on #356
Quick check.

I've installed lesshint globally with ```npm install -g lesshint``` in a default terminal.

Running ```lesshint test.less``` works as expected inside powershell for me.

[2017-03-01 14:14] kokarn commented on #355
I'm not following 100% either.

You want to specify a property that has to have a variable as a value but you want to treat some values, such as ```none``` and ```inherit``` as a variable, correct?

[2017-03-01 19:56] jwilsson commented on #349
@aloisdg How's it going? Is there anything we can help you with?

[2017-03-01 19:56] jwilsson commented on #347
@justtal I say go for it!

[2017-03-01 19:57] jwilsson commented on #96
@shellscape Friendly ping 😄

[2017-03-01 20:03] jwilsson commented on #354
@elliottcrush Thanks for the well-written proposal and for using the template!

I'm not sure this is a fit for core though. I could see it conflicting with `urlFormat` and doesn't feel general-purpose enough. But it sounds like a great fit for a [custom linter](https://github.com/lesshint/lesshint/blob/master/docs/developer-guide/linters.md).

I've been thinking about adding a list of community ru

[2017-03-01 20:38] jodiedoubleday commented on #355
So in my config i have `VariableValue` switched on for `color`
I want to ensure people use colors from a specified color palette which have already been created as variables previously. So i'm forcing people to use variables.

However, sometimes people might want to use `color: inherit` which is a legit. The aren't creating new colors, but i don't feel like inherit needs to be a variable.

essenti

[2017-03-02 07:53] kokarn commented on #354
@jwilsson a custom linter seems a bit overkill, doesn't it? Or do I confuse linters with rules in a more general sense?

I can agree that it doesn't seem general-purpose enough but having a way to add custom rules easy seems like something that might be a good idea.

[2017-03-02 07:54] kokarn commented on #355
👍 Sounds good, any other members wanna chime in?

[2017-03-02 08:03] aloisdg commented on #349
@jwilsson didnt get the time right now. Will look for it the weekend or next week. Feel free to fix it before if needed. :)

[2017-03-02 08:45] elliottcrush commented on #354
I wonder if the naming i've chosen above is perhaps not as clear as it should be @jwilsson

Perhaps the ability to pass in an array of variables you'd wish to prefix with would also be beneficial and more it more general purpose.

[code]

Perhaps if that is still an uncomfortable change I could extend the `urlFormat` method to support known variables as a prefix to a URL?

[2017-03-02 10:01] przemyslawjanpietrzak commented on #356
Command `lesshint file.less` works in powershell.
But I can't run command for lint all less files.
Install lesshint globally doesn't change anything.

[2017-03-02 10:21] kokarn commented on #356
I assume you did what I tried and ran ```lesshint *.less```?
You have to specify a file and/or folder, not a glob pattern.

If not, what command did you run?

[2017-03-02 10:22] kokarn opened #357 "Improve CLI usage"
This is a placeholder for things I'd like to see implemented for the CLI.

* ```-v``` option to output a helping text that says "maybe you meant ```-V``` or ```--version```"
* Message when no files are found
* Something when just running ```lesshint```
* Allow glob patterns for files and/or folders

[2017-03-02 10:30] przemyslawjanpietrzak commented on #356
Commands `lesshint .` or `lesshint *.less` doesn't print any output.
Lint exact file works correctly.

[2017-03-02 10:32] kokarn commented on #356
Can you send the file?

I've tested ```lesshint .``` in my powershell and that works fine

[2017-03-02 10:37] przemyslawjanpietrzak commented on #356
I can not (company policy), sorry.

I noticed that command `lesshint .` takes couple seconds. After that returns 0, without any print.
So linter should works correctly, but generate output doesn't not (on my machine).

[2017-03-02 10:42] kokarn commented on #356
Can you maybe build a custom file that represents the error that you can share with us?

Please try with this file and see if that works
[code]
Is every file in the same folder?
What Windows version are you on?

[2017-03-02 10:54] przemyslawjanpietrzak commented on #356
Command `less style.less` (this this content) prints
[code]

[2017-03-02 11:01] kokarn commented on #356
I'm sorry, but I can't reproduce at all. Not sure what to do at this point :/
![screenshot](http://i.imgur.com/URL1fix.png)

[2017-03-02 11:03] przemyslawjanpietrzak commented on #356
So it's something wrong with my OS.
Thank you for your time :)

[2017-03-02 12:13] kokarn commented on #356
I'll leave this open for a week or something to see if somebody has any ideas. If not I think we can close.

[2017-03-02 13:22] shellscape commented on #355
Seems like a good use case to me. My vote is for an `allowedValues` property to specify which values are also allowed.

This then begs the question - should we nix `valueVariable` and move that into a linter which specifies what types of values can be applied to a property?

[2017-03-02 13:24] shellscape commented on #357
`globby` for the last one. best glob module I've used

[2017-03-02 13:28] shellscape commented on #354
It's a neat idea for sure, but this is too specialized for lesshint core imho. We've talked about third party, add-on linters in the past, and I think this is a great fit for that. It's also a great fit for a webpack (or your packer of choice) plugin.

[2017-03-02 14:14] jwilsson commented on #357
We got `-V` and `--version` which is automatically supplied by `commander.js`. I also think we should save `-v` for a future `--verbose`.

Do you mean when `lesshint foo/` is run and `foo/` is empty, it should print something? If so, agreed.

This has worked before, I think we broke it in `3.0`.

Agreed. It looks like we can replace `minimatch` (which we're currently using) with `globby` since `gl

[2017-03-02 14:17] jwilsson commented on #354
@kokarn Yes, custom rules and custom linters are the same. I'm just sloppy and use the terms interchangeably.

I'm sorry, @elliottcrush. I still think it's too specialized. But as stated earlier, we'd be happy to provide a link to it in our docs.

[2017-03-02 14:24] elliottcrush commented on #354
Thanks @shellscape, @jwilsson and @kokarn - I understand that its not a fit for core. I'll separate it into a customer linter and notify you all when its all setup. Thanks for the feedback

[2017-03-02 14:48] jwilsson commented on #357
My bad, `globby` and `minimatch` does different things (of course). I say we use `globby` too.

[2017-03-02 14:53] kokarn commented on #357
Updated suggestion, until we get ```-v``` a helping text that says "maybe you ment ```-V```" would be nice

[2017-03-02 16:43] JoshuaKGoldberg commented on #356
@przemyslawjanpietrzak have you tried running it via the traditional cmd instead of powershell? Does that work?

We should try to eliminate the possibility of it being a `lesshint` bug. There are at least a couple things you can try:
* Can you binary search the offending `.less` file?
  * Remove the first half of the file
  * Re-run `lesshint` on the file
  * If it gives output, leave out the firs

[2017-03-03 08:22] kokarn commented on #356
Just a quick note, as far as I understood it works in bash but not powershell

[2017-03-03 08:32] przemyslawjanpietrzak commented on #356
I debug lesshint and during run lint with arg `.\**\*.less` from powershell, runner.js file catch  `Error: ENOENT: no such file or directory, stat 'Q:\lesshint\**\*.less`. Error came from `fs.stat(checkPath, (err, stats)...` call in lib/lesshint.js file

[2017-03-03 16:53] JoshuaKGoldberg commented on #356
Is this referring to the Ubuntu bash on Windows 10, which is actually bash, or the default Windows command prompt?

A few comments on your post:
* Why the `/` verses `\` difference in slashes? Do things change if you use the same style in both cmd and powershell?
* A little more error information than the `ENOENT` would be nice. Can you `console.log(new Error().stack);`? What are the paths your `l

[2017-03-05 10:08] #310 closed

[2017-03-06 07:59] przemyslawjanpietrzak commented on #356
1) `/` is just for bash, cmd and powershell required `\`
2) full error message
[code]
I located `lesshint` in node_modules, globally, or from cloned repo effect still the same.

3) I can, but `lesshint` crashed before any file is read (lib/lesshint.js: line 91 fs.stat error)

[2017-03-06 15:13] shp-novicell opened #358 "newlineAfterBlock doesn't work"
The code example from your website with valid/invalid doesn't work when I paste in my own code.
I have the newest version (3.0.0).

**Which version of `lesshint` are you using?**

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did

[2017-03-06 15:31] shellscape commented on #358
@shp-novicell please fill out the questions in the issue template that you left blank 😄  they're there to help everyone triage your issue.

[2017-03-07 11:24] shp-novicell commented on #358
@shellscape Sorry about that :)

Here's some info:

lesshint verion:  3.0.0
Using Gulp

Here's what the setting in my .lesshintrc file looks like:
`{
    "fileExtensions": [ ".less", ".css" ],
    "excludedFiles": [ "./node_modules/**/*.less"],
    "spaceAfterPropertyColon": {
        "enabled": true,
        "style": "one_space"
    },
    "spaceAroundComma": {
        "style": "after",
        "

[2017-03-07 12:28] jwilsson commented on #355
I think we should go for a `exclude`/`allowedValues` option (not sure about the name yet) but a PR would be more than welcome @jodiedoubleday!

[2017-03-07 12:35] jwilsson commented on #349
@aloisdg No worries! We're not in a hurry, let us know if we can help out with anything.

[2017-03-07 12:37] jwilsson commented on #352
Hmm, I'm not sure how I feel. I'm afraid that it might cause a sense of obligation to prioritize certain issues since the reporter (or their company) is funding the project. If we had some expenses (a domain name, CI, etc.) I think that would be alright but since we don't I don't see a need for it right now.

But we need at least 100 stars on the repo, right? So we could re-evaluate when we reach

[2017-03-07 12:42] jwilsson commented on #358
@shp-novicell I took the liberty to reformat your config block, hope that's alright :)

I've checked our examples using both the CLI and using Gulp (with your config) and I'm getting the expected warning. Could you please test again using `3.1.0`. It shouldn't matter since we didn't touch `newlineAfterBlock` between `3.0.0` and `3.1.0` but just to be sure.

BTW, what kind of line endings are you u

[2017-03-07 13:02] shellscape commented on #352
I'm not sure you're fully groking the service. OpenCollective isn't funding anything directly - the projects still rely on donations. Same as Flattr or Pledgie. You need but look at Mocha's page to view a snapshot of how it works https://opencollective.com/mochajs#budget. Users become backers (of which a project like Webpack has hundreds now) and companies can sponsor. It doesn't provide any impli

[2017-03-07 19:42] jwilsson commented on #352
Aha, so if there aren't any expenses the money just sits there. Cool.

Let me think it over for a few more days (it's a while before we hit 100 stars anyway).

[2017-03-08 07:42] #354 closed

[2017-03-13 12:33] #349 closed

[2017-03-14 23:00] aftenkap opened #362 "Inline configuration fails with base64 @font-face"
Providing inline configuration to lesshint fails for base64 encoded font faces.

**Which version of `lesshint` are you using?**
latest (3.1.0)
Reproduced in 3.0.0, 3.0.1, and 2.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI/gulp-lesshint

**What's your `.lesshintrc` configuration?**
none/default

**If you're reporting a bug, please show us some code that's failin

[2017-03-15 15:24] aftenkap commented on #362
Apparently, it is an issue if the configuration comment is not the very first line within the file...

[2017-03-15 20:16] amandakalk opened #364 "urlQuotes throwing warning for LESS variable"
**Which version of `lesshint` are you using?**
3.1.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Gulp

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
No warning. The variable evaluates to a properly quoted url.

**What's the actual result?**
I get

[2017-03-16 07:12] jwilsson commented on #364
Hi,
Thanks for the report!

I think it would make sense for it to ignore variables. If the rest of the team agrees, would you be interested in submitting a PR @amandakalk?

[2017-03-16 07:44] kokarn commented on #364
👍

Would this come up somewhere else or maybe break in some situations?
I'm looking at the [documentation](http://lesscss.org/features/#features-overview-feature-variables) and if I'm not mistaken you could end up doing something like

[code]

Does this matter in any case or can we safely ignore all the vars?

[2017-03-16 13:53] amandakalk commented on #364
If you ignore variables completely, this would compile and not throw the error:
[code]
This **would not** compile at all (unquoted string with slash):
[code]

So technically you could be ignoring a failure, but seems kind of unlikely that your URL wouldn't contain a slash in it.

[2017-03-16 18:21] jwilsson commented on #362
Yes, this is unfortunately a known limitation with the current inline configuration comments.

[2017-03-16 20:12] jwilsson commented on #364
Thanks for the extra examples!

I agree that a URL without a slash seems unlikely, and we can never be sure of what the variable actually contains. I still think just ignoring variables in `url()` is fine (FWIW I checked other linters and they do it too).

A PR would be highly appreciated! Let us know if you need anything.

[2017-03-17 20:42] #364 closed

[2017-03-17 20:42] jwilsson commented on #364
Closed in #366.

[2017-03-18 04:06] ngyikp opened #367 "Can't lint mixin statements with too many nesting parenthesis"
**Which version of `lesshint` are you using?**
[lesshint@3.1.0  (git+https://github.com/lesshint/lesshint.git#4508e81a6cdd5ddc6b380ee58fea64be57fff6b9)](https://github.com/lesshint/lesshint/commit/4508e81a6cdd5ddc6b380ee58fea64be57fff6b9)

Current version of 3.1.0 is also failing, but doesn't output errors to CLI properly, so that's why I'm using git master branch.

**How are you running `lesshint

[2017-03-24 08:22] jwilsson commented on #367
Hmm, it might be fixed by updating `postcss-values-parser` (but there's unfortunately a lot of other issues with that right now).

@shellscape What do you think?

[2017-03-24 14:31] shellscape commented on #367
what were the outstanding issues in values parser? I honestly can't recall

[2017-03-24 17:47] jwilsson commented on #367
@shellscape See this build: https://travis-ci.org/lesshint/lesshint/builds/200394096

The problems are in `spaceAroundOperator`.

[2017-03-24 17:47] jwilsson commented on #340
For future reference: The failing build:  https://travis-ci.org/lesshint/lesshint/builds/200394096

`spaceAroundOperator` is the culprit.

[2017-03-25 01:32] wareczek opened #368 "spaceAfterPropertyValue bug with !important"
[code]
lesshint don't report this situation.

[2017-03-25 02:09] shellscape commented on #367
Ah because of the parsing to spec. Did you implement https://www.npmjs.com/package/postcss-values-parser#css-like-languages ?

[2017-03-25 13:21] jwilsson commented on #368
Confirmed, wanna send a PR?

[2017-03-29 15:35] lucastobrazil opened #369 "Config file not found in project root, instead looking in node_modules folder"
**Which version of `lesshint` are you using?**
Using Lesshint 3.1.1

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
via npm start - lesshint is being run via lesshint-webpack-plugin

**If you're reporting a bug, please show us some code that's failing.**
[code]

**What did you expect to happen?**
I am running `webpack` from a `webpack.config.js` file and using the `lesshi

[2017-03-29 17:22] JakeSidSmith opened #370 "Picking up incorrect depth when max depthLevel specified"
**Which version of `lesshint` are you using?**

3.1.1

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

CLI

[code]

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

Only seems to fail if there's more than one mixin. But also having lots of other depth issues all over the less.

[code]

Also here

[2017-03-29 18:54] jwilsson commented on #369
Hi!
It should work like you expect it to, what does your `npm start` script look like?

[2017-03-29 19:03] jwilsson commented on #370
Confirmed, thanks for the report!

If you are interested in submitting a PR, we'd be happy to help! Start by checking out the [contributing guidelines](https://github.com/lesshint/lesshint/blob/master/CONTRIBUTING.md).

After that, I'd start looking at these lines in `lib/linters/depth_level.js`:

[code]

And the PostCSS docs on [walkRules](http://api.postcss.org/Container.html#walkRules) should b

[2017-03-29 19:07] lucastobrazil commented on #369
[code]

[2017-03-29 19:08] lucastobrazil commented on #369
[code]

[2017-03-30 06:12] jwilsson commented on #369
Hmm, this is really strange. It's picking up the `.lesshintrc` file for me. Which OS are you on?

[2017-03-30 08:18] lucastobrazil commented on #369
Mac OS Sierra 10.12.3. Here's the repo i'm working on if you want to clone it and see :)
https://github.com/lucastobrazil/MyReactBoilerplate

[2017-03-30 17:47] jwilsson commented on #369
Cool, thanks! We're on the same OS then, so that's not the problem.

I tried with that repo too and I'm getting linting errors:

[code]

I don't know what to tell you 😕  But if you're fine with passing a JSON-file then I guess that's the solution for now. Let me know if you find the issue, though!

[2017-03-30 18:45] lucastobrazil commented on #369
Sure thing :) yep that warning is there on purpose - basically my _actual_ '.lesshintrc' file has this property turned off, so if the plugin were reading from my file then it wouldn't throw that warning.

All good though! Just odd behaviour eh! Will let u know if I find the culprit :-)

[2017-03-31 06:47] jwilsson commented on #369
Ah, sorry! My bad, I didn't look closely enough.

But! I think I found the issue, the `lesshint-webpack-plugin` doesn't use the [Lesshint.getConfig()](https://github.com/lesshint/lesshint/blob/master/docs/developer-guide/api/lesshint.md#lesshintgetconfigpath) method to load the config file. That's the method which is responsible for looking for a `.lesshintrc` file.

I'd file an issue on the `less

[2017-03-31 07:45] lucastobrazil commented on #369
Ahh nice! thanks :) Will do.

[2017-03-31 09:28] #369 closed

[2017-03-31 13:47] shellscape commented on #369
@jwilsson we ought to invite the project into the org :)

[2017-03-31 17:01] jwilsson commented on #369
@shellscape Good idea! I'll reach out to them.

[2017-04-04 10:02] JakeSidSmith commented on #370
@jwilsson, thanks for the info. Trying to find some time to take a look at this. :)

[2017-04-04 16:42] ericsakmar opened #371 "Inline Configuration with Multiple Selectors"
**Which version of `lesshint` are you using?**
3.1.1

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
cli

**What's your `.lesshintrc` configuration?**
default

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
no warnings

**What's the actual result?**
[code]

**Would you be interested in submitting a PR fo

[2017-04-04 19:00] jwilsson commented on #371
Hmm, strange.

A PR would be very appreciated! Just give me a shout if you need anything.

[2017-04-05 12:39] ericsakmar commented on #371
This might actually be an issue with postcss or postcss-less.

[The call to `walkComments()`](https://github.com/lesshint/lesshint/blob/49b7e3b47832bb095402f7c4bea71001c046637f/lib/linter.js#L163) only returns one comment for the less I pasted originally.

[2017-04-05 12:45] ericsakmar commented on #371
Here's a branch with a failing test:
https://github.com/ericsakmar/lesshint/tree/two-inline-comments

[2017-04-06 14:35] jwilsson commented on #371
Yeah, it's looks like a PostCSS issue. Could you file an issue there?

Thanks!

[2017-04-10 10:13] JakeSidSmith commented on #370
@jwilsson not sure how to approach this...

I'm not sure this is really possible with the PostCSS walker, unless there's a plugin that make it work properly. It picks up mixins as regular "rules", and I think the only way to tell the difference would be to regex match the selectors, but when they contain a block, it appears not to traverse that block, which means it wont lint anything inside there

[2017-04-10 13:55] JakeSidSmith commented on #370
An [issue](https://github.com/webschik/postcss-less/issues/63) in `postcss-less` mentions the lack of mixin parsing, and a fix is available [here](https://github.com/webschik/postcss-less/pull/65). I think I'll have to wait for that.

Though, `postcss-less` appears to be in need of maintainers. Perhaps you guys would like to take it on?

[2017-04-10 14:56] shellscape commented on #370
yeah their project was put together for a specific integration, and I don't think the owner was prepared for the adopting and wide use it got. slow movement has kind of been a historical problem with parsers in general (and a big reason why we switched to a postcss-based implementation). I've got three open issues of my own on that project and they haven't been addressed since August of last year.

[2017-04-11 09:59] JakeSidSmith commented on #370
I'd fork it myself... but I've already got too many libs to maintain, and I'd only be using it for this project. I'd be happy to help out when I can if lesshint is willing to adopt that project.

Have any of you considered / tried writing your own parser for this, for your specific needs, rather than relying on a CSS parser with plugins?

[2017-04-11 12:40] shellscape commented on #370
lesshint used to rely on gonzales-pe, which was a long-established stand-alone parser that just fell into stagnation and started suffering from poor support for LESS after some questionable updates. Parsers are hard. PostCSS is really solid and made the most sense for a base.

[2017-04-12 17:14] WattyRev opened #372 "Custom linters are not resolved when current directory is a child directory"
**Which version of `lesshint` are you using?**
3.1.1

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
`lesshint *` from inside a child folder or via Atom lesshint plugin

**What's your `.lesshintrc` configuration?**

[code]

**What did you expect to happen?**
I expected that my custom linter would get resolved when using the Atom lesshint plugin and when running `lesshint

[2017-04-12 18:15] WattyRev commented on #372
I played around with this some more, and I think I found a way to make this work how I expected it to. Pull request here: https://github.com/lesshint/lesshint/pull/373

[2017-04-22 06:18] jwilsson commented on #372
Closed in #375.

[2017-04-22 06:18] #372 closed

[2017-04-22 06:19] jwilsson commented on #358
@shp-novicell Just wanted to check in with you. Is this still an issue?

[2017-04-26 12:23] #368 closed

[2017-05-04 12:01] #340 closed

[2017-05-04 12:41] jwilsson commented on #367
Can confirm that this is still present on `postcss-values-parser` `1.2.1`.

Filed an issue there: https://github.com/shellscape/postcss-values-parser/issues/25

[2017-05-04 12:41] #367 closed

[2017-05-04 14:13] shellscape opened #380 "postcss-less Project Adoption"
Well, it's official - The [postcss-less](https://github.com/webschik/postcss-less) project has been tagged on the first line of its README as "UNMAINTAINED." I've reached out to @webschik to see if there's any chance of transferring ownership of the repo and npm module.

The situation begs two questions:
- Is the org interested in maintaining that module?
- Are we willing to devote time to the mod

[2017-05-05 01:34] shellscape commented on #380
So some good news, the owner transferred the project over this evening. I merged a PR for PostCSS 5.2 support. What are the outstanding issues preventing us from updating at this point?

[2017-05-05 01:52] shellscape opened #381 "Bumping the Engine to Node 6x"
(Copied from my comment on https://github.com/stylelint/stylelint/pull/2497 - I think this is valid for Lesshint as well)

there's a myriad of functional, language, and performance updates that benefit users of newer versions of node, as can be seen here: http://node.green/. Node v4 was first released in 2015. Not wanting to exclude users that cannot update is noble, but those users have to grappl

[2017-05-05 06:24] jwilsson commented on #380
That's great news! 🎉

I'll admit I was a bit reluctant to keep it under the lesshint org, it could have sent the wrong signals, i.e. that we cater to our needs first and foremost (which I don't think we should) and that would've kept people from using it.

I'm glad it worked out this way and so fast too! I'll of course help out as much as I can.

I just took it for a test run with the latest maste

[2017-05-05 06:36] jwilsson commented on #381
Hmm, since Node 4 is still supported by the Node Foundation for almost a whole year more (albeit in maintenance mode) I don't really feel comfortable dropping support for it just yet.

While I'm not really a fan of transpiling Node modules perhaps that could be a solution? Using something like [babel-env](https://github.com/babel/babel-preset-env) to just target Node 4 in `postcss-less` we won't n

[2017-05-05 12:19] shellscape commented on #381
Well I (and the company I work for) go off of the LTS timeline. Active LTS ended on April 1st and maintenance mode is really nothing more than "your last chance before we ditch the version." Node 4 is two years old, and in technology that's a millennium. Adding that people have had a full year to update to something other than 4, and I'm sold on the engine bump. We're a component, a small tool, an

[2017-05-05 12:38] kokarn commented on #381
I'm with @jwilsson on this.
We have a lot of systems and developers still running node 4 in a bunch of different scenarios and I don't really see the great benefit of dropping it.

Sure we could write it to be more performant and run some newer, cooler features but what do we actually gain from it?

[2017-05-05 12:40] jwilsson commented on #381
I'm totally fine with `postcss-less` and `postcss-values-parser` moving on (just tag major versions, please 😬 ) but I think we should keep `lesshint` on Node 4 for now.

[2017-05-05 12:40] shellscape commented on #381
that. you gain that right there. lol. build process time is precious.

[2017-05-05 12:49] kokarn commented on #381
I totally agree that we still have 4.* in some places is absolutely a problem. But as large corporations go, that's usually where it ends up. We do have upgrade paths but it's not prioritised as long as 4 is supported.

Regarding 0.12 we dropped it less than 6 months ago, almost exactly at the same time maintenance stopped. I think we should do the same for 4.*

[2017-05-05 12:59] shellscape commented on #381
Welp, that's unfortunate. New versions of Lesshint really should be moved to a newer minimum version of node to take advantage of the massive performance improvements 6x enjoys. The decision not to essentially punishes the majority of your users while supporting the unfortunate few.

[2017-05-05 12:59] #381 closed

[2017-05-05 13:02] shellscape commented on #381
And just so you guys know I'm not being silly about the incredible improvements in Node 6...

http://www.infoworld.com/article/3061213/javascript/nodejs-6-taps-v8-update-for-more-speed-security.html
https://blog.risingstack.com/whats-new-in-node-v6/
https://blog.wikimedia.org/2017/02/17/node-6-wikimedia/

The info in those articles alone should be influential.

[2017-05-05 13:26] jwilsson commented on #381
Thanks for the links!

But based on those and other things I've read and heard, I've gotten the impression that most performance improvements are related to changes in V8 and Node internals. So users on Node 6 will get the improvements anyway, right? While those on Node 4 simply won't.

I agree that there are some really nice features in ES2016, ES2017, and so forth but I don't see anything obviou

[2017-05-06 06:50] jwilsson commented on #380
Closing this since it's been adopted by you, @shellscape.

[2017-05-06 06:50] #380 closed

[2017-05-06 12:32] shellscape commented on #380
Ah yes, sorry for the lack of update. Had a great convo with webschik and he transferred it over.

[2017-05-07 02:07] shellscape opened #384 "Proactive: postcss-less 1.0 and Imports"
[ A quick issue to track a coming breaking change to postcss-less 1.0 in a week or three. see [postcss-less:#56](https://github.com/shellscape/postcss-less/issues/57) ]

In prior versions, imports were handled as `AtRule` and some of the LESS-specific things about `@import` like directives were misplaced in properties for `AtRule`. As of 1.0, a new node type `Import` will replace `AtRule` for `@im

[2017-05-07 05:54] jwilsson commented on #384
Great, thanks for the heads up!

[2017-05-08 17:00] jwilsson commented on #370
@JakeSidSmith I tried again with the code you posted (@shellscape has adopted the `postcss-less` library and started publishing fixes) and it seems to work with the latest version of it.

I'm gonna close this issue, but just leave a comment if your issue still persists!

[2017-05-08 17:00] #370 closed

[2017-05-10 20:48] kaiyoma opened #385 "Documentation about inline configuration isn't clear"
In particular, this section: https://github.com/lesshint/lesshint/blob/master/docs/user-guide/configuration.md#inline-configuration

It fails to mention that the `// lesshint foo` line must be the first line in the file. I wasted a lot of time today trying to figure out why my ignores weren't working. I noticed there's a proposal to make these ignore statements more flexible, but until then, the d

[2017-05-10 21:24] kaiyoma opened #386 "CLI output of path-less filenames is ambiguous"
We have lots of `styles.less` files scattered throughout our project (over 60 at last count). When I run lesshint, I get output that looks like this:

[code]

Clearly, this isn't helpful at all. I admit that always printing the full path could be really noisy and annoying, but maybe we could have a command-line option for printing the full path?

[2017-05-10 21:40] kaiyoma opened #387 "Missing comma in CLI help text"
In version 3.3.1, the `linters` line is missing a comma after the `-l`, which throws off the formatting a bit:

[code]

[2017-05-11 05:41] jwilsson commented on #385
Agreed, I'll look at updating it.

[2017-05-11 05:42] jwilsson commented on #386
Could another reporter work? For example [lesshint-reporter-stylisher](https://www.npmjs.com/package/lesshint-reporter-stylisher)?

[2017-05-11 05:43] jwilsson commented on #387
Thought I had fixed that! I'll get right on it!

[2017-05-11 05:44] jwilsson commented on #387
And fixed in 49f560fee444a6aee152b56e26102a32bd5d9cbb.

[2017-05-11 05:44] #387 closed

[2017-05-11 06:04] kaiyoma commented on #386
Oh interesting, I didn't know about that. Let me try it out tomorrow and get back to you.

[2017-05-11 07:44] #385 closed

[2017-05-11 13:18] wareczek commented on #386
reporter-teamcity has file paths, but you need to use it with TeamCity :)
https://github.com/lesshint/reporter-teamcity

![screenshot from 2017-05-11 15-17-21](https://cloud.githubusercontent.com/assets/1897839/25951115/01d50c32-365d-11e7-8fe5-4617b6d31071.png)

[2017-05-11 17:23] kaiyoma commented on #386
@jwilsson The "stylisher" reporter is just what I was looking for, thanks! Feel free to close this issue.

[2017-05-11 19:37] kaiyoma opened #388 "Per-file configuration is applied to all files"
`package.json`:

[code]

`styles-1.less`:

[code]

`styles-2.less`:

[code]

`npm run lesshint` results in two warnings, as expected:

[code]

Now let's add an ignore directive to only `styles-1.less`, so it becomes:

[code]

I would expect that the warning from the first file would go away, but we'd still get the warning from the second file. However, that's not the case; both warnings go away, p

[2017-05-11 19:40] kaiyoma opened #389 "spaceAfterPropertyColon should support "one or more" as an option"
Because sometimes you want to do this without adding exceptions:

[code]

[2017-05-12 06:02] #386 closed

[2017-05-12 06:02] jwilsson commented on #389
I don't know why our `at_least_one_space` option isn't documented but try this one out:

[code]

And I'll add it to the docs.

[2017-05-12 06:02] #389 closed

[2017-05-12 06:13] jwilsson commented on #388
Confirmed, this is a bug.

I think I know what's causing it though, I'll push a fix shortly.

[2017-05-12 09:20] JakeSidSmith commented on #370
@jwilsson so, this issue should be fixed now? I'll give it a go today.

[2017-05-12 10:09] jwilsson commented on #370
@JakeSidSmith Yeah, try with the latest `lesshint`. Sorry that I wasn't clear.

[2017-05-12 10:17] JakeSidSmith opened #391 "Variables in class names picked up as qualifying elements"
**Which version of `lesshint` are you using?**

`3.3.1`

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

CLI:

`lesshint 'src/less/'`

**What's your `.lesshintrc` configuration?**

Only part that's relevant:

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

These lines should not error

**What's t

[2017-05-12 15:29] shellscape opened #392 "Proactive: postcss-less 1.0 and Rules"
[ A quick issue to track a coming breaking change to postcss-less 1.0 in a week or three. see [postcss-less:#72](https://github.com/shellscape/postcss-less/pull/72) ]

Please see [the README changes in this PR](https://github.com/shellscape/postcss-less/pull/72/files#diff-04c6e90faac2675aa89e2176d2eec7d8) for a summary of the breaking changes coming to `Rule` nodes in postcss-less 1.0.

TL;DR

`Ru

[2017-05-16 10:56] jwilsson commented on #391
Thanks for the issue!

It looks like a issue in `postcss-less`, yes. I'll try to create a reduced test case and post there if you don't beat me to it, @JakeSidSmith.

[2017-05-16 11:01] jwilsson commented on #388
This should be fixed by da93ccb8359df9602c64afcd228dd97105a05589.

[2017-05-16 11:01] #388 closed

[2017-05-16 11:03] jwilsson commented on #358
Closing this due to inactivity.

@shp-novicell Please leave a comment if you disagree or are still having issues!

[2017-05-16 11:03] #358 closed

[2017-05-16 11:04] jwilsson commented on #96
Closing this since I don't think we'll ever get around to it.

Please reopen or comment if you disagree!

[2017-05-16 11:04] #96 closed

[2017-05-18 08:38] jwilsson commented on #391
Actually, when investigating closer I think this is an issue with [postcss-selector-parser](https://github.com/postcss/postcss-selector-parser) and not `postcss-less`.

[2017-05-18 09:15] JakeSidSmith commented on #391
Ah, kay. Thanks for doing some research. If I have some time I'll take a look into this, but I'm pretty swamped at the mo.

[2017-05-18 15:08] jwilsson commented on #391
Created an issue for it over at postcss-selector-parser: https://github.com/postcss/postcss-selector-parser/issues/109

[2017-05-20 22:46] JakeSidSmith commented on #370
@jwilsson you're gonna have to reopen this issue. Just updated the project that the code above is from to lesshint `3.3.1` and still having the depth issues. Only occurring with nested mixins as before.

With `depthLevel: 3`:

[code]

Also, still not traversing mixin content. E.g. the following with `variableValue: 'color'` does not error:

[code]

[2017-05-25 10:48] raciat opened #394 "Warnings cause exit code 1 by default"
Ref: https://github.com/lesshint/lesshint/releases/tag/v3.0.0

**Which version of `lesshint` are you using?**
3.3.1.

Executing: `lesshint ./src` (without `-x` flag), exits with code 1 and breaks my build.

**What did you expect to happen?**
Exit with code 0.

**What's the actual result?**
Exit with code 1.

I did try with `-x false` etc., but it's always the same effect. It only works when I use

[2017-05-29 07:04] jwilsson opened #395 "Cannot read property 'line' of undefined in singleLinePerProperty"
**Which version of `lesshint` are you using?**
`3.3.1`

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**
Default

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
Just ignore it or emit a parse error since it's invalid Less.

**What's the actual result?**
It

[2017-05-29 07:23] jwilsson commented on #394
Hmm, something isn't correct, yes. I'm not sure if it's a docs issue, a bug, or something else just yet (I've been thinking of changing the exit code behaviour when there's only warnings too).

Let me think about it for a little while.

[2017-05-29 14:25] tamer1an commented on #394
Thanks @jwilsson  for looking at it  :mag:  we have the same issue.

[2017-06-01 08:38] jwilsson commented on #394
What are your feelings about this, @lesshint/team?

Change the current
* Linting errors with a severity of `warning` gives exit code `1`
* Linting errors with a severity of `error` gives exit code `2`

to

* Linting errors with a severity of `warning` gives exit code `0`
* Linting errors with a severity of `error` gives exit code `1`

So builds will only fail when there are actual errors (FWIW, I'

[2017-06-01 08:50] kokarn commented on #394
👍

[2017-06-01 08:59] JoshuaKGoldberg commented on #394
:+1:

[2017-06-02 05:57] jwilsson commented on #394
Thanks for the quick feedback guys!

@raciat and @tamer1an would one of you be interested in submitting a PR changing the exit code behaviour to the one outlined above?

[2017-06-02 12:18] raciat commented on #394
@jwilsson sure, I can do that.

[2017-06-02 15:35] tamer1an commented on #394
@raciat thanks.

[2017-06-19 22:09] dsandstrom opened #400 "Add support for properties ordered by smacss"
I have grown to like the "smacss" order that is based on [Scalable and Modular Architecture for CSS](https://smacss.com/book/formatting).  Basically, properties are ordered by:
1. Box
2. Border
3. Background
4. Text
5. Other

I have been using it with scss-lint, but would also like it available when working with less.

Here is what scss-lint is using to figure out positioning: https://github.com/b

[2017-06-24 19:20] jwilsson commented on #400
Hi!
I'm a bit unsure if this is a good fit for core, for two reasons.

1. It's a bit too opinionated and not "general-purpose" enough.
2. I really don't want to maintain a list of CSS properties 😬  That'll change way too quick.

It sounds like a good idea for a custom linter, though. Take a look at [the docs](https://github.com/lesshint/lesshint/blob/master/docs/developer-guide/linters.md) and [le

[2017-06-25 07:50] #394 closed

[2017-06-25 07:52] #384 closed

[2017-06-25 07:52] #392 closed

[2017-07-06 09:16] jwilsson opened #404 "Enhanced inline configuration option comments"
I've been thinking of replacing the [current inline configuration options](https://github.com/lesshint/lesshint/blob/7d717edbc060cc2c9ba2523aed6eb5db1f7c5b6b/docs/user-guide/configuration.md#inline-configuration) with some more fine grained ones. The new ones will not support anything else but disabling/enabling of rules already configured in `.lesshintrc`.

But the upsides will be:
* Disable/enab

[2017-07-06 09:21] jwilsson commented on #404
We'll of course continue to support the old format for the time being, but mark it as deprecated in the docs.

[2017-07-10 08:32] #343 closed

[2017-07-10 08:33] #400 closed

[2017-07-20 09:25] jwilsson commented on #268
Marking as "blocked" due to https://github.com/shellscape/postcss-values-parser/issues/32.

[2017-07-20 10:49] jwilsson commented on #267
Marking as "blocked" due to https://github.com/shellscape/postcss-less/issues/87.

[2017-07-20 11:43] jwilsson commented on #342
I'll mark this as "blocked" since we can't check this right now because we normalize all line endings before passing the source Less to `postcss`.

Changing it is a small, but breaking change so I'll create a new issue covering that for the next major version.

[2017-07-20 11:46] jwilsson opened #410 "Stop normalizing line endings"
We're currently normalizing all line endings to `\n` because of an [really old issue](https://github.com/lesshint/lesshint/issues/40) with them. This shouldn't be necessary anymore and is actually stopping us from implementing some [new rules](https://github.com/lesshint/lesshint/issues/342).

But since there might be custom linters which depend on line endings being normalized I propose we remove

[2017-07-20 14:00] greenkeeper[bot] opened #411 "Update postcss-values-parser to 1.3.0"
## Version **1.3.0** of [postcss-values-parser](https://github.com/lesshint/postcss-values-parser) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-values-parser-1.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss-values-parser

[2017-07-20 14:29] jwilsson commented on #411
I've tagged `4.0.2` pinning `postcss-values-parser@1.2.2` until we can investigate further.

[2017-07-24 16:27] #231 closed

[2017-07-24 16:28] #344 closed

[2017-07-25 18:19] wareczek opened #425 "Syntax Error after update to v4.1.0"
[code]
[code]

[2017-07-26 06:55] jwilsson commented on #425
Thanks for the report!

It looks like a issue in [postcss-values-parser](https://github.com/shellscape/postcss-values-parser), though. We'll need to track it down there.

[2017-07-26 08:01] jwilsson commented on #425
No, wait. This is in our end. Updating `postcss-values-parser` (as was done in `4.1.0`) requires some more work. I'll revert it and tag a new version for now.

[2017-07-26 08:07] jwilsson commented on #411
Reopening this because we had to revert it in c26f1e6842fbe02051069961df1875e7e7cbc8e1 due to #425.

[2017-09-20 06:43] JoshuaKGoldberg opened #427 "spaceBeforeBrace flags trailing whitespace before a newline"
**Which version of `lesshint` are you using?**
4.1.1

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI and Node.js API

**What's your `.lesshintrc` configuration?**
*(everything else is disabled)*
[code]

**If you're reporting a bug, please show us some code that's failing.**
*Note the space after `.bbb`
[code]

**What did you expect to happen?**

[code]

**What's the a

[2017-09-20 16:09] hunterxyz opened #430 "Inline option for custom linters throws "Invalid inline option""
I'm using the version 4.1.1 and I'm using it through the API

I adde my .lesshintrc file my custom linter
[code]

[code]
It should import the linter rules if they are included into the .lesshintrc file

[2017-09-20 18:10] #427 closed

[2017-09-20 18:18] jwilsson commented on #430
Hi!
I think this is due to the hyphens in your rule name. It seems like it only accepts alphanumeric characters (where it should obviously accept anything).

I'll push a fix shortly.

[2017-09-20 18:29] #430 closed

[2017-09-20 18:40] jwilsson commented on #427
Fixed in `4.1.2`.

[2017-09-20 18:40] jwilsson commented on #430
Fixed in `4.1.2`.

[2017-09-24 21:02] JoshuaKGoldberg opened #431 "finalNewline will complain when ending with \r\n"
**Which version of `lesshint` are you using?** 4.1.2

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?** CLI and Node.js API

**What's your `.lesshintrc` configuration?**

Default/none.

**If you're reporting a bug, please show us some code that's failing.**

[code]

To be clear, each line ends with `\r\n`:

![image](https://user-images.githubusercontent.com/3335181/30786831-

[2017-09-25 17:25] #431 closed

[2017-09-25 19:41] donotknow opened #433 "Browser prefixed properties report failures for `spaceAroundOperator`"
### Example failing unit test

Here is an example of a failing test (didn’t seem worth it for me to create a fork/PR because I didn’t figure out where/how I should assert and fix on the underlying `postcss-values-parser` side of the house):

[code]

### More practical failing test

`.lesshintrc`
[code]

`style.less`
[code]

[code]
----

[code]

[2017-09-25 19:42] donotknow commented on #433
Let me know if you have any ideas on where the fix would be (in `postcss-values-parser` or otherwise), I can poke around and submit a PR. My first instinct was `word` under `postcss-values-parser` but that seemed to work fine in my assertions.

[2017-09-25 19:43] donotknow commented on #433
(Also somewhat related to #222 and #179)

[2017-09-26 17:48] jwilsson commented on #433
Hi!
Thanks for the thorough report and for using the template!

I think the issue lies in `postcss-values-parser`. It seems to work if the prefixed value is first in the list. But when it's the second (or further down) it's parsing the `-` as an `operator` node instead as part of the `word` node.

I'll file an issue over there.

[2017-10-06 19:20] Igloczek opened #436 "Linter fails on logical OR"
Code containing logical OR, which in LESS is just a comma, is failing the linting process.

I'm using v4.1.3 on Node v6.10.3 via CLI (I tried also a Gulp plugin, but it returns same issues) and with default config (no .lesshintrc).

LESS code samples:
[code]

[code]

Replacing `,` with `and` or removing the second condition is fixing an issue.

Stack trace:
[code]

[2017-10-09 20:17] jwilsson commented on #436
Hi!
It looks like you've run into [this issue over at postcss-selector-parser](https://github.com/postcss/postcss-selector-parser/issues/99). Please consider contributing a fix there, I don't think there's much we can do on our end.

[2017-10-10 09:48] Igloczek commented on #436
Thanks for the answer, I'll check this out.

[2017-10-23 21:16] kaiyoma commented on #50
Is this the closest we are to identifying rogue tabs in LESS files? Or is there another way that works right now?

[2017-10-24 15:48] jwilsson commented on #50
@kaiyoma Yes, I'm afraid this is the closest we are. If you got the time and are willing, a PR for this would be greatly appreciated!

[2017-10-24 17:57] jwilsson commented on #391
Hi!
I know it's a bit late, but we finally got a new release of `postcss-selector-parser` where this issue is fixed. I've just tagged a `lesshint@4.2.0` including that.

[2017-10-24 17:57] #391 closed

[2017-10-24 18:46] JakeSidSmith commented on #391
@jwilsson Awesome news. Looking forward to trying it out. :)

[2017-10-28 12:07] #411 closed

[2017-10-28 12:11] jwilsson commented on #425
I hope this is fixed in `4.3.0`, if not please let me know!

[2017-10-28 12:11] #425 closed

[2017-11-10 22:09] #267 closed

[2017-11-27 19:48] jwilsson commented on #356
I know this is waaaay to late, but in case someone else stumbles upon this issue.

In `lesshint@4.5.0` the CLI has a new method to check globs. Try running the `lesshint` command and quoting your glob pattern, i.e:

[code]

This will ensure the glob pattern is passed straight through to `lesshint`.

[2017-11-27 19:48] #356 closed

[2017-11-27 19:51] jwilsson commented on #357
I'm going to close this.

Point 3 and 4 are fixed and released.
Point 1 can't be solved in a nice way using `commander.js` and without adding a new flag.
Point 2 can't be really be solved either because there's really no way for us to know if there weren't any files found at all or just no linting errors in the files found.

[2017-11-27 19:51] #357 closed

[2017-11-30 08:43] kaiyoma opened #442 "Disabling a rule with an inline comment is not working"
**Which version of `lesshint` are you using?**
4.4.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI (via yarn)

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
No errors.

**What's the actual result?**
Two errors.

[2017-12-01 18:55] jwilsson commented on #442
Hi!
We always use prefix inline config comments with just `lesshint`. Even if they're just targeting a single line.

So this should do what you expect:
[code]

There are plans on enhancing the inline config comments, check out #404 if you're interested in helping out!

[2017-12-01 20:00] kaiyoma commented on #442
Oh jeez, sorry about that. I think I got the wrong syntax from the original proposal. Closing.

[2017-12-01 20:00] #442 closed

[2017-12-01 22:43] jwilsson commented on #221
I say this is superseeded by #404.

[2017-12-01 22:43] #221 closed

[2017-12-11 19:15] #355 closed

[2017-12-11 19:16] #404 closed

[2017-12-11 19:30] jwilsson commented on #371
For anyone else running into the same issue, as of `4.6.0` it's possible to create inline configuration ranges like this:

[code]

[2017-12-11 19:30] #371 closed

[2017-12-11 19:33] jwilsson commented on #362
For anyone else running into the same issue, as of 4.6.0 it's possible to create inline configuration ranges which will allow you to work around the issue.

For example:

[code]

[2017-12-11 19:33] #362 closed

[2017-12-11 19:33] jwilsson commented on #263
As of `4.6.0`, invalid inline configuration comments will be included in the linting results.

[2017-12-11 19:33] #263 closed

[2017-12-18 19:19] #346 closed

[2018-01-02 03:48] greenkeeper[bot] opened #447 "An in-range update of postcss is breaking the build 🚨"
## Version **6.0.15** of [postcss](https://github.com/postcss/postcss) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-6.0.15">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-01-02 10:43] #447 closed

[2018-01-04 19:18] #410 closed

[2018-01-05 12:03] greenkeeper[bot] opened #448 "An in-range update of gulp-eslint is breaking the build 🚨"
## Version **4.0.1** of [gulp-eslint](https://github.com/adametry/gulp-eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fgulp-eslint-4.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      gulp-eslint
    </td>
  </tr>
  <tr>
    <th align=

[2018-01-05 12:10] jwilsson commented on #448
Travis seems shaky lately.

[2018-01-05 12:10] #448 closed

[2018-01-06 03:10] greenkeeper[bot] opened #449 "An in-range update of postcss is breaking the build 🚨"
## Version **6.0.16** of [postcss](https://github.com/postcss/postcss) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-6.0.16">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-01-06 08:49] jwilsson commented on #449
Travis hiccup.

[2018-01-06 08:49] #449 closed

[2018-01-08 11:52] greenkeeper[bot] opened #450 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.4** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fsinon-4.1.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2018-01-08 16:46] #450 closed

[2018-01-17 09:32] greenkeeper[bot] opened #451 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.6** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fsinon-4.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2018-01-17 18:52] jwilsson commented on #451
False Travis alarm.

[2018-01-17 18:52] #451 closed

[2018-01-19 13:55] nighthavvk opened #452 "Multiple inline configurations issue"
Hello. I face an issue while using inline configurations. It's not possible to use inline disabling more than once in one file.

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Grunt plugin: "grunt-lesshint": "^1.5.1" (https://www.npmjs.com/package/grunt-lesshint)

**What's your `.lesshintrc` configuration?**
[code]

**What did you expect to happen?**
[code]

**What's the

[2018-01-20 08:28] jwilsson commented on #452
Hi!
Thanks for the report and for using the template!

This is a bug, I can confirm it.

[2018-01-21 13:12] greenkeeper[bot] opened #453 "An in-range update of sinon is breaking the build 🚨"
## Version **4.2.0** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fsinon-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2018-01-21 16:24] jwilsson commented on #453
Travis issue.

[2018-01-21 16:24] #453 closed

[2018-02-02 20:22] #452 closed

[2018-02-02 20:22] jwilsson commented on #452
A fix for this has been released in `4.6.4`.

[2018-02-12 17:14] greenkeeper[bot] opened #455 "An in-range update of postcss-values-parser is breaking the build 🚨"
## Version **1.3.2** of [postcss-values-parser](https://github.com/lesshint/postcss-values-parser) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-values-parser-1.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss-values-parser

[2018-02-15 12:00] greenkeeper[bot] opened #457 "An in-range update of postcss is breaking the build 🚨"
## Version **6.0.18** of [postcss](https://github.com/postcss/postcss) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-6.0.18">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-02-15 13:08] jwilsson commented on #457
False alarm from Travis.

[2018-02-15 13:08] #457 closed

[2018-02-17 22:40] greenkeeper[bot] opened #459 "An in-range update of postcss is breaking the build 🚨"
## Version **6.0.19** of [postcss](https://github.com/postcss/postcss) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpostcss-6.0.19">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2018-02-18 19:00] jwilsson commented on #459
False alarm from Travis.

[2018-02-18 19:00] #459 closed

[2018-02-18 19:25] wareczek opened #460 "[propertyOrdering] not working inside @media without selector"
**Which version of `lesshint` are you using?**
v4.6.4

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

**What's the actual result?**

[2018-02-18 19:36] wareczek opened #461 "[new rule] check spaces in @media"
[code]

**What did you expect to happen?**
1. Check space after `@media` - `@media(` should be `@media (`
2. Check space after colon - `width:768px` should be `width: 768px`

[2018-02-19 17:52] jwilsson commented on #460
Thanks for the report! I can reproduce this.

[2018-02-19 18:17] jwilsson commented on #461
Sounds good!

But perhaps we should split it into two rules?
* One that checks the `@media(` part.
* And one that checks the `width:768px` part.

[2018-02-19 19:42] wareczek commented on #461
Yes, two rules sounds ok :)

[2018-02-26 14:28] xavierfoucrier opened #462 "PropertyNaming support"
Add the ability to support `PropertyNaming` setting to check for **strict property name** and display an alert when the user is typing bad css properties. For example, typing "dislpay: none;" will throw an error because the property name "dislpay" doesn't exists, its "display".

[2018-02-26 14:30] xavierfoucrier opened #463 "PropertyValue support"
Add the ability to support `PropertyValue` setting to check for **strict property value** and display an alert when the user is typing bad css property values. For example, typing "display: 3px solid red;" will throw an error because the property named "display" doesn't contains the value "3px solid red;", its "none" / "block" / etc..

[2018-02-27 06:48] jwilsson commented on #463
Hi!
Thanks for the suggestion!

However, since this would require a huge amount of data (to know which values are valid for which property etc.) I think this is a better fit for a [custom linter](https://github.com/lesshint/lesshint/blob/master/docs/developer-guide/linters.md) because it feels a bit on the heavy side to just pull that in for one rule.

If you decide to create a custom linter, send

[2018-02-27 06:48] jwilsson commented on #462
Hi!
Thanks for the suggestion!

However, since this would require a huge amount of data (to know which values are valid for which property etc.) I think this is a better fit for a [custom linter](https://github.com/lesshint/lesshint/blob/master/docs/developer-guide/linters.md) because it feels a bit on the heavy side to just pull that in for one rule.

If you decide to create a custom linter, send

[2018-02-27 08:17] xavierfoucrier commented on #463
Hi  @jwilsson!

I will try and take time to build a custom linter and send you a pull request when I would be less busy. Thanks for your answer.

Best regards!

[2018-02-27 08:17] xavierfoucrier commented on #462
Hi  @jwilsson!

I will try and take time to build a custom linter and send you a pull request when I would be less busy. Thanks for your answer.

Best regards!

[2018-03-01 19:49] jwilsson commented on #463
@xavierfoucrier Awesome! Let me know if you need anything else.

Closing this for now.

[2018-03-01 19:49] #463 closed

[2018-03-01 19:49] jwilsson commented on #462
@xavierfoucrier Awesome! Let me know if you need anything else.

Closing this for now.

[2018-03-01 19:49] #462 closed

[2018-03-01 19:52] jwilsson commented on #461
@wareczek Great!

I'm thinking something along the lines of `spaceAfterAtRule`, but I don't have any good suggestion for the other one... (I'm of course open to other names as well).

[2018-03-01 20:22] #460 closed

[2018-03-01 22:19] greenkeeper[bot] opened #464 "An in-range update of postcss-values-parser is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **1.4.0** of [postcss-values-parser](https://github.com/lesshint/postcss-values-parser) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lesshint/lesshint/compare/greenkeeper%2Fpo

[2018-03-02 06:47] jwilsson commented on #464
False alarm.

[2018-03-02 06:47] #464 closed

[2018-03-03 12:06] wareczek commented on #461
Maybe `spaceInsideAtRule`?

[2018-03-03 13:19] xavierfoucrier commented on #461
Here are some propositions:
- `spaceAfterAtRuleKeyword`, `spaceAfterAtRuleName`, `spaceAfterAtRuleDeclaration`
- `spaceAfterAtRuleColon`

Shortest version:
- `spaceAfterAtKeyword`, `spaceAfterAtName`, `spaceAfterAtDeclaration`
- `spaceAfterAtColon`

[2018-03-12 18:09] jwilsson commented on #461
Thanks for the suggestions and sorry for the late reply!

I think we should go with `spaceAfterAtRule` and `spaceAfterAtRuleColon`.

[2018-03-12 18:17] xavierfoucrier commented on #461
No problem mate!
Sounds good to me :wink:

[2018-04-05 09:08] rejas opened #466 "Wrong warning: "singleLinePerSelector: Each selector should be on its own line.""
**Which version of `lesshint` are you using?**

5.0.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

CLI and gulp-lesshint

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

no warning or errors

**What's the actual result?**

Warning: test.less: line

[2018-04-12 19:03] jwilsson commented on #466
This is fixed in `5.0.1`.

[2018-04-12 19:03] #466 closed

[2018-04-13 10:15] rejas commented on #466
Thx @jwilsson Would you also be so kind to propagate it to gulp-lesshint?

[2018-04-13 16:02] jwilsson commented on #466
@rejas It should be picked up automatically by updating/reinstalling `gulp-lesshint`.

[2018-04-14 08:14] rejas commented on #466
True :-) Have a nice weekend!

[2018-05-01 16:38] matt-ball opened #470 "Exception on fresh install"
**Which version of `lesshint` are you using?**
5.0.2 and Node v8.9.4

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**

[code]

**To recreate**
`npm install lesshint --save-dev`
..created .lesshintrc..
`node_modules/.bin/lesshint .`

**What's the actual result?**
[code]

Deleting `options-invalid.less` resolves the issue, ho

[2018-05-03 13:26] greenkeeper[bot] opened #471 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-05 13:02] #470 closed

[2018-05-05 13:02] #471 closed

[2018-05-05 13:02] jwilsson commented on #470
Hi!
Thanks for the report!

I think I managed to track it down to a change with our globbing package `globby` and a change there. It should be fixed on our side now though, and I'll tag a new release in a few minutes fixing it.

[2018-05-05 18:03] jwilsson commented on #470
Alright, I found the issue (and I'm a bit embarrassed for not seeing it earlier).

Switch the `excludedFiles` option to `node_modules/**/*.less`, cause the current glob pattern will only match `.less`-files on the first level of `node_modules`, not ones further down.

[2018-05-07 06:38] tsheaff opened #472 "Feature Request: VS Code Extension"
**What did you expect to happen?**
To find an extension in the VS Code extension search

**What's the actual result?**
![screen shot 2018-05-06 at 11 37 32 pm](https://user-images.githubusercontent.com/1238684/39688206-79ce675c-5186-11e8-9a24-5ba411f975a3.png)

**Would you be interested in submitting a PR for this issue?**
I would be down to try, but I've never written an IDE extension before. Any

[2018-05-07 06:45] tsheaff commented on #472
By the way, the default `LESS` package in VS Code contains the following options:

[code]

But there's not thing for a lot of the nice features of `lesshint`

[2018-05-07 18:35] jwilsson commented on #472
That sounds like a neat idea! I'm afraid I don't have any experience with creating VS Code extensions either but looking at [vscode-stylelint](https://github.com/shinnn/vscode-stylelint), it seems to be pretty straight forward.

If you decide to create it, please send us a PR with a link to it and we'll include it in our "Complementary tools" section.

Also a nice idea, I'll create a new issue for

[2018-05-07 18:43] jwilsson opened #473 "Adding support for auto-fixing"
While we have [discussed it before], I'm opening this issue since the request came up again in https://github.com/lesshint/lesshint/issues/472#issuecomment-386972930.

I haven't looked into it anymore, but opening this issue to track it.

[2018-05-11 13:37] handeeadiguzel opened #474 "Is it possible to lint files with extension that is not"
**Which version of `lesshint` are you using?**
5.1.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Gulp

**What's your `.lesshintrc` configuration?**
[code]

**What did you expect to happen?**
Is it possible to specify a custom fileExtension with a known syntax in the configuration?
We're using Semantic UI (which is using less) and less files have *.overrides or *.varia

[2018-05-11 16:14] jwilsson commented on #474
Hi!
Yes, your current configuration should work exactly as you expect. Checking files with the `*.overrides` or `*.variables` extensions. If you want to check `*.less` too, add that as well.

[2018-05-14 06:57] #474 closed

[2018-05-24 00:47] greenkeeper[bot] opened #476 "An in-range update of sinon is breaking the build 🚨"
## Version **5.0.8** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fsinon-5.0.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    </td>
  </t

[2018-05-24 04:13] jwilsson commented on #476
False alarm from Travis.

[2018-05-24 04:13] #476 closed

[2018-05-24 06:57] greenkeeper[bot] opened #477 "An in-range update of sinon is breaking the build 🚨"
## Version **5.0.9** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fsinon-5.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    </td>
  </t

[2018-05-24 11:30] jwilsson commented on #477
False alarm from Travis.

[2018-05-24 11:30] #477 closed

[2018-05-26 19:29] wareczek opened #478 "spaceAroundBang not working after variable"
**Which version of `lesshint` are you using?**
v5.1.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**
[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
[code]

**What's the actual result?**
[code]

[2018-05-28 17:43] jwilsson commented on #478
Hmm, this seems to be an upstream issue. The `important` prop isn't on the AST node. I'll file an issue!

[2018-05-28 23:19] wareczek opened #480 "[new rule] check colon in pseudo-classes and pseudo-elements"
[Pseudo Classes](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes) should always have `1` colon.

valid:
[code]
invalid:
[code]

---

[Pseudo Elements](https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements) should always have `2` colons.

valid:
[code]
invalid:
[code]

[2018-06-04 20:38] wareczek opened #482 "[rule newlineAfterBlock] option improvement"
This rule could be improved with adding Integer option (something like `lines`) to check that after block is 0, 1, 2… number of empty lines.

Thing that I want most is to get rid of multiple empty lines.

[2018-06-04 20:49] wareczek commented on #482
Nevermind. It's a duplicate of that: https://github.com/lesshint/lesshint/issues/347

[2018-06-04 20:49] #482 closed

[2018-07-20 03:08] greenkeeper[bot] opened #486 "An in-range update of postcss is breaking the build 🚨"
## Version **7.0.1** of **postcss** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fpostcss-7.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/postcss/postcss>postc

[2018-07-20 04:16] jwilsson commented on #486
False alarm from Travis.

[2018-07-20 04:16] #486 closed

[2018-08-01 14:19] shooftie opened #487 "maxCharPerLine fails on tilde-prefixed multiline variables"
**Which version of `lesshint` are you using?**
5.1.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI & Gulp plugin

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
That the linting errors for `maxCharPerLine` would be suppressed for the entire bloc

[2018-08-04 00:30] greenkeeper[bot] opened #488 "An in-range update of commander is breaking the build 🚨"
## Version **2.17.0** of **commander** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fcommander-2.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/tj/commander.js

[2018-08-07 17:12] jwilsson commented on #487
Hi!
Sorry for the delay, I've been out of town.

However, I can confirm this with any multiline variables and it seems to be an issue with our [Less parser](https://github.com/shellscape/postcss-less/). I'll file an issue over there.

[2018-08-09 14:48] greenkeeper[bot] opened #489 "An in-range update of cosmiconfig is breaking the build 🚨"
## Version **5.0.6** of **cosmiconfig** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fcosmiconfig-5.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/davidtheclark

[2018-08-09 16:19] jwilsson commented on #489
False alarm from Travis

[2018-08-09 16:19] #489 closed

[2018-08-16 14:03] zhangzhiqiang37 opened #490 "I got the "parse error: Unknow word / parse error: Unclosed block", is it a lesshint bug itself?"
**Which version of `lesshint` are you using?**
5.1.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**

[code]
Yes! we just check sytax error!

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
I think these codes runs exactly right just like:
[code]
But they

[2018-08-20 17:07] jwilsson commented on #490
Hi!
Thanks for the report!

The first error seems to be related to [this one](https://github.com/shellscape/postcss-less/issues/88) in our Less parser (the missing semicolon is the culprit).

The second error is also an issue in our Less parser, I've filed [an issue](https://github.com/shellscape/postcss-less/issues/110) over there.

Adding semicolons before `}` will solve both issues, just as a w

[2018-09-07 10:44] greenkeeper[bot] opened #491 "An in-range update of commander is breaking the build 🚨"
## Version **2.18.0** of **commander** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fcommander-2.18.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/tj/commander.js

[2018-09-07 12:48] mhauens opened #492 "Error by using less maps"
**Which version of `lesshint` are you using?**
5.1.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
"lesshint-webpack-plugin": "^0.0.4",

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]
http://lesscss.org/features/#maps-feature

**What's the actual result?**
parse error: Expected a pseu

[2018-09-08 06:28] jwilsson commented on #492
Hi!
This seems to be an issue with our [Less parser](https://github.com/shellscape/postcss-less/). I'll file an issue over there.

[2018-10-23 09:20] Tiross opened #495 "Property order concentric"
Hello,

It will be nice to choose an other property order like [Concentric CSS](https://rhodesmill.org/brandon/2011/concentric-css/).

[2018-10-23 16:42] #495 closed

[2018-10-25 09:19] Tiross opened #498 "Upgrade report on propertyOrder error"
**Which version of `lesshint` are you using?**
5.2.1

**Example** (with alphabetized order)

[code]

**What did you expect to happen?**

Report the `left` property and indicate that it should be before `position`.

**What's the actual result?**

`"left" should be before "top"`

[2018-11-01 16:16] gnijuohz commented on #472
Found one here: https://github.com/tohjustin/vscode-lesshint!

[2018-11-02 07:35] jwilsson commented on #472
I've added a link to the README. Thanks for bringing it to our attention @gnijuohz!

[2018-11-02 07:35] #472 closed

[2018-11-04 16:03] #480 closed

[2018-11-05 10:52] Tiross opened #500 "Ordering bug"
**Which version of `lesshint` are you using?**
5.2.0

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

No report

**What's the actual result?**
[code]

**Explaination**
The first unknown property is tested against the last known (in alphabetical order).

[2018-11-30 08:29] fabb opened #502 ""parse error: Missed semicolon" for variable body starting with `&`"
**Which version of `lesshint` are you using?**

5.3.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**

Webpack LessHintPlugin

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**

This should parse and show no linter errors

**What's the actual result?**

[2018-11-30 09:38] jwilsson commented on #502
Hi!
Thanks for the report!

This seems to be fixed in `postcss-less@3` as you mentioned, we still got some issues to work out before upgrading that though. But once that's done I'll post an update here.

[2018-12-19 18:09] jwilsson commented on #502
This should be fixed with a new version of theour Less parser in `6.0.0`.

[2018-12-19 18:09] #502 closed

[2018-12-19 18:10] jwilsson commented on #492
This should be fixed with a new version of our Less parser in `6.0.0`.

[2018-12-19 18:10] #492 closed

[2018-12-19 18:10] jwilsson commented on #490
This should be fixed with a new version of our Less parser in `6.0.0`.

[2018-12-19 18:10] #490 closed

[2018-12-19 18:10] jwilsson commented on #487
This should be fixed with a new version of our Less parser in `6.0.0`.

[2018-12-19 18:10] #487 closed

[2018-12-19 18:11] jwilsson commented on #478
This should be fixed with a new version of our Less parser in `6.0.0`.

[2018-12-19 18:11] #478 closed

[2018-12-20 11:21] fabb commented on #51
Still `singleLinePerProperty` reacts to singleline comments directly above selectors, like this:
[code]

[2018-12-20 11:43] jwilsson commented on #51
@fabb Could you open a new issue, please? I think that could be a regression in `6.0.0`.

[2018-12-22 10:23] fabb opened #504 "Lesshint Throws Different Warnings for Single Line Comments"
**Which version of `lesshint` are you using?**
6.0.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Via npm run script or just `npx lesshint path/to/style.less`

**What's your `.lesshintrc` configuration?**

[code]

**Code that's failing:**

Example 1:
[code]

Example 2:
[code]

Example 3:
[code]

**What did you expect to happen?**

No lesshint warnings.

**What's the ac

[2018-12-22 10:40] fabb opened #505 "Several False Positives of stringQuotes Rule"
**Which version of `lesshint` are you using?**
6.0.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Via npm run script or just `npx lesshint@6.0.0 path/to/style.less`

**What's your `.lesshintrc` configuration?**

[code]

**Code that's failing:**

Example 1:
[code]

Example 2:
[code]

Example 3:
[code]

Example 4:
[code]

Example 5:
[code]

**What did you expect to happe

[2018-12-22 14:07] jwilsson commented on #505
Thanks for the report and for using the template!

I'm thinking a new option, `avoidEscape` (à la [stylelint](https://github.com/stylelint/stylelint/tree/master/lib/rules/string-quotes#avoidescape-truefalse-defaults-to-true)), for example 4. And bug fixes for the rest.

[2018-12-22 14:41] jwilsson commented on #504
This should be fixed in `lesshint@6.1.0`.

[2018-12-22 14:41] #504 closed

[2018-12-22 14:41] jwilsson commented on #505
Fixes for this, and the option is available in `lesshint@6.1.0`.

[2018-12-22 14:41] #505 closed

[2019-01-02 20:39] greenkeeper[bot] opened #507 "An in-range update of rimraf is breaking the build 🚨"
## The devDependency [rimraf](https://github.com/isaacs/rimraf) was updated from `2.6.2` to `2.6.3`.

🚨 [View failing branch](https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Frimraf-2.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rimraf is a devDependency of this project. It **might not

[2019-01-02 20:50] #507 closed

[2019-01-14 23:13] kaiyoma opened #508 "Upgrading from 5.3.0 to 6.3.0 leads to many false positives"
**Which version of `lesshint` are you using?**
6.3.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

All these lines below are failing to validate in the new version. Valid strings are being marked as unclosed and also the linter is linting c

[2019-01-14 23:20] kaiyoma commented on #508
It's possible that all of these errors are due to lesshint no longer ignoring comments. I think it's counting single quotes and double quotes in comments, which throws off the linting of real quotes in the code because the wrong quote characters get paired up.

[2019-01-15 17:12] jwilsson commented on #508
Hi!
Are you getting linting errors or parse errors? Because I think think could be caused by https://github.com/shellscape/postcss-less/issues/130.

[2019-01-15 17:59] kaiyoma commented on #508
The name of that other issue certainly sounds like what I'm seeing. The files with warnings/errors all have comments with quotes in them. I'm seeing both linting errors and parsing errors.

Here's what my lesshint output looks like now (filenames redacted):

[code]

Even that warning is being caused by a comment with quotes.

[2019-01-15 19:43] jwilsson commented on #508
Let's assume that's the issue for now. If there's still an issue when the upstream one is fixed we'll investigate further!

[2019-01-18 16:12] xavierfoucrier opened #509 "Upgrading to 6.3.0 gives unexpected results"
**Which version of `lesshint` are you using?**
6.3.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
[linter-lesshint](https://atom.io/packages/linter-lesshint)

**What's your `.lesshintrc` configuration?**
[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
pass

**What's the actual result?**
Error:

[2019-01-18 16:50] xavierfoucrier opened #510 "newlineAfterBlock doesn't work properly"
**Which version of `lesshint` are you using?**
6.3.0

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
[linter-lesshint](https://atom.io/packages/linter-lesshint)

**What's your `.lesshintrc` configuration?**
[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
Error: lesshint: newlineAfterBlock: All blo

[2019-01-18 19:50] jwilsson commented on #509
Hi!
Thanks for the report and for using the template!

Which version were you using previously? Because I think this is the expected behaviour with `allowNewline` set to `false`.

[2019-01-18 19:50] jwilsson commented on #510
Hi!
Thanks for the report and for using the template!

I can reproduce this issue.

[2019-01-18 23:08] xavierfoucrier commented on #510
Hey! This is normal for me to use a template you have made for this repo 😎. Cool that you can reproduce the bug. Don't hesitate to ask if you need more informations! ✌

[2019-01-18 23:32] xavierfoucrier commented on #509
I think I was previously using **5.3 on Atom** linter, no errors was thrown.

Using the same configuration as before, this two rules seems to be completely incompatible: singleLinePerSelector are forcing `&:focus` to be on its own line while spaceAroundComma forces the `&:hover` line to follow space around comma convention.

I also have a rule to force trailing whitespace to be removed at end of l

[2019-01-19 12:16] jwilsson commented on #509
@xavierfoucrier Thanks! I'll see what I can find.

[2019-01-24 02:49] greenkeeper[bot] opened #512 "An in-range update of postcss-less is breaking the build 🚨"
## The dependency [postcss-less](https://github.com/shellscape/postcss-less) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fpostcss-less-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss-less is a direct dependency of

[2019-01-24 07:23] kaiyoma commented on #508
I upgraded to 6.3.0 and everything looks good here. Thanks!

[2019-01-24 16:52] #512 closed

[2019-01-24 16:59] #510 closed

[2019-02-04 19:54] kaiyoma opened #513 "Upgrading to 6.3.1 leads to incorrect newlineAfterBlock warnings"
**Which version of `lesshint` are you using?**
6.3.1

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
CLI

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?**
The linting to pass.

**What's the actual result?**
lesshint complains that the first mixin invoca

[2019-02-04 20:04] kaiyoma commented on #513
Ah, I forgot to mention that I'm trying to upgrade from 5.3.0. No previous version of lesshint (that we've used on our project in the last 3 years) has ever complained about this code.

[2019-02-05 06:49] jwilsson commented on #513
Thanks for the issue! I can reproduce it.

Looks like the `newlineAfterBlock` fix in `6.3.1` wasn't 100%, I'll take a look,

[2019-02-05 19:34] #513 closed

[2019-02-05 19:34] jwilsson commented on #513
This should be fixed in `6.3.2`.

[2019-02-05 21:34] kaiyoma commented on #513
Yup! Looking good over here. The new version is even finding a few errors in our code (that have been there for a while). 😄

[2019-02-11 22:11] connollyf commented on #461
Mind if I try tackling this one? Is development still active on this project?

[2019-02-12 05:35] jwilsson commented on #461
@connollyf Go right ahead! To be completely honest though, I can't say development is still that active. It's mostly around bug fixes at this point. [stylelint](https://github.com/stylelint/stylelint) is probably a better choice if you want something where development is more active. That said, a good-looking PR will be accepted and published to npm, I just don't have the resources to work on this

[2019-03-04 13:18] greenkeeper[bot] opened #518 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.2.6` to `7.2.7`.

🚨 [View failing branch](https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fsinon-7.2.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might not bre

[2019-03-04 18:58] #518 closed

[2019-03-15 12:33] deanc opened #520 "Using a mixin causes inaccurate reporting of newlineAfterBlock"
**Which version of `lesshint` are you using?** 6.3.2

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?** gulp-lesshint

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting a bug, please show us some code that's failing.**

[code]

**What did you expect to happen?** Nothing

**What's the actual result?** `Warning: test.less: line 3, col 3, newlineAfterB

[2019-03-17 16:12] #520 closed

[2019-03-17 16:13] jwilsson commented on #520
This should be fixed in `6.3.3`.

[2019-03-17 16:17] deanc commented on #520
Thank you @jwilsson . I will test as soon as yarn spots the new version.

[2019-03-17 20:23] deanc commented on #520
@jwilsson I'm pretty sure I upgraded (`yarn upgrade lesshint` - although I am using it through the gulp plugin). I checked `yarn.lock` and saw 6.3.3 in there, so it looks to be installed. But i'm still getting the errors, but now in different places.

The example in the original post is fine. But this now gives an error:

[code]
Gives the error:

`Warning: test.less: line 3, col 3, newlineAfterBlo

[2019-03-18 05:32] jwilsson commented on #520
@deanc Please check with `6.3.5`, that should take care of both issues.

I decided to refactor the whole rule, hence the new errors. Thanks for working through them with me!

[2019-03-18 07:38] deanc commented on #520
Thanks @jwilsson - I'm still getting some related issues. Here's another test-case:

[code]

Note how it's correctly reporting. As soon as I add a new line it gives this instead: `Warning: test.less: line 22, col 4, trailingWhitespace: There shouldn't be any trailing whitespace.`

[2019-03-18 07:40] deanc commented on #520
Here's another case where it has issues:

[code]

Gives:
[code]

[2019-03-18 07:46] deanc commented on #13
Sorry to resurrect this from the dead @jwilsson

I'd argue this is quite an opinionated, although technically not incorrect approach. Could we have an option to disable this rule entirely? There are some codebases one might inherit where it's not possible to target the DOM elements without an ID effectively. A simple option to set this to `false` would suffice :)

[2019-03-18 07:58] deanc commented on #266
Hi @jwilsson - going to bring this one back from the dead too. It'd be nice to make this slightly more configurable also.

I would argue that such a rule in some cases might be nice. In fact it's usually the rule I write first in any CSS file to reset all browser styles to the same.

[code]

Perhaps adding an option to allow the universal selector in the global scope, but disallow it in the form:

[2019-03-18 08:53] jwilsson commented on #266
@deanc Could you open a new issue with that feature request, please?

Another option could be to add a `// lesshint-disable-next-line universalSelector` comment in those instances.

[2019-03-18 08:54] jwilsson commented on #13
@deanc You can disable any rule by setting it to `false`, perhaps it's a bit unclear in the docs.

[2019-03-18 08:55] jwilsson commented on #520
@deanc Your first case might be correct though (GitHub seems to strip trailing whitespace), are there any trailing whitespace on that line?

The second case is definitely a bug, though. I'll take a look.

[2019-03-18 18:39] jwilsson commented on #520
@deanc With `6.3.6` `@import` s shouldn't be reported anymore.

[2019-03-19 23:59] gnijuohz opened #521 "Rule proposal: spaceAroundChildCombinator"
It would be great to add a rule about child combinator, so when 'both' is enabled,

`a > b` is valid and `a>b` is not.

[2019-03-20 17:18] jwilsson commented on #521
Sounds good to me!

I'd be happy to review a PR for it.

[2019-03-29 01:06] greenkeeper[bot] opened #522 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.0` to `7.3.1`.

🚨 [View failing branch](https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fsinon-7.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might not bre

[2019-03-29 06:59] jwilsson commented on #522
False alarm from Travis.

[2019-03-29 06:59] #522 closed

[2019-04-07 16:25] greenkeeper[bot] opened #523 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.0.2` to `6.1.0`.

🚨 [View failing branch](https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fmocha-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might not bre

[2019-04-07 18:08] #523 closed

[2019-06-18 17:00] rumbu opened #526 "LESS "extend" syntax violates spaceAfterPropertyColon rule"
When I [extend](http://lesscss.org/features/#extend-feature) some class using this syntax, *lesshint* is recognizing it as violation of *spaceAfterPropertyColon* rule:
[code]
The output is:
[code]
Pointing to after the colon character.

lesshint version - **6.3.6**
Running as a gulp task.
I'd prefer not to ignore all the lines containing `:extend` nor disable *spaceAfterPropertyColon* rule.

[2019-06-19 19:40] #526 closed

[2019-06-19 21:06] rumbu commented on #526
Thank you very much for the fix! :heavy_check_mark:

[2019-11-21 02:13] greenkeeper[bot] opened #533 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.7` to `3.0.8`.

🚨 [View failing branch](https://github.com/lesshint/lesshint/compare/master...lesshint:greenkeeper%2Fcoveralls-3.0.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this pro

[2020-02-29 00:08] CryptoKiddies opened #534 "TypeError: Cannot read property 'valueOf' of undefined"
Enabling `colorVariable` rule to true causes runtime error.
This is a resurfacing of closed bug: https://github.com/lesshint/lesshint/issues/192

**Which version of `lesshint` are you using?**
6.3.7

**How are you running `lesshint`? CLI, Node.js API, Grunt/Gulp plugin?**
Running CLI inside npm script with js config file.

**What's your `.lesshintrc` configuration?**

[code]

**If you're reporting

[2020-06-03 12:25] maormoshe commented on #534
@justtal please handle :)

[2022-03-27 03:39] Dulux-Oz commented on #534
Just giving this a bump, because I'm getting this error as well (in late March 2022), with the following package versions:

- @types/gulp-lesshint v6.1.0
- gulp-lesshint v6.1.0
- lesshint v6.3.7

[2022-04-22 18:50] jiverson commented on #534
I am working on some legacy code and ran across this error I am not exactly sure why this error would happen but seems like a valid fix to put a guard check for `undefined` on `node.value`.

PR https://github.com/lesshint/lesshint/pull/535