[2015-04-19 19:27] jwilsson opened #1 "More tests needed"
The linters are pretty good but the core methods need some more.

Especially `lib/lesshint.js` and `lib/config-loader.js`.

[2015-04-19 19:30] jwilsson opened #2 "Available options/default value for spaceAfterPropertyColon"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space
2. one_space (**default**)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-19 19:32] jwilsson opened #3 "Available options/default value for spaceBeforeBrace"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space
2. one_space (**default**)
3. new_line

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-20 07:02] kokarn commented on #3
Can we get examples of how they look?

I assume it's like this?

no_space
[code]

one_space
[code]
new_line
[code]

[2015-04-20 07:03] kokarn commented on #2
Can we get code examples?
I assume it's like this?

no_space
[code]
one_space
[code]

[2015-04-21 07:59] kokarn opened #4 "spaceBeforeBrace linter reports the wrong column for the error"
For code such as this
[code]
it reports that the error is in column 1.
Shouldn't it be 4?

[2015-04-23 10:59] jwilsson commented on #2
Fixed in e5b0240a1b3b96d2b60bfba877c5240057e63461.

Any opinions on the default values/available options?

[2015-04-23 10:59] jwilsson commented on #3
Fixed in e5b0240a1b3b96d2b60bfba877c5240057e63461.

Any opinions on the default values/available options?

[2015-04-23 12:28] kokarn commented on #3
Looks good!

No not really, maybe some people use tabs?

[2015-04-23 12:28] kokarn commented on #2
Great work!

No not really, tabs perhaps?

[2015-04-24 14:15] jwilsson opened #5 "Available options/default value for borderZero"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. none
2. zero (**default**)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-26 19:45] jwilsson opened #6 "Available options/default value for hexLength"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. long (default)
2. short

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-26 19:46] jwilsson opened #7 "Available options/default value for hexNotation"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. lowercase (default)
2. uppercase

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-26 19:47] jwilsson opened #8 "Available options/default value for spaceAfterPropertyName"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space (default)
2. one_space

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-27 07:38] kokarn opened #9 "Try to add reasoning to defaults"
It would be good for educational purposes to see what the reasoning behind each default is.
Also it will probably spark discussion further down the line which is always a good thing.

[2015-04-27 09:45] #1 closed

[2015-04-27 14:12] #4 closed

[2015-04-27 15:05] jwilsson opened #10 "Available options/default value for trailingSemicolon"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need an option to allow missing semicolons on the last property?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-04-27 15:40] kokarn commented on #10
I think we should allow that because that might be a code-style in an environment where people don't use minifiers?

[2015-05-01 16:23] jwilsson opened #11 "Available options/default value for emptyRule"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with `enabled: true/false`?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-01 16:24] jwilsson opened #12 "Available options/default value for finalNewline"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with `enabled: true/false`?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-01 16:26] jwilsson opened #13 "Available options/default value for idSelector"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with enabled: true/false?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-01 16:26] jwilsson opened #14 "Available options/default value for duplicateProperty"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with enabled: true/false?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-03 09:34] kokarn opened #15 "trailingSemicolon linter breaks for @media queries with vars inside"
Basic media query code as the one below errors with the message "All property declarations should end with a semicolon" on the second to last semicolon.

[code]

[2015-05-03 09:39] kokarn opened #16 "emptyRule linter breaks for rules that only contain a mixin or only @media queries"
Code such as this
[code]

or this
[code]
produces the "There shouldn't be any empty rules present" linting error.

[2015-05-03 15:05] jwilsson commented on #15
Hmm, interesting. It seems to be confused by the variable declaration. Just setting `red` as a value works as expected, i.e.

    @media screen and ( max-width: 768px ){
        .div {
            color: red;
        }
    }

works.

I'll take a look!

[2015-05-03 16:21] #15 closed

[2015-05-03 16:22] jwilsson commented on #16
Should be fixed in `0.3.1`, let me know if it still persists.

[2015-05-03 16:22] #16 closed

[2015-05-03 17:05] kokarn commented on #14
Disable should really be an option, it's very useful for things like fonts
[code]

[2015-05-03 18:46] jwilsson commented on #9
Just to clarify: in the issues, the readme or both, perhaps?

[2015-05-03 18:48] jwilsson commented on #14
You mean like an `exclude` option?

For example:

    {
        "duplicateProperty": {
            "enabled": true,
            "exclude": ["src"]
        }
    }

[2015-05-03 18:54] kokarn commented on #14
Maybe, i'm not sure.
There is a few other valid ways to duplicate properties, linear gradient background fallbacks etc.

[2015-05-03 18:56] kokarn commented on #9
I feel like Issues are mostly for discussion so it doesn't matter as much. But in the readme I think it would be nice.

[2015-05-04 10:35] jwilsson commented on #9
Good point, I'll add it!

[2015-05-04 10:40] jwilsson commented on #14
I have an idea about enabling/disabling linters on a specific row or a specific file with inline comments, something like this:

    // lesshint:disable duplicateProperty

or

    // lesshint duplicateProperty: false

Or some other way, it's just an idea at this time and I have some implementation details to figure out. How does this sound?

[2015-05-04 10:53] kokarn commented on #14
It sounds like it could be really useful.
I'd go with the second version of the syntax i think.
Dunno what will be better for the future tho.

[2015-05-04 14:52] #9 closed

[2015-05-10 19:34] jwilsson opened #17 "Available options/default value for importantRule"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with enabled: true/false?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-10 19:35] jwilsson opened #18 "Available options/default value for stringQuotes"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. double
2. single (default)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-10 19:35] jwilsson opened #19 "Available options/default value for urlFormat"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. absolute
2. relative (default)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-10 19:36] jwilsson opened #20 "Available options/default value for urlQuotes"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with enabled: true/false?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-11 08:37] kokarn opened #21 "Lint stops after each file"
When running into an linting error the linter will stop after every file that has an error.

Shouldn't it lint all files or is this by design?

[2015-05-11 08:42] kokarn commented on #13
A list of allowed overrides would be nice i think because then you can use them as a namespace until we get shadow-dom.

Say you are going to implement code from Example Corp on MyPage.
Wrapping everything in a block with ```#example-corp``` is a pretty smooth way to namespace everything.

[2015-05-11 09:10] jwilsson commented on #21
Bug in `grunt-lesshint` [(f5142bf)](https://github.com/kokarn/grunt-lesshint/commit/f5142bf3e04f50cfc48f57549fbcb8645b135cc3).

[2015-05-11 09:10] #21 closed

[2015-05-11 09:11] jwilsson commented on #13
I'm thinking we could do this in the same way as we discussed in [#14](https://github.com/jwilsson/lesshint/issues/14#issuecomment-98672980) with inline comments.

[2015-05-11 09:39] kokarn commented on #13
Not sure I like that for this particular option, would be much cleaner with a syntax like that of the [JSHint](https://github.com/gruntjs/grunt-contrib-jshint) globals.

[2015-05-11 09:50] kokarn opened #22 "urlFormat and urlQuotes linters broken?"
Tried with this code
[code]
The only error I get is this

Shouldn't I get an error that the format is incorrect and no error on the quotes?

[2015-05-11 11:12] jwilsson commented on #22
Should be fixed with 81ed97e7b28dced17c819deab1ab942d0d6ab380 and daff331ce15729ad2236f5a66e929ff3c2f65796.

Thanks!

[2015-05-11 11:12] #22 closed

[2015-05-11 11:15] jwilsson commented on #13
Hmm, perhaps both are needed? Both an exclude/ignore/whatever option and the ability to exclude certain lines/cases with comments.

[2015-05-11 11:41] kokarn commented on #13
Yeah, that makes sense

[2015-05-11 11:45] kokarn commented on #11
Right now it's allowed to have empty blocks with comments in them, eg
[code]

Maybe an option to disallow them as well?

[2015-05-17 19:29] jwilsson opened #23 "Available options/default value for attributeQuotes"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. double
2. single (default)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-17 19:30] jwilsson opened #24 "Available options/default value for comment"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
Regexp for allowed comments.

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-17 19:31] jwilsson opened #25 "Available options/default value for leadingZero"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. exclude_zero
2. include_zero (default)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-17 19:31] jwilsson opened #26 "Available options/default value for trailingZero"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. exclude_zero (default)
2. include_zero

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-17 19:32] jwilsson opened #27 "Available options/default value for zeroUnit"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. keep_unit
2. no_unit (default)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-17 20:56] kokarn commented on #24
I'd suggest changing the default value to allow all comments. Removing comments is something a minifier should do, not the hinter imo.

[2015-05-17 20:57] kokarn commented on #27
I'd suggest changing the default value to keep_unit. Removing unneccessary units is something a minifier should do, not the hinter imo.

[2015-05-17 20:57] kokarn commented on #26
I'd suggest changing the default value to include_zero. Removing extra zeroes is something a minifier should do, not the hinter imo.

[2015-05-19 08:48] kokarn opened #28 "hexLength doesn't check in variables"
Here's and example that validates, which it shouldn't
[code]

[2015-05-19 10:49] #28 closed

[2015-05-24 21:12] kokarn opened #29 "Lesshint fails if the .lesshintrc file is empty"
This seems to be intended but wouldn't it be a bit more helpful if it just produces a warning and uses defaults instead?

[2015-05-27 16:28] jwilsson opened #30 "Available options/default value for qualifyingElement"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. allowWithId (default `false`)
2. allowWithClass (default `false`)
3. allowWithAttribute (default `false`)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-27 16:30] jwilsson opened #31 "Available options/default value for spaceAfterPropertyValue"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space (default)
2. one_space

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-05-27 16:30] jwilsson commented on #29
Yeah, I'll look into that.

[2015-06-02 12:34] jwilsson commented on #29
I've been thinking and I think we should keep the current behaviour.

If a user has added a `.lesshintrc` file it should contain something that's valid JSON (comments aside) and an empty file isn't valid so it should bail.

Since you do get a error message/exception?

[2015-06-02 13:10] kokarn commented on #29
Hmm, yeah that's true i guess.

The current error is ```Something's wrong with the config file. Error: Unexpected end of input```
Maybe a clarification would be nice?

[2015-06-02 14:22] jwilsson commented on #29
We're just printing whatever `JSON.parse()` throws at us and one could argue that empty input is an "Unexpected end" of it :wink:

Anyway, I'm closing this for now. We can always revisit it in the future.

[2015-06-02 14:22] #29 closed

[2015-06-07 11:59] jwilsson opened #32 "Available options/default value for spaceAfterComma"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space
2. one_space (default)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-06-07 11:59] jwilsson opened #33 "Available options/default value for spaceBeforeComma"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space (default)
2. one_space

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-06-09 14:38] jwilsson opened #34 "Available options/default value for spaceBetweenParens"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
1. no_space (default)
2. one_space

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-06-10 12:21] jwilsson opened #35 "Available options/default value for importPath"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
exclude: array of files to exclude
filenameExtension: true/false (default false)
leadingUnderscore: true/false (default false)

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-06-10 12:23] jwilsson opened #36 "Available options/default value for propertyUnits"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
global: [] Array of allowed units (currently all CSS units)
properties: {} Object with unit overrides for specific properties

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-06-10 12:29] kokarn commented on #36
I'd like a global exclude option actually, maybe a exclude list for properties as well.

The usecase for that is we only currently dislike the vh unit because of it's crappy behaviour on mobile, everything else is good.

That way it's forwards compatible as well.

[2015-07-26 13:39] jwilsson opened #37 "Available options/default value for trailingWhitespace"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with `enabled: true/false`?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-07-26 13:40] jwilsson opened #38 "Available options/default value for singleLinePerSelector"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with `enabled: true/false`?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-07-26 13:40] jwilsson opened #39 "Available options/default value for singleLinePerProperty"
Do we need any more options? Are we satisfied with the current default value? Any other thoughts?

Current options:
None, do we need any options or is it enough with `enabled: true/false`?

Please cast a vote for one of the options or post your other thoughts or suggestions for options.

[2015-08-05 14:06] dishad opened #40 "Lesshint outputs wrong line number"
Following test was done in v0.7.0

[code]

This example Less/CSS file only has the rule `finalNewline` disabled and it reports the following errors:
```test.less: line 7, col 10, hexLength: #00f should be written in the long-form format.```
```test.less: line 9, col 15, hexLength: #000 should be written in the long-form format.```
```test.less: line 11, col 7, spaceAfterPropertyColon: Colon after

[2015-08-05 17:15] jwilsson commented on #40
Thanks for the report!

I've managed to track the problem down to the use of Windows line endings (`\r\n`) instead of Unix ones (`\n`).

The real issue seems to lie in our Less parser, [gonzales-pe](https://github.com/tonyganch/gonzales-pe), but I'll add a workaround in our end (we'll probably need it somewhere else).

[2015-08-05 18:21] #40 closed

[2015-08-05 19:21] jwilsson commented on #40
This should be fixed in `0.7.1`.

Let me know if the issue still persists!

[2015-08-05 19:28] dishad commented on #40
Thanks and will do!

[2015-08-13 21:31] dishad commented on #40
The issue is no more! Great job.

[2015-08-20 04:27] shellscape opened #41 "Request: options for enforcing alphabetized property names/order"
We use/encourage alphabetizing our property names within our org. Would be great to make this an option.

[2015-08-20 04:49] shellscape opened #42 "Grammar: Each selector should be on it's own line."
Hate to be this guy but... Should be: Each selector should be on its own line. Possessive form of "its".

[2015-08-20 04:54] shellscape opened #43 "When lesshint encounters erroneous data, it reports no errors"
I ran lesshint against this silly tidbit:

[code]

And it produced no output, no errors using default settings. It should have at the least reported on the `border: none;` line, and should have reported an error in the syntax at `cursor pointer`. When I change that line to `cursor: pointer` all is well and I get the error about using 0.

It would appear parsing errors, or syntax errors, are being

[2015-08-20 06:37] kokarn commented on #41
Hello! Great to see lesshint being used :)

I seem to recall something with ```border-color``` before ```border-width``` or something like that breaking when doing alphabetical, that's not something you've encountered?

How do you handle overwrites and stuff like that? Just curious on how strict this should be :)

[2015-08-20 09:52] jwilsson commented on #42
Well, someone has to be that guy :wink:

Anyhow, nice catch. Wanna submit a PR for it?
If so, could you point it to the `0.8.1` branch? Thanks!

[2015-08-20 10:03] jwilsson commented on #43
Hi,
Thanks for this.

We're currently just silently ignoring the whole file on parse errors (due to the current usage of our Less parser, `gonzales-pe`). I would like to do print the parse error and perhaps rescue the parser but I haven't found a nice way to do this yet. Last time I looked at it `gonzales-pe` just gave us a generic error message but that might have changed since then.

If it's som

[2015-08-20 10:09] kokarn commented on #43
I think we should at least throw and error, so the user knows something's fucky

[2015-08-20 12:35] shellscape commented on #42
We're still evaluating lesshint to replace recess in our build tools. Won't be doing any forking until we've decided to roll with the project. Kind of odd to be requesting a PR for a single character change...

[2015-08-20 15:13] shellscape commented on #43
So here's what gonzales-pe (what a weird name for a module) spits out when there's a parse error:

[code]

Not exactly ideal. `lessc --lint` will check a particular file for parse errors before hand, as will the standard `less.render` call when using it programmatically. What would the feeling be on running input files through lessc for parser errors before handing off to gonzales-pe for the AST p

[2015-08-20 15:49] shellscape opened #44 "Warnings vs Errors"
Given the discussion around https://github.com/lesshint/lesshint/issues/43 errors being swallowed, I'd like to raise the question of warnings vs errors. jshint plops every result into an 'errors' object, but has a code on every result that differentiates error from warning. In jshint's case, it has `W` for warning, `I` for info, and `E` for error. I'm not suggesting lesshint follow suit, as I've n

[2015-08-20 19:02] jwilsson commented on #42
Ah, I see.

No worries, I'll fix it. Any contribution, no matter how small, is awesome :smile:

[2015-08-20 19:05] #42 closed

[2015-08-20 19:07] jwilsson commented on #43
Hmm, that's what I thought. Not much to work with there.

I do feel that running everything through the official Less parser is a bit much. Perhaps we can find some other way.

@kokarn thoughts?

[2015-08-20 19:19] jwilsson commented on #44
I totally agree and have actually been thinking about this myself.

Another feature that could follow from this is the ability to specify the severity of a rule violation. Everything defaults to `warning` but if desired, mark some rule violations as `errors` and exit with a different code etc.

@kokarn thoughts, ideas?

[2015-08-20 21:33] shellscape commented on #44
:+1:  to the ability to override severity

[2015-08-21 05:39] kokarn commented on #43
Well, by the looks of it, the first line is actually an error we could present to the user.
As long as the line number is consistent with the file that should work.

If not, I think that it's better to just notify the user that the parser failed than to add lessc as a dependancy, at least for now.

Then we can re-visit it in the future either when gonzales-pe handles it or when demand for that kin

[2015-08-21 05:46] kokarn commented on #44
I think @jwilsson is spot on with this and that we all agree that's something that could be useful.

I don't think we should follow jshint tho, add warnings/info to an error object seems a bit backwards and the one letter codes just seems a bit stupid.
@shellscape Do you know why they do single letters?

I think that we should either return a single object with all warnings/error/info on it or a s

[2015-08-21 14:22] jwilsson commented on #41
I don't think we need to be that advanced and handle overwrites.

I think it's enough to just gather all the properties in the ruleset and just run a regular [`sort()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) on it (optionally with a [`localeCompare()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/local

[2015-08-22 04:45] shellscape commented on #42
:+1:

[2015-08-24 12:55] shellscape opened #45 "Forking and contributing"
We've decided to move forward with forking lesshint and contributing to it, but wanted to get on the same page with how you guys are using branches.

It appears from the request to PR to the 0.8.1 branch, that you're developing off of separate branches before pushing to master. So that's our first question - Why? Typically branches like that are used for features and then PR'd to master. Or a bran

[2015-08-24 13:39] shellscape commented on #44
@kokarn no clue why they used single letters - if I had to guess it was left over from jslint or just a style choice. I'm personally OK with an array of result objects, each with their 'state' property. Splitting that up into `{ warnings: [], errors: [] }` is a matter of stylistic preference at that point, or another way to map the data.

I've started work on this on our fork and will submit PRs a

[2015-08-24 14:50] tonyganch commented on #43
Hello, guys!
Maybe you can describe how you want gonzales to handle errors so we can make a fix?
Right now `ParsingError` is thrown, which has `line` and `syntax` information:
https://github.com/tonyganch/gonzales-pe/blob/dev/src/parsing-error.js
It also has `context` property which returns a formatted string with a broken line like this:
[code]
I can pass more information if you need it, just let

[2015-08-24 15:15] shellscape commented on #43
That looks great to me. I'd still like to see some extended message on the sub-type of parse error was offending, if possible.

[2015-08-24 16:23] kokarn commented on #45
Great news! Good to see somebody else finding this as useful as we are.

I haven't contributed to the main lesshint lib yet, but mainly to the grunt-lesshint plugin. That one uses a git-flow like system for branching. Maybe that could be a good way to work with this if @jwilsson doesn't have any specific reasoning for his branching system? ;)

https://github.com/lesshint/grunt-lesshint

[2015-08-24 16:53] jwilsson commented on #45
Glad to hear you guys are liking it! :)

There's never been any specific reasoning behind the branches other than some sort of "master should always be deployable" and therefore `master` was kept in a stable state between versions. I haven't put that much thought into it, just kept on working for fun :)

But now, since you guys are coming along and there seems to be more and more users it's probab

[2015-08-24 17:48] jwilsson commented on #43
I'm with @shellscape to 100%, it looks good but some sort of extended message would be great.

[2015-08-24 18:35] shellscape commented on #45
:+1: I'd also look into tagging SHAs for particular released versions. That'll give anyone interested a way to view a snapshot of the stable code for a particular release.

[2015-08-24 19:24] jwilsson commented on #45
You mean like the regular Git tags over at https://github.com/lesshint/lesshint/releases?

[2015-08-24 19:26] shellscape commented on #45
Ooo I haven't used releases yet @jwilsson. Tags was the old school way, looks like releases takes care of that.

[2015-08-24 19:44] jwilsson commented on #45
Yeah, tags and releases are pretty much the same thing. Releases is just GitHub's way to let you add notes and zip files.

All those releases were simply created with a regular `git tag X` and then pushed.

[2015-08-25 19:05] #41 closed

[2015-08-28 18:48] CITguy opened #49 "False Positive with "spaceBeforeComma""
`spaceBeforeComma` returns a false positive with the following LESS file

[code]

`test.less: line 1, col 9, spaceBeforeComma: Commas should not be preceded by any space.`

Yet, returns no errors with the following LESS file

[code]

Please update to allow space before LESS operators.

[2015-08-28 18:52] CITguy commented on #49
FYI: This is using `lesshint 0.8.0`.

[2015-08-28 19:17] CITguy commented on #23
Can we add support to allow selectors for value-less (a.k.a. boolean) attributes?

[code]

[code]

[2015-08-28 19:23] #49 closed

[2015-08-28 19:24] CITguy opened #50 "Add validateIndentation"
My team uses 4 spaces per indentation. It would be nice to have a linter to check that indentation is correct. Something along the lines of the following (with suggested defaults):

### validateIndentation

#### syntax
[code]

#### options
**style** (string)

* spaces (default)
* tabs

**quantity** (integer) number of spaces/tabs per indentation

* 2 (default)
* user defined value

[2015-08-28 19:25] jwilsson commented on #49
Since I'm stuck on a train I had the time to fix this straight away. Hope this solves it!

[2015-08-28 19:25] jwilsson commented on #23
Of course, I noticed the bug now.

Are you interested in submitting a PR?

[2015-08-28 20:01] jwilsson commented on #50
I think this will be quite easy once [e8bdc3be2e34ff369f3b0f8ee699a1262a97b8a0 in `gonzales-pe`](https://github.com/tonyganch/gonzales-pe/commit/e8bdc3be2e34ff369f3b0f8ee699a1262a97b8a0) gets published on npm.

We should be able to multiply the `level` argument with each `column` property in the AST. And then check that value against the `quantity` value multiplied with `level`.

[2015-08-28 20:13] CITguy commented on #49
Looks like it should work. How can I test this?

[2015-08-28 20:15] CITguy commented on #23
I would. I may have some time this weekend to familiarize myself with the inner workings.

[2015-08-28 20:29] jwilsson commented on #49
I think you can specify a Git URL in your `package.json`, for example:

[code]

[2015-08-28 21:20] CITguy commented on #49
Something's not working quite right. I run `node_modules/lesshint/bin/lesshint src/` and nothing happens, but when I run the globally installed lesshint via `lesshint src/` I get report output.

[2015-08-28 21:21] CITguy commented on #49
*note:* globally installed lesshint is not the github version but the one retrieved from npm

[2015-08-28 21:26] CITguy opened #51 "False positive with "singleLinePerProperty""
`singleLineProperty` is returning a false positive for inline comments.

Valid CSS

[code]

Shouldn't error
[code]

Please add support for inline comments

[2015-08-28 21:34] CITguy opened #52 "false negative zeroUnit"

[2015-08-28 21:36] CITguy commented on #52
nevermind, it's invalid css

[2015-08-28 21:36] #52 closed

[2015-08-29 10:24] kokarn commented on #49
You can use npm install -g with the link to the repo directly to install
the latest version.

http://stackoverflow.com/questions/17509669/how-to-install-nodejs-package-from-github-directly

On Fri, Aug 28, 2015, 23:21 Ryan Johnson <notifications@github.com> wrote:

[2015-08-29 22:32] CITguy commented on #23
See #54

[2015-08-29 22:34] CITguy commented on #49
Ah, it seems to work that way. Thanks @kokarn

[2015-08-30 09:13] kokarn commented on #49
No worries, happy to help :)

On Sun, Aug 30, 2015 at 12:34 AM Ryan Johnson <notifications@github.com>
wrote:

[2015-08-30 18:47] CITguy opened #55 "Add ability to disable linting for a single line"
Other linters/hinters have the ability to ignore linting on a single line via a trailing comment. It would be very useful to have this ability. An example...

My team discourages the use of `!important` but there are edge cases where it needs to be used.  As such, it would be useful to enable `importantRule` globally, but apply something like `// lesshint ignore:line` that would ignore linting for

[2015-08-30 18:57] CITguy commented on #55
It should be trivial to implement `// lesshint ignore:line` as it would be a matter of removing lines from the incoming css *before* parsing with gonzales (similar to how we already [normalize line endings](https://github.com/lesshint/lesshint/blob/master/lib/linter.js#L76)).  This way, the entire line is completely excluded from the resulting AST.

Rule-specific disabling may be trickier as we wo

[2015-08-31 06:19] kokarn commented on #55
I think we should go for // lesshint ignore:importantRule. It's a really
nice feature and I see no reason to go half-assed.

On Sun, Aug 30, 2015 at 8:57 PM Ryan Johnson <notifications@github.com>
wrote:

[2015-08-31 16:21] #51 closed

[2015-08-31 18:41] jwilsson opened #56 "Linter refactoring"
Continuing on our discussion in #47.

We have some ways in which we would like to change the linters to avoid code duplication.

### Disabling linters
Right now each linter checks whether or not it's disabled. In order to avoid lots of code duplication I'm proposing a move of this code to the main AST traversing, before the linter is even called. This might even result in the ability to just load

[2015-08-31 19:14] jwilsson commented on #55
I agree with @kokarn, we should definitely take the time to work this out properly since I think it's a real "must-have" feature.

[2015-09-01 06:32] kokarn commented on #56
I quite like the eslint way, to specify it in the first argument for the linter.
1 is warning, 2 is error.

[code]

[2015-09-02 13:13] shellscape commented on #56
I'm planning on adding time for this to our next sprint, FYI.

[2015-09-02 13:19] shellscape opened #57 "Inline Options"
With tools like jshint, we're able to define configuration options for a file as an inline comment at the top of the file (and throughout code for blocks). I haven't been able to find any mention of an option like this for recess as yet, but something like that on the file-level would be immensely helpful.

When we were still using recess, we implemented a similar feature in a fork of gulp-recess:

[2015-09-02 13:35] shellscape opened #58 "Sorting Results by Line Number"
I traced this back to lesshint, as the reporters and gulp-lesshint are just passing the data along. Line numbers aren't always in order, and that would be super keen for reporting. See this sample output from one of our real-world files:

[code]

[2015-09-02 13:59] shellscape opened #59 "Alphabetized Property Names + Vendor Prefixes"
I'm getting a peculiar false positive with vendor prefixes and the alphabetization linter. The code below is throwing a warning for not being alphabetized. Am I missing something, or is the linter misbehaving?

[code]

[2015-09-02 14:45] jwilsson commented on #56
:+1:

[2015-09-02 14:45] jwilsson commented on #56
@shellscape :+1:

[2015-09-02 14:47] jwilsson commented on #57
We started talking about something like this in #55. Let's continue the discussion there.

[2015-09-02 14:47] #57 closed

[2015-09-02 14:48] jwilsson commented on #58
Yeah, that makes sense. Since the linters are ordered alphabetically, the errors are sorted the same way. But I agree that we should order them by line number.

[2015-09-02 14:50] jwilsson commented on #59
I don't we ever specified how to handle hyphens, but I also think we should sort them before letters.

[2015-09-02 16:08] shellscape commented on #55
Carried over from #57, declaring per-file options in a comment at the top of a file goes along with this. Since the other was closed, perhaps renaming this for both type of inline/infile options is appropriate.

[2015-09-02 16:10] shellscape commented on #55
@kokarn jshint syntax, which I think works really well in this case, follows their .jshintrc syntax. eg:

[code]

or

[code]
that makes configuring lesshint uniform wherever you choose to; .lesshintrc, inline, etc.

[2015-09-02 16:13] shellscape commented on #59
The sorting that's already implemented seems to handle hyphen or non-alpha-first fine for the most part. But it's on this particular block that the sorting gets wonky. It passed successfully in other files we ran against.

[2015-09-02 19:45] jwilsson commented on #59
Hmm, strange. I'll look into it if no one else beats me to it.

[2015-09-03 06:34] kokarn commented on #55
Yeah, that seems like a good way to do this. :+1:

[2015-09-03 14:49] #59 closed

[2015-09-03 14:49] jwilsson commented on #59
Alright, I think I've found the issue.

`localeCompare` returns `0` when the checked values are identical and we mark it as a violation if  `localeCompare` returns `> -1`.

[2015-09-03 14:59] shellscape commented on #59
:+1:

[2015-09-03 15:06] jwilsson opened #61 "spaceBeforeBrace doesn't check media queries"
The following code, which should be marked as a violation passes:

[code]

This should be as simple as adding another node type to check for.

@kokarn you wanna take it?

[2015-09-03 16:50] kokarn commented on #61
Yeah, if it's no rush? Might not be able to look at it until next week

On Thu, Sep 3, 2015 at 5:06 PM Jonathan Wilsson <notifications@github.com>
wrote:

[2015-09-08 15:02] kokarn opened #62 "Catch errors"
We really need to look at how we catch errors.

Right now the same output is produced if lesshint fails a file or if it succeeds with 0 errors which is really not good.

[2015-09-09 07:56] jwilsson commented on #62
@shellscape do you think it's enough to check `matches == null` at [4e01089fac#70](https://github.com/lesshint/lesshint/blob/ce3e9d60a5828323b50151668d3d9118d2414dfb/lib/lesshint.js#L70) and exit with `e.message` (or something) when that evaluates to `true` or do we need something more "robust"?

[2015-09-09 08:35] kokarn commented on #61
Actually, this seems to be a bit trickier.
If the code is nested, it is checked but the column is wrong
[code]
test.less: line 4, col 25, spaceBeforeBrace: Opening curly brace should be preceded by one space

Where this just passes
[code]

[2015-09-09 13:06] shellscape commented on #62
@jwilsson that's an old commit, before we changed `type` to `severity`.  did you mean https://github.com/lesshint/lesshint/blob/master/lib/lesshint.js#L70?

I think we should have a more robust pattern to match the parse error message we're targeting from gozales-pe. It should be of local-to-gonzales-pe-type `ParseError` which we could check with a `typeof`. From there, if the error thrown from g-

[2015-09-10 14:22] shellscape commented on #56
Created #63 to continue discussion.

[2015-09-10 17:22] srogers202 opened #64 "Less hint breaks with Media query variables"
Lesshint fails with media query variables like this:
[code]

Error:
[code]

[2015-09-10 19:25] jwilsson commented on #62
@shellscape Yeah, I just wanted a persistent link and that was the first commit I found :)

Sounds like a good idea. I took a quick look at the full `Error` object thrown by `gonzales-pe`, a bit cleaned up:

[code]

I guess we could check for one/some of these properties and use that to decide what to do with the error.

[2015-09-10 19:38] jwilsson commented on #64
It looks like you ran into [#17](https://github.com/tonyganch/gonzales-pe/issues/17) over at `gonzales-pe`, hopefully we'll have it fixed soon.

[2015-09-11 07:14] jwilsson opened #65 "Remove quote style option from attributeQuotes"
Looking at #23, we currently have a quote style option on `attributeQuotes`. I think we could remove this and let `stringQuotes` handle this instead and just check for the existence of quotes in `attributeQuotes`.

[2015-09-11 07:16] jwilsson opened #66 "Merge spaceAfterComma and spaceBeforeComma"
It seems kind of unnecessary to have to separate linters which basically checks the same thing.

I'm proposing a merge of these two into a `spaceAroundComma` linter with the following options:
* `none`
* `before`
* `after`
* `both`

[2015-09-11 07:23] jwilsson opened #67 "Lesshint 1.0"
With the [recent changes in grunt-lesshint](https://github.com/lesshint/grunt-lesshint/commit/5c7c6ecd6d7829fe864f4ea569c17b8064c13b06) and our changes with the [Linter refactoring (#56)](https://github.com/lesshint/lesshint/issues/56) I think the time has come to start preparing for a `1.0` release.

Not only will other tools such as [grunt-lesshint](https://github.com/lesshint/grunt-lesshint) an

[2015-09-11 09:44] kokarn commented on #65
What would the difference be? Anything at all?

[2015-09-11 09:45] kokarn commented on #66
Only thing this would remove is the possibility to set one as warning and the other as error.
Doesn't feel like that is reason enough to keep them separated.

[2015-09-11 09:47] kokarn commented on #67
:+1: Looks good.
As long as work is ongoing and not stopping i don't see any issues with this.

I would propose a deadline tho because most of these things could be updated with a minor or even patch after 1.* is released.

[2015-09-11 12:25] jwilsson commented on #65
No, not really. Just less code in `attributeQuotes`.

[2015-09-11 12:36] kokarn commented on #65
:+1: Go! ^^

[2015-09-11 14:52] shellscape commented on #67
Agreeing with @kokarn - We could pick a subset of those and update with minors. Though I'm not entirely sure that's a major concern. I've got company backing to poke at this stuff at least one day a week, so I can continue fairly regular contributions. (And I'd like to say btw, that I'm grateful for how receptive you all have been to them)

I think that represents a fine milestone roadmap for 1.0,

[2015-09-11 15:07] kokarn commented on #67
Wow, that's incredible.
We use it where I work as well and I try to poke at when I find something it but haven't got official support for it so it's not as much i'm afraid.

You are a very welcome addition. It's just fun that more people are helping out. Especially since you actually see things that we might've missed or not thought of before.

[2015-09-11 16:34] kokarn commented on #61
I have this working locally now, just need to figure out why my goddamn tests are breaking

[2015-09-11 19:29] jwilsson commented on #67
Wow, I'm really glad to hear that @shellscape. I've actually been meaning to invite you as a proper collaborator if you're interested?

If we all agree on what we want to do for the release we can try to get everything done as soon as possible and postpone some other non-breaking changes.

I'm thinking we could at least postpone #55 and #62 if necessary.

[2015-09-13 18:28] #58 closed

[2015-09-14 06:37] CITguy commented on #66
I agree with @jwilsson. At least with the teams I work with, we only care about one or the other, so combining them would reduce configuration options and make it easier to consume.

[2015-09-14 06:38] CITguy commented on #65
:+1: let `stringQuotes` handle it

[2015-09-14 06:54] CITguy commented on #67
I'd say that #55 and #56 are really the only two tasks that don't make sense in 1.0 MVP.  Of the remaining tasks, I would say that #62 should be the highest priority given that the hinter isn't doing its job if it skips errors during the parse phase. #65 and #66 will be an API change, so the 0.x to 1.0 leap makes sense in that regard, and default options should be agreed upon and implemented prior

[2015-09-14 07:02] kokarn commented on #2
Closing this as no other options that make sense have been presented.

[2015-09-14 07:02] #2 closed

[2015-09-14 07:02] kokarn commented on #3
Closing this as no other options that make sense have been presented.

[2015-09-14 07:02] #3 closed

[2015-09-14 07:02] kokarn commented on #5
Closing this as no other options that make sense have been presented.

[2015-09-14 07:02] #5 closed

[2015-09-14 07:03] kokarn commented on #6
Closing this as no other options that make sense have been presented.

[2015-09-14 07:03] #6 closed

[2015-09-14 07:03] kokarn commented on #7
Closing this as no other options that make sense have been presented.

[2015-09-14 07:03] #7 closed

[2015-09-14 07:03] kokarn commented on #8
Closing this as no other options that make sense have been presented.

[2015-09-14 07:03] #8 closed

[2015-09-14 07:03] kokarn commented on #12
Closing this as no other options that make sense have been presented.

[2015-09-14 07:03] #12 closed

[2015-09-14 07:05] kokarn commented on #13
Allowed selectors are implemented already and the inline option don't really make sense any more. Closing.

[2015-09-14 07:05] #13 closed

[2015-09-14 07:06] kokarn commented on #14
The exclude parameter is implemented and the inline version is tracked in #55. Closing

[2015-09-14 07:06] #14 closed

[2015-09-14 07:06] kokarn commented on #17
Closing this as no other options that make sense have been presented.

[2015-09-14 07:06] #17 closed

[2015-09-14 07:06] kokarn commented on #18
Closing this as no other options that make sense have been presented.

[2015-09-14 07:06] #18 closed

[2015-09-14 07:06] kokarn commented on #19
Closing this as no other options that make sense have been presented.

[2015-09-14 07:06] #19 closed

[2015-09-14 07:06] kokarn commented on #20
Closing this as no other options that make sense have been presented.

[2015-09-14 07:06] #20 closed

[2015-09-14 07:07] kokarn commented on #23
Closing this as the only option we wanted have been merged.

[2015-09-14 07:07] #23 closed

[2015-09-14 07:07] kokarn commented on #25
Closing this as no other options that make sense have been presented.

[2015-09-14 07:07] #25 closed

[2015-09-14 07:08] kokarn commented on #31
Closing this as no other options that make sense have been presented.

[2015-09-14 07:08] #31 closed

[2015-09-14 07:08] kokarn commented on #32
Closing this as no other options that make sense have been presented.

[2015-09-14 07:08] #32 closed

[2015-09-14 07:08] kokarn commented on #33
Closing this as no other options that make sense have been presented.

[2015-09-14 07:08] #33 closed

[2015-09-14 07:08] kokarn commented on #34
Closing this as no other options that make sense have been presented.

[2015-09-14 07:08] #34 closed

[2015-09-14 07:08] kokarn commented on #35
Closing this as no other options that make sense have been presented.

[2015-09-14 07:08] #35 closed

[2015-09-14 07:08] kokarn commented on #37
Closing this as no other options that make sense have been presented.

[2015-09-14 07:08] #37 closed

[2015-09-14 07:09] kokarn commented on #38
Closing this as no other options that make sense have been presented.

[2015-09-14 07:09] #38 closed

[2015-09-14 07:09] kokarn commented on #39
Closing this as no other options that make sense have been presented.

[2015-09-14 07:09] #39 closed

[2015-09-14 07:10] kokarn commented on #30
Is it possible to set this value to ```false``` to disallow them all? I know that it's default behaviour but people might want that in their config for clarity.

[2015-09-14 07:14] kokarn commented on #67
Wow, this is some great news. Glad to see people use this for real-world stuff and not just messing around :dancers:

I agree that #62 is very important and that #65 and #66 should be in 1.0.
We should also go through all the linter options and defaults as that might add some incompatible changes as well.
I've closed the ones which haven't gotten any feedback but if @shellscape and @CITguy would l

[2015-09-14 07:29] CITguy commented on #67
Sure, I'll take a look tomorrow (Monday 9/14/2015).

[2015-09-14 08:05] kokarn commented on #67
Great, thanks!

[2015-09-14 11:52] jwilsson commented on #45
I think we've reached consensus on how to handle branches. Do all work on feature branches and then merge them into master.

I'm therefore closing this.

[2015-09-14 11:52] #45 closed

[2015-09-14 11:53] jwilsson commented on #44
Closing this, since everything's fine and dandy in #47.

[2015-09-14 11:53] #44 closed

[2015-09-14 11:56] jwilsson commented on #30
I'm not quite sure I know what you mean. Setting the whole `qualifyingElement` property to `false` will disable it (like all the others). I think we need to keep the options separately.

[2015-09-14 12:02] jwilsson commented on #66
I forgot to mention this in the original description, but I propose `after` as the default value.

Some quick examples for reference:

[code]

[2015-09-14 12:33] kokarn commented on #30
So if i want to specify this in my config I have to write it all out?
[code]

[2015-09-14 12:34] kokarn commented on #66
:+1:

[2015-09-14 14:00] jwilsson commented on #62
I'll take a stab at this tonight. Will submit a PR so we're all in agreement.

[2015-09-14 14:06] kokarn commented on #62
Great! Ping me on IRC when done and i'll check it out tonight.

On Mon, Sep 14, 2015 at 4:00 PM Jonathan Wilsson <notifications@github.com>
wrote:

[2015-09-15 01:21] CITguy commented on #66
+1 `after`

[2015-09-15 02:56] CITguy commented on #66
Can this be updated to be `spaceAroundOperators` so it will apply to `+`, `-`, `*`, `/`, etc. as well?

[2015-09-15 03:02] CITguy commented on #10
Missing semicolon is bad practice. I vote the rule default to `enabled`.

[2015-09-15 03:03] CITguy commented on #11
An empty block containing only comments is still an empty block. I vote it default to `enabled`.

[2015-09-15 03:08] CITguy commented on #24
With the plan to add support for inline comments for purposes of disabling linters, you're more likely to see a mix of comment types in a file. Additionally, I agree with @kokarn, that it's the job of the minifier to remove comments. IMO, I see no value in this linter for use in projects I work on.

I vote this default to `disabled`.

[2015-09-15 03:15] CITguy commented on #26
Could we combine `trailingZero` and `leadingZero` into a `padZero` (or other appropriate name)?

This linter would accept the following options:

* `leading` (default)
* `trailing`
* `none`
* `both`

Examples

[code]

[2015-09-15 03:17] CITguy commented on #27
I have no preference on default, but I'll be using `no_unit` for all my projects.

[2015-09-15 03:24] CITguy commented on #30
I would agree that it would make the most sense disabling all three options by default and have devs explicitly enable the options they want.  However, is there a possibility to update the linter so that the option will default to false if not present?  This way, as a developer, I could configure this linter as follows:

Example: ID Only
[code]
_`allowWithClass` and `allowWithAttribute` are not pr

[2015-09-15 03:52] CITguy commented on #36
I like the idea of having two ways to configure the units (whitelisting vs blacklisting).
Maybe change the config to be something like this...

[code]

The majority of the configuration will take place with the `permit` and `units` values. The `properties` option will only be used to handle the edge cases.

[2015-09-15 06:57] kokarn commented on #66
That's a great idea, with an option for each operator

[2015-09-15 07:00] kokarn commented on #10
I agree that missing semicolon should be a warning as default, but i'd like to have the option to allow skipping it on the last property.

[2015-09-15 07:02] kokarn commented on #26
:+1: Makes it more consistent with the other linters as well

[2015-09-15 07:04] kokarn commented on #27
That would be a configuration rather than a default i'd say ;)
To be consistent with the other linters we should probably keep this to linting and let the minifiers do the rest.

[2015-09-15 07:08] kokarn commented on #30
I think that's how it works today. If @jwilsson can just confirm we can close this as resolved :)

[2015-09-15 07:09] kokarn commented on #36
That's great and gives a lot of flexibility. :+1:

[2015-09-15 11:58] jwilsson commented on #30
Yep, this is exactly how it works today. All the options are `false` by default and can be enabled separately.

[2015-09-15 11:58] #30 closed

[2015-09-15 12:02] jwilsson commented on #26
@CITguy Nice idea. You wanna take a stab at implementing it?

[2015-09-15 16:26] CITguy commented on #26
I can see what I can do. Does `padZero` work as a linter name, or does anybody have a better suggestion?

[2015-09-16 07:02] kokarn commented on #26
I feel like it's not great but I can't come up with a better one. It's not really a zero padding, it's more like a zero enforcing linter. Maybe ```forceZero```, ```valueZero```, ```decimalZero``` or something like that?

[2015-09-16 10:42] kokarn commented on #11
At the moment lesshint doesn't count empty blocks with comments as empty.

I actually quite like this because that way you can have something that validates but still contains a suggested styling block or similar.

Might be something we could fix when we implement #55 but that would be quite a bit uglier imo.

[2015-09-19 11:51] jwilsson commented on #10
I'm going to mark this as complete over in #67 since we all seem to agree that it should be enabled and we can always add options later.

[2015-09-19 11:54] jwilsson commented on #11
I agree with @kokarn, it's quite nice to add a dummy comment to blocks which you want empty for clarity. I find it quite nice to be able to do things like this for example:

[code]

[2015-09-19 11:55] jwilsson commented on #24
Perhaps we should even remove it? I don't have any problems doing it if everyone's onboard.

[2015-09-19 12:11] #65 closed

[2015-09-19 12:13] jwilsson commented on #66
Perhaps we should create a new linter named `spaceAroundOperator` which checks `+`, `-`, `*`, `/`, and `=` and leave commas to this one?

[2015-09-19 12:13] jwilsson commented on #67
I think we should postpone #55, it's not breaking and will keep things moving.

[2015-09-19 13:34] kokarn commented on #10
Sounds good to me :+1:

[2015-09-19 13:35] kokarn commented on #11
Unless @CITguy has some objections we can close this in #67 and add that option later

[2015-09-19 13:38] kokarn commented on #24
Hmm, i'd rather have it disabled than removed.
Even if we all agree it's not that important there is probably people who'd want this :)

[2015-09-19 13:48] kokarn commented on #66
Why separate commas into their own linter? Because it's not an operator?

[2015-09-19 13:50] kokarn commented on #67
Yeah, let's do that. 1.* would be nice to push :)

[2015-09-19 16:34] #24 closed

[2015-09-19 16:37] jwilsson commented on #66
Yeah, I'm thinking just in case someone wants to do it separately it can be quite a lot of options and it would be nicer to separate them. But if more people are in favor of combining than against it we'll go with that.

[2015-09-19 19:20] CITguy commented on #10
:+1:

[2015-09-19 19:21] CITguy commented on #11
:+1:

[2015-09-19 19:24] CITguy commented on #26
`decimalZero` works. I'll get working on this, today.

[2015-09-20 00:06] CITguy commented on #26
Good news. I've got the functionality working. I just need to clean things up before submitting a PR. Should have it submitted sometime this evening.

[2015-09-20 08:57] kokarn commented on #26
Great! I'll close this for now so we can continue discussion in #69

[2015-09-20 08:57] #26 closed

[2015-09-20 09:01] kokarn commented on #66
I vote for one linter, @jwilsson for two.

@CITguy @shellscape

[2015-09-22 13:59] shellscape commented on #66
agree with @jwilsson. always in favor of separation of concerns, even if there is a little bit of duplication.

[2015-09-22 14:03] kokarn commented on #66
I'd say it's settled on two linters then, even if @CITguy for some reason disagrees.

[2015-09-22 14:04] kokarn opened #70 "Create spaceAroundOperator linter"
As per discussion in #66

[2015-09-22 14:14] kokarn commented on #62
Added with https://github.com/lesshint/lesshint/commit/0f7b4dc9dc1e721a9c6cc088ee16784761f5a795

[2015-09-22 14:14] #62 closed

[2015-09-22 14:24] kokarn commented on #43
Fixed here https://github.com/lesshint/lesshint/commit/0f7b4dc9dc1e721a9c6cc088ee16784761f5a795

[2015-09-22 14:24] #43 closed

[2015-09-23 09:02] #61 closed

[2015-09-23 13:25] kokarn opened #71 "Single line per property doesn't catch mixins"
This is valid according to singleLinePerProperty

[code]

[2015-09-23 13:33] kokarn commented on #50
I recently got a file that looks something like this
[code]

Maybe newlines and all properties on top should be in this linter as well? Or separate?

[2015-09-23 15:40] CITguy commented on #50
Well, this is an interesting case.  What should the CSS look like?

## What should the LESS look like?

### Apply Linting to Properties

#### Option 1.0 - No blank lines before or after property definitions
[code]

#### Option 1.1 - Blank line before property definition
[code]

#### Option 1.2 - Blank line after property definition
[code]

#### Option 1.2 - Blank lines around property definition
[

[2015-09-23 16:01] kokarn commented on #50
This sounds like a good approach.

I can come up with two more linters that I think would be nice to have.

```selfFirst``` to make all the blocks that use ```&``` be first on the block.

[code]
Maybe even force pseudo-classes first?

The other one is something like ```propertiesOnTop``` to force all the properties to be on top.
[code]

[2015-09-23 16:47] CITguy commented on #50
I'm not a fan of linters dictating how to arrange style definitions because they constrain the cascading functionality of CSS.  As a developer, there are many cases where I require the freedom to place my definitions where needed to accomplish the style I seek.

[2015-09-24 07:43] kokarn commented on #50
Could you provide an example on how property ordering would change the output?
Because in the example above it doesn't matter because css inheritance takes precedence over property ordering. Just out of curiosity, I don't doubt you. I just can't come up with an example :P

I can see how you'd dislike that but wouldn't it suffice that you can do the same as with ```propertyOrdering``` and disable i

[2015-09-25 05:46] CITguy commented on #50
I'm sorry, my brain was elsewhere and I was confused about the suggestion.  I see the use of checking for properties being above additional selector blocks. While I think this is a good conversation, can we create separate issues to track discussions on each linter idea rather than continue in this one? It seems to be getting a bit off topic.

[2015-09-29 13:00] shellscape opened #73 "Upgrade specs to use chai and chai.assert"
Working with the linter refactor and having to do a lot with specs, I'm feeling pretty limited by assert's small set of functions. Since the recommended accompanying bdd lib for mocha is chai, we should consider moving to that post-1.0 release.

[2015-09-29 13:17] kokarn commented on #73
Sounds good. I'm not that versed with testing yet but I have had the feeling that it's quite limiting so i'll just take your word for it ;)

[2015-09-29 13:24] jwilsson commented on #73
I've never used Chai either but it looks interesting, we should definitely consider it.

I'll take a closer look at it as well.

[2015-10-02 13:19] #56 closed

[2015-10-03 13:17] shellscape commented on #66
@jwilsson @kokarn has anyone started on this? I'll tackle it next week if not.

[2015-10-03 14:04] kokarn commented on #66
@shellscape No not yet so feel free :)

[2015-10-05 02:32] shellscape commented on #66
Created the branch. I'll start work tomrrow

[2015-10-05 13:28] kokarn commented on #66
:+1:

[2015-10-06 19:23] #66 closed

[2015-10-06 19:26] jwilsson commented on #27
I don't have any preferences either, so I say we go with `keep_unit` and let minifiers handle it.

[2015-10-06 19:35] jwilsson commented on #36
@CITguy I really like the idea but I feel this has been sitting for a while and I don't think I will have the time in the near future to implement it. Do you have the time?

[2015-10-07 13:30] shellscape commented on #27
Just to play devil's advocate, I'm going to question the need for this linter at all. If minification processes will strip or keep units on zero values, why are we bothering to lint them? Does this sort of consistency across files in a project/org aid readability, or does `0` and `0px` read the same?

(This isn't something we restrict in our org)

[2015-10-07 13:33] shellscape commented on #36
I think the `permit` based approach is too superfluous. Here's my proposal:

[code]

[2015-10-07 13:44] kokarn commented on #27
Hmm, interesting point.
Gonna have to think about this one ;)

[2015-10-07 15:28] shellscape opened #78 "Specs fail on gonzales-pe@3.0.0-beta"
We're going to want to update lesshint for gonzales-pe 3.0.0-beta, as many things have changed and about half of our specs fail when using it.

We should probably hold off on releasing 1.0.0 until gonzales-pe is out of beta, since there are a lot of bugs with it just yet.

[2015-10-07 16:32] kokarn commented on #78
Have you heard of any timeframe for 3.*? Is it worth waiting for or is it just easier to update once it's released?

[2015-10-07 20:47] shellscape commented on #78
I looked around their repo and I didn't see a milestone list or timeframe. I think he's got a ton of bugs to contend with. I just submitted one to him today where the less helper function spec wasn't being honored. 3.0.0-beta affords us better error reporting, among other improvements, and that's a big draw. I'd say we should at the least branch and get everything working with 3.0.0-beta now; it'd

[2015-10-08 06:39] kokarn commented on #78
Sure, as long as it's not actual regressions. I agree that we should at least test it out but i'm a bit reluctant to go towards a beta version of something that might be beta for a long while.

But as long as the tests succeed I can't really say we shouldn't :)

[2015-10-08 12:59] shellscape commented on #78
It looks like he's close to a stable 3.0.0 release. Has a few bugs to contend with, but seems to be a priority https://github.com/tonyganch/gonzales-pe/issues/94

[2015-10-08 13:02] shellscape opened #79 "Get lesshint on lesscss.org"
The project should definitely find a niche on this page somewhere http://lesscss.org/usage/. It's not 1.0.0 just yet but deserves the visibility bc awesomeness.

[2015-10-08 13:24] kokarn commented on #78
That looks great. Let's wait for that and sync our 1.* with gonzales-pe's 3.*

[2015-10-08 13:25] kokarn commented on #79
:+1: Agreed.

Somebody should write a PR for https://github.com/less/less-docs
@jwilsson ?

[2015-10-08 15:11] kokarn commented on #36
This is now solved thanks to @shellscape

[2015-10-08 15:11] #36 closed

[2015-10-09 06:53] jwilsson commented on #79
Oh, definitely. I'll do it once we hit 1.0.

[2015-10-09 15:06] shellscape commented on #10
Close issue?

[2015-10-09 15:10] kokarn commented on #10
Yeah, agreed

[2015-10-09 15:10] #10 closed

[2015-10-09 15:11] kokarn commented on #11
Great! Closing this then :) (Yeah, i'm slow sometimes)

[2015-10-09 15:11] #11 closed

[2015-10-09 15:11] shellscape commented on #55
Starting work on this one. Tracking on https://github.com/gilt/lesshint/tree/inline-rules

[2015-10-09 15:42] shellscape commented on #50
Going back to @jwilsson 's comment, that has landed on npm in 3.0.0-beta, which we know we have to do some updates for when 3.0.0 lands.

I'm going to vote against this linter. JSHint has deprecated the same functionality and I happen to agree with the reasoning (see: http://jshint.com/docs/options/#indent) Code style is not code quality/correctness.

[2015-10-10 08:40] jwilsson opened #80 "importPath doesn't handle URIs without quotes"
First reported by @alferov over at lesshint/gulp-lesshint#1.

It looks like we're a bit to naïve when checking URIs in `importPath`. We always assume a string which of course isn't always the case.

This is a great candidate for a first issue, on line 24 of https://github.com/lesshint/lesshint/blob/master/lib/linters/import_path.js we need to check for both strings and "raw" URIs and make sure whi

[2015-10-12 08:54] kokarn commented on #50
I see your point but i'm looking more towards ESLint than JSHint because I see no reason why lesshint shouldn't do both. Isn't it easier to have one tool for both as they are so closely related?

[2015-10-14 20:26] jwilsson commented on #78
Most work is done in #81.

[2015-10-15 21:11] #78 closed

[2015-10-16 12:02] kokarn commented on #27
So this is the last blocking thing for 1.0.

I suggest we set it to ```keep_unit``` and discuss if the linter is needed at all at a later date.

[2015-10-19 15:47] shellscape commented on #67
I've been occupied by a few crazy weeks on my end. Please proceed with 1.0 how you all think is best. Should be more active in the coming weeks.

[2015-10-19 16:14] CITguy commented on #27
+1 for `keep_unit`. Let's get 1.0 out the door.

[2015-10-19 18:47] #27 closed

[2015-10-19 18:49] jwilsson commented on #67
I just closed #27 and a `1.0` tag is coming right up! :tada:

Thank you for all your hard work guys! Couldn't have done it without you :smile: :+1:

[2015-10-19 19:32] #67 closed

[2015-10-20 00:08] CITguy commented on #67
![Woooo!](http://i.imgur.com/ekoBYht.gif)

[2015-10-20 07:21] jwilsson commented on #50
I've always thought of lesshint as something along the lines of ESLint, checking both code style and potential code issues/best practices.

I think we should do something based on @CITguy's initial suggestion.

[2015-10-20 08:31] jwilsson opened #82 "propertyUnits fail on local variables"
As first reported by @kokarn over at [lesshint/atom-linter-lesshint#1](https://github.com/lesshint/atom-linter-lesshint/issues/1).

It looks like variables are treated as properties but without an `ident` and therefore fails when trying to read a `ident` value from it.

A simple check for an `ident` value should suffice.

[2015-10-20 11:26] jwilsson opened #83 "spaceBeforeBrace fails on block-less nodes"
Another [issue](https://github.com/lesshint/atom-linter-lesshint/issues/3) carried over from [lesshint/atom-linter-lesshint](https://github.com/lesshint/atom-linter-lesshint/).

The following code is treated as a mixin but there's no `block` present and will therefore fail:
[code]

It should be sufficient to check if the current node contains a `block` and bail otherwise.

[2015-10-20 14:00] kokarn commented on #82
[code]

[2015-10-20 15:17] kokarn commented on #80
Reopened so it's clear that we still need to check for `@imports` without quotes

[2015-10-20 16:07] rmbl commented on #80
Should be fixed with #86 I hope.

[2015-10-21 10:56] jwilsson commented on #82
This should've been fixed with #85.

[2015-10-21 10:56] #82 closed

[2015-10-21 18:49] #80 closed

[2015-10-21 18:49] #83 closed

[2015-10-22 08:02] kokarn opened #88 "Add test to make sure we don't miss any console.logs in tests"

[2015-10-22 08:21] jwilsson commented on #88
I'm not sure I follow, the `console.log`s in 0756cba7f1ee68ce0a05c4d89862bf8ed474416d were just stray ones which I forgot to remove.

Are you thinking of some sort of JSHint/JSCS check for `console.log`s in tests?

[2015-10-22 08:49] kokarn commented on #88
Yeah, that should work.
As long as it stops them from showing up in the commited code where they shouldn't be :)

[2015-10-22 09:40] #71 closed

[2015-10-26 15:36] CITguy commented on #88
For a project I work on, we use a script to be run on the git pre-commit hook, so that it won't allow you to commit if there are debugging statements still present in the code. The hook installs itself via an NPM postinstall. Here's a gist that might be useful: https://gist.github.com/CITguy/1138a1701b9ffbf4e091

[2015-10-26 15:39] CITguy commented on #73
Chai is nice. I use it daily.

[2015-10-26 15:49] shellscape commented on #73
Yeah we're actually transitioning from jasmine to mocha+chai here. Changing specs platforms are a hard sell since it requires a lot of effort for little gain (if the specs are already working).

[2015-10-26 16:03] kokarn commented on #73
Lucky we don't have a budget then. I like chai more than mocha because of the name. That's 100% approval :dancers:

[2015-10-26 20:23] jwilsson commented on #88
@CITguy looks pretty nice, thanks for sharing!

I'll see if I can work something out.

[2015-10-28 04:35] shellscape opened #89 "gonzales-pe increasingly unstable"
Just raising this issue for awareness. gonzales-pe has become increasingly more unstable since approaching and passing 3.x. Nearly all of our less files have false positive syntax failures on 3.2.1, simply because gonzales-pe isn't validating things correctly. We're still waiting for the project to fix several mixin-related false positives, including basic mixin definition syntax.

To make matters

[2015-10-28 07:29] kokarn commented on #89
I think @jwilsson did a check when he started lesshint and couldn't really find anything IIRC.
That's almost a year ago so it might be worth looking again.

[2015-10-28 08:54] jwilsson commented on #89
Yeah, I looked around when I first started and didn't find any other parsers. The official Less parser doesn't officially expose the parse tree but I managed to hack something together that would let me inspect it but no spaces etc. are included, just the already parsed value.

That's one of the main reasons why I chose to go with `gonzales-pe` since all spaces etc. are exposed. And the API that `

[2015-10-28 12:19] shellscape commented on #89
Yeah I just took a look at the less.parse and ParseTree implementations that the current version is using, and while it's damn fast, it doesn't include any meta data like spacing. I'll take a look around and see if something new has popped up. But gonzales-pe has real issues after 3.x - we've got rules that haven't been touched in over a year that are now throwing syntax errors. No bueno.

[2015-10-28 12:40] shellscape opened #90 "New Linter: Mixin Rule First"
We've been catching a lot of alphabetizing offenders lately, thanks to the new addition a little while ago :)

As such, people have complained that it's not immediately obvious that mixin rules should be declared first (same with vendor-specific rules). I can see a new linter for validating that mixins are at the top of the rule stack when someone doesn't want to enforce alphabetizing. It'd also b

[2015-10-28 13:19] shellscape commented on #89
Fwiw, I've been trying to work on an issue with variable dictionaries in gonzales for the past month, and the structure and test process of the project is incredibly convoluted. I'm no slouch, and I haven't been able to fix a simple issue yet.

[2015-10-28 14:24] kokarn commented on #90
Yeah, `mixins-on-top` or `mixins-first` is a great linter i think. :+1:

[2015-10-28 20:11] jwilsson commented on #90
Absolutely! :+1: from me

[2015-10-28 20:14] jwilsson commented on #79
I forgot to update you guys on this.

It's been added to the Less docs repo and should be published on the site soon :tada:

[2015-10-28 20:14] #79 closed

[2015-10-28 20:17] shellscape commented on #79
AWESOME

[2015-10-28 20:30] jwilsson commented on #89
@shellscape I've been trying to fix some of the issues as well and have also been struggling, so you're not alone :)

I'll think for a little bit and see if I can come up with another solution on how we should proceed with this.

[2015-10-29 02:17] shellscape commented on #89
In the meantime I'm trying to come up with a solution to easily debug that crazy thing. I've zero clue why he's minifying and restructuring the code when it's not used on the client-side.

[2015-10-29 13:57] shellscape commented on #89
@jwilsson going to look into postcss today, as that reportedly can produce an ast faster than less.js.

[2015-10-29 15:42] jwilsson commented on #89
@shellscape Awesome! Thanks for checking.

I just want to start out by saying that I'm definitely not against using `postcss` (or anything else for that matter, the important thing is that we're able to parse the code and get a nice tree to work with).

Some things I thought of during a quick look at `postcss`:

* How much Less syntax is currently supported by `postcss` plugins? I can't seem to fi

[2015-10-29 15:52] shellscape commented on #89
Yeah, no worries. This is strictly an informational exercise right now. I'm not suggesting the project switch either, just taking a look at what else might be out there now.

You hit the nail on the head with those points. We'd definitely be looking at additional work for parsing the extras that gonzales provides out of the gate. In all likelihood, that extra work would probably be best suited for

[2015-10-29 17:14] shellscape commented on #89
Got a great answer from the postcss guys. They pointed me at https://github.com/postcss/postcss/blob/master/docs/syntax.md and https://github.com/postcss/postcss-scss which looks like a good place to start.

[2015-10-29 17:38] jwilsson commented on #73
I might have some time this weekend to take a look at this. I'll make sure a new branch is up for it at least.

[2015-10-29 17:40] jwilsson commented on #89
Looks promising, could definitely be one way to do it.

[2015-10-29 17:40] shellscape commented on #73
Any thoughts on using gulp for that in tandem with the switch? (We're just going a TON with gulp lately, and I'm really loving it, so I had to ask)

[2015-10-29 17:50] jwilsson commented on #73
Just out of curiosity, why should we use Gulp? We're basically running two tasks (lint and test).

[2015-10-29 18:04] shellscape commented on #73
This is a decent article from a former employer: http://appendto.com/2015/08/why-use-a-task-runner-like-gulp/ - the last paragraph nails it though. We're actually doing 4 things: coverage (doesn't look like it's enabled, but it should be!), linting js, linting js code style, running mocha. What you end up with is all of your tasks in one file. mocha.opts goes away, and goes into the gulpfile. the

[2015-10-30 01:09] shellscape commented on #89
Starting to poke at this tonight, and see if I can't get some less parsing. At the very least, should gain some greater understanding of the css/less AST.

[2015-10-30 04:31] shellscape commented on #89
I got a new syntax for postcss going; https://github.com/gilt/postcss-less

It's surprisingly easy to work with. Things are first tokenized, and then those tokens are read and analyzed and turned into nodes for the tree. So far I have variable interpolation and mixins parsing. (things like inheritance, nesting, parent selectors are there by default). While it includes spaces and such in the tree t

[2015-10-30 09:44] jwilsson commented on #73
A coverage report is generated on Travis and you can do it manually with `npm run cover` (it will print some errors since it can't connect to Coveralls) but you'll get a HTML report in the `coverage` dir.

I've always thought of Gulp as a front-end build tool (that's what I'm using it for all the time, btw) but I guess there's nothing stopping you from using it in this type of project. I'm not com

[2015-10-30 09:45] jwilsson commented on #89
@shellscape Awesome!

I agree, the code looks really straightforward, I'll try to help out as much as I can.

[2015-10-30 12:54] shellscape commented on #73
Didn't mean to take this one too far off the rails of the chai usage :)

[2015-10-30 17:03] shellscape commented on #89
Got mixins into their own node type, and got parameter parsing working correctly as far as I can tell. Some TODOs at the bottom of /test/parser.es6. (should probably create issues to track that, but it's early yet).

What I could really use help with is adding more tests for LESS specific syntax that fail, so the support can be written for them. PostCSS is really good about complaining about stuff

[2015-10-31 14:53] kokarn commented on #73
I like grunt/gulp doing a as much as possible.
I use it to run pretty much anything in some projects.
It is defined as a task runner and that's exactly how I use it.
Why should I do something if grunt/gulp can do it for me? :dancer:

[2015-10-31 17:07] jwilsson commented on #73
I thought about Gulp earlier today and figured we could use it to check for stray `console.log()`s as we talked about in #88. I'll try and work something out and send a PR later tonight.

[2015-10-31 17:10] jwilsson commented on #88
We talked about using Gulp and running all our tests and linting through it, and I figured we can check for stray `console.log()`s there as well (that way it'll be automatically run together with `npm test`).

We just need to make sure it doesn't abort the tests while developing something. I'll work something out tonight.

[2015-11-02 15:49] shellscape commented on #90
So the gilt fork is still on `"0.9.4"` because gonzales-pe hasn't yet addressed some pretty nasty less-breaking bugs (I've got PRs up there for them, but oh well). We can't bump to `master` of lesshint until those are fixed, or our less linting will start throwing false positives and we won't be able to deploy parts of our site; not a good thing :)

I'm going to write the linter on that version, a

[2015-11-02 15:50] kokarn commented on #90
Sounds good.
Just noticed a few more issues with gonzales today, we shouldn't have updated :(

[2015-11-02 15:52] shellscape commented on #90
@kokarn can always revert, but I'm assuming that's last resort.

[2015-11-02 15:53] kokarn commented on #90
We've updated quite a lot for 3.* so it's a lot of work for something that really shouldn't be an issue :/ Rather focus that dev time on the postcss thing ;)

[2015-11-02 15:57] shellscape commented on #90
@kokarn not to get too far off topic - would you like committing access to the dev repo for postcss-less?

[2015-11-02 16:25] kokarn commented on #90
Sorry, won't have time to help out in the foreseeable future i'm afraid.
Give it to @jwilsson if he doesn't have it already tho :)

[2015-11-03 10:41] shellscape opened #94 "propertyOrdering: alpha doesn't consider mixins"
As discovered while writing mixinOrdering, mixin calls within rule blocks aren't considered properties, but are labeled as type 'include' by gonzales-pe, and have a different means of getting the content.

[code]

[2015-11-03 10:44] shellscape opened #95 "propertyOrdering:alpha is examining free-standing groups of variables"
One of our devs ran across this yesterday and we spent some time verifying it. Haven't looked into why yet, but I'm suspecting that gonzales-pe is grouping blocks of vars together. The following block is throwing linting errors for `propertyOrdering: alpha`, on `@borderColor: #dfdfdf;`

[code]

[2015-11-03 11:23] shellscape commented on #95
OK hold on this, I ran this test data through lesshint raw in the specs and what we verified yesterday wasn't verifiable in the specs.

[2015-11-03 11:27] shellscape commented on #89
@kokarn @jwilsson @CITguy can you guys please ping the gonzales-pe team about the pending pull requests? I've got a feeling he's miffed, still hasn't merged any fixes, and the latest 3.x is breaking on legit less syntax.

[2015-11-03 12:42] jwilsson commented on #94
Do we want to enforce alphabetical ordering for mixins? Couldn't there be instances when the order matters?

[2015-11-03 12:56] kokarn commented on #94
Yeah, there are a lot of legitimate reasons for now having those in alpha order.

[code]
would probably output a totally different css than
[code]

[2015-11-03 13:31] shellscape commented on #94
There are likely edge use-cases where the ordering does in fact matter. I was going to put a PR together for this one and add a ```mixins: false``` (default) option for this. `true` would consider mixins, `false` would not. I'd be good either way for the value of the default value.

As an alternative, this could go into the mixinsOrdering linter as well. Would just need to rethink the options for

[2015-11-03 15:05] kokarn commented on #94
I actually don't see this as something that will break "edge use-cases" but a lot of pretty straightforward stuff.
Take this file, say `mixins.less`
[code]
These two will render very different
[code]

But i guess an option to validate mixin ordering that's disabled as default wouldn't hurt anyone :)

[2015-11-03 15:25] shellscape commented on #94
@kokarn that's actually an anti-pattern (applying multiple mixins that assign the same property) for less :)  I called it an edge case only because the shops I've worked at had standardized on never doing that.

[2015-11-03 16:50] shellscape commented on #89
@kokarn we've decided to use our fork of gonzales-pe while we're waiting. I just fixed variable strip-quote directives `@var: ~"value";` - https://github.com/gilt/gonzales-pe/commit/a655833ba60ec62072853ea32610260d2c2b4453

And using our fork of lesshint only because we have to override the instance of gonzales that lesshint uses while we're waiting: https://github.com/gilt/lesshint/commit/3d4c0af

[2015-11-03 17:49] jwilsson commented on #89
@shellscape I'm totally open to it, if everything's working for you guys (it seems like you got quite a complex code base) and if @kokarn could try it out too with his code base I think we could use that your so we can move forward with new linters and perhaps don't have to spend that much time on a new parser and the related work with rewriting all the linters.

But on second thought, I'm a bit w

[2015-11-03 18:07] shellscape commented on #89
Yeah getting out of sync is a big concern. We're viewing the fork here as temporary while we wait for the project to get fixes in there, and while we're working on postcss-less. With the community and activity of postcss, I really think it has great potential as the way forward. A few ugly patches on a fork of gonzales-pe is good enough for the time being (for gilt).

[2015-11-03 21:15] kokarn commented on #89
We could actually just do a fork and then stop. There shouldn't really be any more updates needed for gonzales for us to use it correctly so we can just make it stable and then just keep it that way. Then we can focus on the postcss stuff as i believe that's the way forward as well.

[2015-11-04 07:20] kokarn commented on #94
Oh. Didn't actually know that. We use mixins for a bunch of stuff and have never thought about that :P

[2015-11-04 07:50] jwilsson commented on #89
After some additional thinking I came up with that idea too, use the fork for now while we finish the PostCSS parser which would be great to use since we're in full control of the parser then.

[2015-11-04 12:50] shellscape commented on #94
Different strokes for different folks! :D

[2015-11-04 14:11] shellscape opened #96 "propertyOrdering: alpha, asterisks hack"
We've got this wonky bit in code:

[code]

The linter thinks that `*display` is less than `display` without an asterisk. Not sure how that should be handled. The order is necessary for the css hack to work. Maybe a property like `ignorePrefixes: ['*']` ? Thoughts?

[2015-11-04 14:25] kokarn commented on #96
IIRC the * properties are always used after, so maybe make * sort in the end?

[2015-11-04 14:40] jwilsson commented on #96
Or perhaps just ignore everything that isn't a letter? So even if you have something like this:

[code]

it will be treated and sorted as

[code]

and thus pass since we're only checking the property name.

[2015-11-04 14:45] shellscape commented on #96
Well I like that the linter tells me that my browser-prefix properties are out of order. So I think losing the ability to sort based on leading character would be a loss. To go further on what @kokarn said, it might be reasonable to enforce that *prefix properties should follow their non-prefixed counterparts.

[2015-11-04 14:49] kokarn commented on #96
That would make * a special case tho, which might not be desirable.
I guess the goal is to sort things in alphabetical order and anything that's not alphabetical should probably be an option.

That's the way we do for duplicates and stuff like that so i think the `ignorePrefixes` option is the way to go.

[2015-11-04 14:53] shellscape commented on #89
:+1: just finished "fixing" the last of the bugs for our fork that came up with our less files. We're using it internally here, but in fairness you guys should evaluate it. We haven't seen any ill effects with lesshint yet.

[2015-11-04 14:57] kokarn commented on #89
Let's let it mature for a week or two and then see how it works out. I'm all for going that way tho.

[2015-11-05 08:53] jwilsson commented on #89
Sounds good, I'm gonna take the fork for a spin with some Less frameworks etc. to see if there are any other issues (figuring there should be some pretty complex Less there).

[2015-11-05 11:40] shellscape commented on #89
We just found two more problems today. Another user posted an issue on gonzales-pe that keyframes are broken, and we just ran into that this morning. We're also having trouble with `ul > li > .thing` now. Just a cluster-f of a release.

[2015-11-05 13:14] kokarn commented on #89
How much work would you estimate it is to downgrade and what would be
broken if we did?

On Thu, Nov 5, 2015 at 12:40 PM Andrew Powell <notifications@github.com>
wrote:

[2015-11-05 13:56] shellscape commented on #89
I've honestly no idea. That'd be a question for @jwilsson.

[2015-11-09 22:34] egid opened #97 "nested @media queries erroneously trigger singleLinePerProperty rule"
The following...

[code]

... fires a warning for the `singleLinePerProperty` rule: "Each property should be on its own line."; the same rule, without the nested query, doesn't trigger any warnings:

[code]

Both are [valid Less](http://less2css.org/#%7B%22less%22%3A%22section%20%7B%5Cn%5Ct%40media%20(min-width%3A%20300px)%20%7B%5Cn%5Ct%5Ctfont-size%3A%20inherit%3B%5Cn%5Ct%7D%5Cn%7D%5Cn%5Cn%40medi

[2015-11-10 00:02] shellscape commented on #97
I can take a look at this for you tomorrow.

[2015-11-11 20:41] jwilsson commented on #89
Sorry for the silence guys, been a crazy couple of days.

I ran the fork on some frameworks using Less, Bootstrap and Skeleton among others, and the issues I found were:
* [% format function](http://lesscss.org/functions/#string-functions--format), for example this line from Bootstrap's `less/mixins/gradients.less`:
[code]

* [Guarded Namespaces](http://lesscss.org/features/#mixins-feature-guarded

[2015-11-11 21:47] shellscape commented on #89
No worries here. If I told you about my last few weeks between work and personal you'd probably poop masonry.

The % format should be an easy fix in the fork. The guard is a whole 'nother ball of wax, and there's still a pending request for that on gonzales' issues. I looked into it briefly but it's a complex problem. I didn't even know that inline javascript was possible :D but that should be not

[2015-11-12 07:29] kokarn commented on #89
@jwilsson, would you mind running the same frameworks with the current
gonzales-pe in lesshint?
I assume there will be errors thrown there as well and it would be very
interesting to compare.

On Wed, Nov 11, 2015 at 10:47 PM Andrew Powell <notifications@github.com>
wrote:

[2015-11-12 13:56] jwilsson commented on #89
@kokarn I'll take a look tonight.

[2015-11-12 18:42] jwilsson commented on #89
Apart from the things above this is what I found (duplicate errors not included):

Bootstrap's `less/alerts.less`
[code]

Bootstrap's `less/badges.less`
[code]

LESS Hat's `build/lesshat-prefixed.less`
[code]

Sometimes it's reporting parse errors on these types of lines which just seems absurd so I think that's something else.
[code]

Basically what I found are the things @shellscape has fixed in

[2015-11-12 22:28] kokarn commented on #89
Okey, that makes sense. Would you mind testing with an old version of gonzales as well? Just for comparison. That way we can make a well informed decision on a good way forward.

[2015-11-14 12:45] jwilsson commented on #95
@shellscape is this still an issue?

[2015-11-14 13:14] shellscape commented on #95
@jwilsson still looking into it, unfortunately.

[2015-11-14 13:23] jwilsson commented on #89
Alright @kokarn, I've tested the above frameworks with lesshint@e718226 which means:
* That's the last commit before the `gonzales-pe`update from `3.0.0-31` to `3.0.0-beta` and then a stable `^3.0`.
* I've also applied the bug fixes from 06bee99 and 91cf906 or everything would crash.
* This gave us these parse errors:

Bootstrap's `less/forms.less`:
[code]

Cardinal's `base/mixins/to-rem.less`:
[c

[2015-11-14 20:45] kokarn commented on #89
After all this testing I must say I agree. The fork seems like something we
could use as a great base and then focus on PostCSS

On Sat, Nov 14, 2015, 14:23 Jonathan Wilsson <notifications@github.com>
wrote:

[2015-11-17 19:18] #73 closed

[2015-11-17 19:19] #88 closed

[2015-11-17 19:19] shellscape commented on #88
:+1:

[2015-11-17 19:20] shellscape commented on #73
:+1:

[2015-11-17 19:21] jwilsson commented on #89
I'll submit a PR in just a little bit using @shellscape's fork.

[2015-11-21 10:34] #89 closed

[2015-11-21 13:01] jwilsson commented on #64
This should've been fixed in `1.1.0`.

Please reopen if you still run in to it.

[2015-11-21 13:01] #64 closed

[2015-11-21 14:08] jwilsson opened #99 "Linter result severity override"
I realized that we talked a lot about this in #44 and #47 and implemented the possibility of overrides but never actually created the functionality to actually override it.

I suggest we add the possibility to add a `severity` key to each option in `.lesshintrc` and use that value if it exists, otherwise we fall back to `warning`.

[2015-11-21 14:11] jwilsson opened #100 "Reporter.report method"
Currently, the reporters are simply a function called with results. I suggest that each reporter instead exposes a `report` method just like each linter exposes a `lint` method so they're consistent.

This would mean a deprecation of the current behaviour in a `1.x` release and removal in `2.0`.

[2015-11-21 14:13] kokarn commented on #99
+1

On Sat, Nov 21, 2015 at 3:08 PM Jonathan Wilsson <notifications@github.com>
wrote:

[2015-11-21 14:17] jwilsson opened #101 "Linter plugin support"
I was thinking about some sort of plugin support. That users of `lesshint` can create their own linters which doesn't necessarily belong in core (company specific linters or whatever) but still want to use the infrastructure provided by `lesshint` to lint their code.

We already got most of the structure in place for this in `linter.js`. What we need to do is basically this (probably forgot someth

[2015-11-21 14:20] kokarn commented on #101
+1

On Sat, Nov 21, 2015 at 3:17 PM Jonathan Wilsson <notifications@github.com>
wrote:

[2015-11-21 14:21] jwilsson opened #102 "Replace JSHint/JSCS with ESLint"
I've recently been working more and more with ESLint and I really like it. It also seems unnecessary to include two tools when one would suffice. Does anyone have any objections to this? Otherwise, I'll just do it :wink:

[2015-11-21 14:22] kokarn commented on #102
https://www.youtube.com/watch?v=ZXsQAXx_ao0

On Sat, Nov 21, 2015 at 3:21 PM Jonathan Wilsson <notifications@github.com>
wrote:

[2015-11-21 17:41] jwilsson commented on #95
@shellscape You want me to take a look?

[2015-11-21 17:41] jwilsson commented on #97
@shellscape You want me to take a look?

[2015-11-21 20:02] shellscape commented on #97
@jwilsson sure man. apologies, it's been nuts on my end lately.

[2015-11-21 20:03] shellscape commented on #95
@jwilsson if you've got the itch, that'd be cool

[2015-11-21 20:03] shellscape commented on #102
I've got no objections

[2015-11-21 20:04] shellscape commented on #101
Also would recommend configuration outside of .lesshintrc

[2015-11-21 20:05] shellscape commented on #99
:+1:

[2015-11-21 20:05] shellscape commented on #100
:+1:

[2015-11-23 11:59] kokarn opened #103 "Move away from .lesshintrc"
ESLint have started to move away from `.eslintrc` in favor of `.eslintrc.json`, `.eslintrc.js` and `.eslintrc.yml` files.
It's described here [ESLint 1.10.0 new config file types](http://eslint.org/blog/2015/11/eslint-v1.10.0-released/#configuration-file-formats) and it makes a lot of sense.

I think we should do the same.
Perhaps just `.json` for consistency?

Another thought, what are the actual

[2015-11-23 12:28] shellscape commented on #103
It's not just linters that have an 'rc' file. It's a long-standing industry standard practice.

https://en.wikipedia.org/wiki/Configuration_file#UNIX.2FLinux
http://stackoverflow.com/questions/11030552/what-does-rc-mean-in-dot-files
http://unix.stackexchange.com/questions/3467/what-does-rc-in-bashrc-stand-for

Hell, even Windows follows the same mantra: https://msdn.microsoft.com/en-us/library/win

[2015-11-23 14:29] kokarn commented on #103
Ah, yeah that explains it a bunch more. But you are opposed to move to a
.lesshintrc.json as well, correct?

On Mon, Nov 23, 2015 at 1:28 PM Andrew Powell <notifications@github.com>
wrote:

[2015-11-23 16:29] shellscape commented on #103
I really don't think it's needed, and would count only as cruft. If someone can't grok that the content of the rc file is json, they have bigger issues. :)

[2015-11-23 20:26] jwilsson commented on #101
@shellscape do you mean via Gulp plugins for instance?

[2015-11-23 20:28] jwilsson commented on #103
I'm with @shellscape on this one and I also think that the "other linters do it" argument is quite strong in favor of keeping it the same as today. Then people will be familiar with it.

[2015-11-23 21:15] shellscape commented on #101
via:

[code]

or some such

[2015-11-24 05:59] jwilsson commented on #101
:+1:

[2015-11-24 07:25] kokarn commented on #103
Sure thing, the majority have spoken!

[2015-11-24 07:25] #103 closed

[2015-12-03 13:19] jwilsson commented on #95
@shellscape I can't seem to reproduce it. The only line it's complaining about is 37:
[code]

[2015-12-03 13:20] jwilsson commented on #97
Sorry for the silence on this, I'll take a look tonight.

[2015-12-03 14:49] shellscape commented on #95
cool. this bish is closed then. thanks for having a peek

[2015-12-03 14:49] #95 closed

[2015-12-03 20:26] #97 closed

[2015-12-03 21:05] shellscape commented on #97
:+1:

[2015-12-03 21:30] egid commented on #97
🆒

[2015-12-05 13:17] AoDev opened #105 "[feature request] validate selector naming convention"
Hello,

I'd like to be able to validate selector naming.

Until now I have always been with people following the convention to use dashes / lowercase names but a coworker has been using camel case in his previous workplace.

`btn-primary` vs `btnPrimary`

Maybe a simple `lowercase` test is enough ?

At first I could see settings for:
* underscore (true | false)
* dash (true | false)
* case ('lower

[2015-12-05 13:21] kokarn commented on #105
This sounds insanely useful actually.

+1 from me

On Sat, Dec 5, 2015 at 2:17 PM AoDev <notifications@github.com> wrote:

[2015-12-05 16:00] AoDev opened #106 "[bug?] nesting defeats qualifyingElement rule"
Hello,

I just realised that:

`.navbar a.active` will trigger the qualifyingElement error.

but if I nest it:

[code]

the error will be "solved".

Maybe it's a hard one. Whether it can be solved or not, a warning in the docs would be a nice thing to do.
And it's possible that more rules behave in the same way.

[2015-12-05 16:03] jwilsson commented on #105
I agree, sounds awesome.

@AoDev interested in a PR?

[2015-12-05 16:27] jwilsson commented on #106
Hi,
I don't think it will be especially hard to check for but I'm just wondering if a option to enable/disable the check on parent selectors would make any sense?

[2015-12-05 16:46] shellscape commented on #105
various common cases:

* sausage
* snake
* camel
* lower
* upper

[2015-12-06 07:45] AoDev commented on #106
I think that it should be coherent. If this rule is to prevent someone from writing:

[code]
it should not matter whether one is using, less, sass, stylus, etc. It's not about code style but avoiding bloated useless selectors, isn't it? Personally I would not add such option.

On the other hand, I do have problems with this rules because when I want to override some styles from a framework like bo

[2015-12-06 08:06] AoDev commented on #105
@jwilsson I'll check the code to see how "hard" it is to prepare a PR. I am fighting multiple fronts and another just slows everything :P

[2015-12-06 13:13] jwilsson commented on #50
A first iteration of this is up in #107.

[2015-12-06 13:26] #100 closed

[2015-12-07 19:57] jwilsson commented on #102
Closed by 68e1b3ed9a35e59dddde43709e862be41af380f1.

[2015-12-07 19:57] #102 closed

[2015-12-07 21:29] AoDev commented on #105
@jwilsson I have started with it.

[2015-12-10 10:02] #105 closed

[2015-12-10 14:08] jwilsson commented on #106
Alright, lets add a check for parent selectors too. Do you wanna submit a PR @AoDev? Otherwise I'll take care of it.

[2015-12-14 10:22] kokarn opened #110 "Nested mixins get mistaken for properties"
This code throws `Each property should be on its own line.`
[code]

[2015-12-14 12:56] #106 closed

[2015-12-14 12:56] #110 closed

[2016-01-07 21:10] shellscape opened #111 "Escaping and String Formatting"
I just opened https://github.com/tonyganch/gonzales-pe/issues/141 and https://github.com/tonyganch/gonzales-pe/issues/142 on gonzales-pe (not that I expect them to get addressed). Seems a common pattern, so I'm surprised that it hasn't come up before now.

If anyone has a chance to fix it on the [gilt fork](https://github.com/gilt/gonzales-pe), that'd be awesome. Probably wont be able to get to it

[2016-01-26 20:30] #99 closed

[2016-01-29 01:50] cageygee3 commented on #55
Would love to see this in action as well. For our project, we always alphabetize our properties, but there are a couple cases where it makes sense to not do this:

- `display: none` comes first (usually with a comment explaining why)
- Browser-specific properties usually mess up the ordering of things

Any status update?

[2016-01-29 02:13] cageygee3 opened #113 "excludedFiles (in the config file) isn't working"
In my config file, I have two files I'm trying to exclude:

[code]

But when I run lesshint on my stylesheets directory, the files are included:

[code]

Likewise, trying to exclude multiple files on the command-line doesn't work:

[code]

The only thing I can get working is excluding a single file on the command line:

[code]

Any idea what's going on?

[2016-01-29 18:12] jwilsson commented on #113
Hmm, that sounds really weird. Are you interested in taking a look?

[2016-01-29 18:40] cageygee3 commented on #113
Sure, I'll poke around and see what I can dig up.

[2016-01-29 18:55] jwilsson commented on #55
Totally forgot about this one. I don't think anyone's working on it but I'll be happy to do so unless someone else is interested (@shellscape?).

What I'm proposing is basically what we discussed earlier so we're consistent with `.lesshintrc`.

Disable rule for a single line (add any type of trailing comment):
[code]

Disable rule for the whole file (add a any type of comment at the top):
[code]

[2016-01-29 19:04] cageygee3 commented on #55
Sounds good to me. :+1:

[2016-01-29 21:00] shellscape commented on #55
I had started poking at this but got distracted by the PostCSS LESS syntax thing. And then our company got purchased so it's been a little crazy on my end. Should even out after this month - but please do take a look at that branch and continue on in the mean time!

[2016-01-29 21:55] cageygee3 opened #114 "Possible misconfiguration for line endings?"
I just forked and cloned the repo to my Windows machine, installed npm packages, and tried `npm run test`, only to be greeted with nearly 9,000 errors:

[code]

The .gitattributes file is explicitly requesting auto-handling of line endings:

[code]

But the test seems to expect everything to be LF only. Does .gitattributes need to be changed?

[2016-01-29 22:26] cageygee3 commented on #113
I have a fix for this (very simple), but I'll need some help getting my tests passing before I can submit a pull request. See #114.

[2016-01-29 22:36] cageygee3 commented on #114
The problem is line 24 of .eslintrc.json:

    "linebreak-style": 2,

That rule specifies that all files to be linted (all of the JS files under lib/ and test/) need to have line endings of LF only, which doesn't match the git config I pasted above. (Commenting out that eslint rule makes all the errors go away.)

How would you like to proceed?

[2016-01-29 22:56] shellscape commented on #114
Windows! Oh man it's been so long. I'll let @jwilsson field that one.

[2016-01-30 00:34] cageygee3 commented on #113
I was able to get my tests passing by commenting out the eslint rule that requires LF only, so I should be able to submit a pull request (with tests!) this evening. :smile:

[2016-01-30 14:44] kokarn commented on #114
I think we should allow both line endings, so just delete the eslint check
should be fine.

On Fri, Jan 29, 2016 at 11:56 PM Andrew Powell <notifications@github.com>
wrote:

[2016-01-30 14:45] kokarn commented on #113
Great work! Happy that there are more people contributing and helping out.

[2016-01-30 21:16] #113 closed

[2016-01-30 21:17] jwilsson commented on #114
Yeah, I'll remove the ESLint check.

[2016-01-30 21:19] #114 closed

[2016-01-31 02:09] cvisco opened #116 "Create blankLineAfterDeclaration linter"
We'd like to be able to enforce a blank new line after a declaration. For example:
[code]

[code]

[2016-01-31 02:18] cvisco opened #117 "Add selector length option to singleLinePerSelector?"
For very short selectors, it would be nice to let them live on one line.

The [18F Style Guide](https://pages.18f.gov/frontend/css-coding-styleguide/format/) specifies this as "Multiple selectors should each be on a single line, with no space after each comma, unless [the] selector is less than five chars."

I tend to follow this as well, just out of habit:

[code]

[2016-01-31 02:22] cvisco opened #118 "qualifyingElement linter should allow `&.classname` form"
The following is valid in my opinion, but qualifyElement flags the `&.is-active`:
[code]

This would apply to things like `&[disabled]` as well

[2016-01-31 02:32] cvisco opened #119 "spaceAroundComma linter breaks on multiline definition"
For very long definitions, as you might find with gradients, we'd like to be able separate each step on to a new line without the `spaceAroundComma` linter flagging it. Perhaps this needs to be an additional option?

Something like the following should be considered valid, in my opinion:
[code]

[2016-01-31 10:58] kokarn commented on #116
I think this is a good think to lint. :+1:

[2016-01-31 11:05] kokarn commented on #117
I think this should be a separate option for the singleLinePerSelector linter.
"18F" or something like that.

[2016-01-31 11:06] kokarn commented on #118
Hmm, I thought we fixed this because as I see it it's a bug as well.

Feel like taking a stab at it?

[2016-01-31 11:07] kokarn commented on #119
LGTM.
The problem is with how to filter where it's available or not.
Maybe a list of excluded properties?

[2016-01-31 13:43] cvisco commented on #118
Yep, i'll tackle this. Should be straight forward.

[2016-01-31 13:51] kokarn commented on #118
Great! Looking forward to the PR :)

[2016-02-01 07:45] jwilsson commented on #119
I think an `exclude` option sounds overkill, but definitely something like `newline-after` and `newline-before` values for the `style` option.

[2016-02-01 09:32] kokarn commented on #119
But won't that lead to some things not being linted correctly?
Because it's just the linear-gradient that you want to allow newlines for not say font.
Or is that expected behaviour then?
[code]

[2016-02-01 11:53] jwilsson commented on #119
Yeah, you're right. Perhaps we could look at how `stylelint` does it: https://github.com/stylelint/stylelint/blob/master/src/rules/value-list-comma-space-after/README.md?

[2016-02-01 13:13] kokarn commented on #119
Well... no?
 1. They don't fix the issue we're having where we might want some properties to be allowed on multi-line and some not
 2. They are doing some weird comma first stuff that i really dislike.

The only thing I can see that's good is that we are consistent with them, which might not be a bad idea.

Thoughts @cvisco ?

[2016-02-01 15:55] cvisco commented on #119
On one hand, I like the idea of just allowing `newline-after`, but it might be too permissive. In opening this issue I was more focused on allowing newlines after commas in CSS functions. While that includes `attr` and `calc`, the comma issue mainly presents itself in functions with potentially long parameter lists like `linear-gradient`, `radial-gradient`, `repeating-linear-gradient` and `repeati

[2016-02-01 20:17] kokarn commented on #119
:+1: Sounds good to me.
Like a middle ground kind of thing.
Not too permissive, not too strict.

[2016-02-04 14:04] thybzi commented on #89
For now, lesshint still uses gonzales-pe. It what future version it should move to PostCSS?

[2016-02-04 14:19] shellscape commented on #89
@thybzi the postcss-less parser isn't ready yet. I barely scratched the surface, and had to put it on the back burner temporarily. The base parser picks up a *ton* of stuff that's part of the less syntax, but it needs additions. The fork is here: https://github.com/gilt/postcss-less and I would absolutely welcome contribution. I should be picking up work on it again in the near future. Once it's c

[2016-02-04 15:04] shellscape commented on #89
And I just ran across this project here: https://github.com/webschik/postcss-less

[2016-02-04 20:30] kokarn commented on #89
That actually looks quite good. Maybe focus on that one instead?
Any comparison to yours Andrew?

On Thu, Feb 4, 2016 at 4:04 PM Andrew Powell <notifications@github.com>
wrote:

[2016-02-04 22:37] shellscape commented on #89
@kokarn haha it's the same initial fork of postcss-scss. if you diff the code, you'll see it's actually not as far a long as the gilt fork.

[2016-02-05 07:46] kokarn commented on #89
oh sorry, I just checked the commits and it looked good ^^

Maybe try to talk to them and see if they want to join in work on the gilt
version instead?

On Thu, Feb 4, 2016 at 11:37 PM Andrew Powell <notifications@github.com>
wrote:

[2016-02-05 16:06] thybzi commented on #89
Good idea to cooperate if we pursue similar goals

[2016-02-09 23:31] cageygee3 commented on #113
Since it'll probably be a while before the ignore-this-line functionality is ready to go (issue #55), would it be possible to get a new release with this fix?

[2016-02-11 21:28] jwilsson commented on #113
@cageygee3 I'm just finishing up some last things for a `1.3.0` release which should be up Friday morning (CET).

[2016-02-11 23:45] cageygee3 commented on #113
Awesome, sounds great, thanks!

[2016-02-12 07:31] #70 closed

[2016-02-12 07:46] jwilsson commented on #113
And `1.3.0` is published to npm!

[2016-02-12 09:49] miloszsobczak opened #120 "SpaceAroundOperator crashes linting execution."
Actually, we're not sure if it's problem of lesshint itself or gulp-less plugin, but the throws comes from lesshint plugin.

[code]

It's kinda annoying because we need to disable _SpaceAroundOperator_ checking to get thinkgs work.

[2016-02-12 10:09] jwilsson commented on #120
Confirmed, it's a bug in `lesshint`. We don't check the variable values (we always assume it's a object but it could be null).

@miloszsobczak Are you willing to take a stab at it?

[2016-02-12 11:31] miloszsobczak commented on #120
@jwilsson thanks for confirmation. I will fix it later on and make pull request.

[2016-02-12 12:09] jwilsson commented on #120
@miloszsobczak Awesome, looking forward to it!

[2016-02-12 17:08] tkazec opened #122 "TypeError: Cannot set property 'atrulers_end' of undefined"
Trying to set up lesshint for the first time, seems to run along nicely, then throws these fairly cryptic messages:

[code]

I'd be happy to provide the code causing this to fail, if I knew which part it was.

[2016-02-12 18:17] #120 closed

[2016-02-12 18:30] jwilsson commented on #122
Hmm, it almost sounds like you have some Less that's invalid/faulty.

Something involving an @-rule, I'm afraid that's all I can tell you. If you managed to track it down and it's valid, please report back and we'll investigate more!

[2016-02-12 19:15] cageygee3 commented on #113
Great, thanks! :smile:

[2016-02-12 20:33] shellscape commented on #122
@tkazec definitely an issue with a dependency called gonzales-pe. We've been fighting these kinds of errors since they released a new version that really screwed up LESS support in the module (SCSS was equally as effected).

If you can figure out what block of code is causing that error, I can probably produce a fix in our fork of gonzales-pe we're using for LESS fixes. Process of elimination will

[2016-02-13 02:52] tkazec commented on #122
Hi all, my bad, I was accidentally analyzing my entire `node_modules` folder... Stupid 2am mistake :( Found it pretty quickly, but it'd be nice to have a debug/verbose mode to print each filename lesshint is analyzing.

[2016-02-13 02:52] #122 closed

[2016-02-13 05:46] shellscape commented on #122
That's a good suggestion :+1:

[2016-02-13 07:35] tkazec opened #123 "finalNewline reports wrong line number"
[code]

[2016-02-13 07:40] tkazec opened #124 "spaceAroundOperator doesn't like shorthand"
[code]

[code]

[2016-02-13 15:41] shellscape commented on #123
@tkazec please include the less you're seeing these errors on so we can accurately reproduce. :)

[2016-02-13 22:35] adam-lynch commented on #123
:+1:

[code]

My file is 61 lines long but it's reporting line 14. I don't see why it's giving me this error anyway... I have a newline at the end?

[2016-02-13 22:37] adam-lynch opened #125 "Feature request: mixins should be at top of blocks"
Invalid:

[code]

Valid:

[code]

(Ideally I want a newline after them too but I won't ask for too much :smile: )

[2016-02-13 22:41] adam-lynch opened #126 "Feature request: empty line between blocks"
Invalid:

[code]

Valid:

[code]

[2016-02-13 22:44] adam-lynch opened #127 "Feature request: selector with descendants should be nested"
Valid:

[code]

Valid:

[code]

Some people want to avoid nesting because of style preference or laziness but this is actually good for maintainability. If I need to add a rule to `.a`, I don't have to convert it from the invalid example to the valid example before adding my rule.

[2016-02-13 22:59] adam-lynch commented on #127
Although... Maybe only when it's the only selector; this is only valid in my opinion since it's sharing code:

[code]

I wonder what others think.

[2016-02-13 23:01] adam-lynch opened #128 "Is there a way to exclude/escape/disable something for a single line?"
I didn't see this in the docs, sorry if I just missed it. What if I have to use a certain thing on one line because of an edge but don't want it anywhere else? Can I put a comments on the line above and the line below to allow it? Or something like that.

[2016-02-13 23:09] adam-lynch opened #129 "spaceAroundOperator should allow negative numbers"
This fails but shouldn't in my opinion:

[code]

[2016-02-13 23:22] adam-lynch opened #130 "spaceBetweenParents isn't multi-line friendly"
This fails:

[code]

[2016-02-13 23:23] adam-lynch commented on #130
Actually, a few things are like this. `spaceAroundComma` fails on the second line there :/

[2016-02-13 23:25] adam-lynch opened #131 "qualifyingElement should allow `&`"
This fails:

[code]

[2016-02-13 23:28] adam-lynch opened #132 "singleLinePerProperty incorrectly fails on mixin without semi-colon"
[code]

[2016-02-13 23:43] adam-lynch opened #133 ""Please check validity" for no reason (?) when defining mixin with "when""
[code]

[2016-02-14 10:00] miloszsobczak opened #134 "Checking trailingWhitespace outputs unexpected syntax Error."
When I lesshit my code with usage of trailingWhitespace feature, lesshint logs weird syntax Error.
`Syntax "undefined" is not supported yet, sorry`

It's visible even in tests:
[code]

I you confirm it as bug, let me send u pull request with some fixes.

[2016-02-14 13:28] jwilsson commented on #124
Looks like our fix in #121 wasn't enough :/ any takers? @miloszsobczak @tkazec?

[2016-02-14 13:30] jwilsson commented on #125
Sounds like a duplicate of #90, please reopen if you disagree :)

[2016-02-14 13:30] #125 closed

[2016-02-14 13:31] jwilsson commented on #126
Sounds like a duplicate of #116, please reopen if you disagree :)

[2016-02-14 13:31] #126 closed

[2016-02-14 13:33] jwilsson commented on #128
Not at this moment, we're discussing it in #55. I don't think anyone's working on it though. If you're interested, give it a shout over there!

[2016-02-14 13:33] #128 closed

[2016-02-14 13:34] jwilsson commented on #129
I think this is related to #124, but I'll leave this open for now.

[2016-02-14 13:39] jwilsson commented on #131
This sounds like a duplicate of #118, please reopen if you disagree :)

[2016-02-14 13:39] #131 closed

[2016-02-14 13:41] jwilsson commented on #118
Now that #131 was opened my memory of #106 came back. So it looks like we have two sides here :)

One in favor of having `qualifyingElement ` allowing `&`-selectors and one that wants to disallow it. Perhaps we should add a option to allow/disallow it as proposed in #106?

[2016-02-14 13:45] jwilsson commented on #130
Yeah, kind of the same issue as `spaceAroundComma` in #119. We need some way (a setting, just ignoring it, something else) to check for new lines before/after commas and parentheses.

What are people's thoughts on this?

[2016-02-14 13:51] jwilsson commented on #134
It seems like it's related to empty files (since it's logged on that test and I was able to trigger the error myself with a empty file), I guess we should just skip empty files and never send them to `gonzales-pe`.

[2016-02-14 13:52] adam-lynch commented on #90
:+1:

[2016-02-14 13:52] adam-lynch commented on #116
:+1:

[2016-02-14 13:53] adam-lynch commented on #126
Sorry for missing these :)

Regards,
Adam Lynch

On 14 February 2016 at 13:31, Jonathan Wilsson <notifications@github.com>
wrote:

[2016-02-14 13:53] adam-lynch commented on #55
Definitely need this :+1:

[2016-02-14 13:54] miloszsobczak commented on #134
It could be what you mentioned. Let me handle this.

[2016-02-14 13:55] jwilsson commented on #133
Ah, the good ol' parsing issues. Our parser, `gonzales-pe` has some issues with the Less syntax. @shellscape has done a great job of fixing some of it in our fork (https://github.com/gilt/gonzales-pe) as well as working a PostCSS Less parser (https://github.com/gilt/postcss-less) and he will probably love you if you have the time/want to help out with some of it :)

[2016-02-14 13:56] jwilsson commented on #127
I don't have any real opinion on this, lets see what others say.

[2016-02-14 13:57] miloszsobczak commented on #124
Shit. This time I will try to make it more flexible and I will look patiently at the whole file.

[2016-02-14 13:58] adam-lynch commented on #118
:+1:

Don't see why you'd ever want to disallow `&`. @jwilsson I don't see anyone suggesting that? It should expand the `&` and fail for `a { &.b { color: red; }}`, but allow `.a { &.b { color: red; }}`.

[2016-02-14 14:00] adam-lynch commented on #133
Will see what I can do.. :smile:

[2016-02-14 14:05] jwilsson commented on #123
Thanks @adam-lynch, I'm able to reproduce it.

The problem is this:
Right now, we naively use the length of the array that contains the root `stylesheet` node's children as the final line (which of course is incorrect) so that's why it shows the line number as something that's way below the total number of lines. I'll take a look at it.

[2016-02-14 14:23] jwilsson commented on #118
@adam-lynch You're right, my bad. Didn't read carefully enough :)

By the way. @cvisco how's it going? :)

[2016-02-14 14:35] cvisco commented on #118
@jwilsson Unfortunately, I haven't been able to dive into this yet. It's been a busy few weeks at work. If anyone else wants to tackle this right away, feel free. Otherwise I'll pick it up this coming weekend.

[2016-02-14 23:17] kokarn commented on #127
Nah, not really a preference here either. Might be a bit weird allowing different syntaxes depending on what it contains?

[2016-02-16 13:19] adam-lynch commented on #123
:+1:

[2016-02-17 07:25] #123 closed

[2016-02-19 22:10] CITguy commented on #129
Another test case:

[code]

[2016-02-19 22:35] CITguy opened #137 "False Positive with "decimalZero""
Given `decimalZero: "leading"` and the following Less code...

[code]

I should get an error on line 2, because `.5` should be `0.5`

[2016-02-19 22:37] CITguy commented on #137
Gut instinct says it's because the linter isn't penetrating the function arguments.

[2016-02-20 10:36] jwilsson commented on #137
Yup, looks like it. @CITguy wanna take it?

[2016-02-20 14:01] jwilsson commented on #55
Some feedback over in #138 would be greatly appreciated :smile:

[2016-02-21 12:14] #117 closed

[2016-02-21 12:31] #132 closed

[2016-02-21 12:51] wareczek opened #140 "importPath for .css file"
`@import (inline) "path/to/file.css";`

throws error:

But omitting file extension is only availbe for "*.less" files.

http://lesscss.org/features/#import-directives-feature-file-extensions

[2016-02-21 13:56] wareczek opened #141 "spaceAroundOperator and box-shadow"
`box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, .75);`

throws error:

[2016-02-21 15:19] jwilsson commented on #140
I guess we should add a check to see if the file extension is `.less` and only report it then. @wareczek do you wanna fix it?

[2016-02-21 15:19] jwilsson commented on #141
This sounds like a duplicate of #124, please reopen if you disagree :)

[2016-02-21 15:19] #141 closed

[2016-02-21 16:20] wareczek commented on #127
I'm against this rule and even want oposite behavior. I see, very often, people abusing nesting for only one rule inside, making code very long.

[2016-02-21 16:45] #140 closed

[2016-02-21 19:09] adam-lynch commented on #127
Don't really see this as a problem unless there are unnecessary selectors. Like if they had `ul li a` instead of `ul a` just because they're nesting to match the HTML structure.

[2016-02-22 02:41] CITguy commented on #137
FYI: It'll be next weekend (at the earliest) before I can dive in.

[2016-02-22 09:22] kokarn commented on #127
I think we need more complex less to discuss this. How it might perform and behave in different situations. Here are some I came up with but we need a lot more
[code]

[2016-02-23 07:50] jwilsson commented on #124
Closed by #144.

[2016-02-23 07:50] #124 closed

[2016-02-23 07:51] jwilsson commented on #129
Closed by #144.

[2016-02-23 07:51] #129 closed

[2016-02-23 07:52] #134 closed

[2016-02-24 14:56] cvisco commented on #118
...and it's looking like my schedule isn't going to open any time soon, so i'm going to have to "put it back on the queue". I did look into this briefly and it doesn't seem as simple as I initially thought. `gonzales-pe` doesn't seem to have any built-in facility for checking the types of ancestors.

[2016-02-24 21:01] jwilsson opened #147 "Move stylish reporter to its own package"
Just to make sure we don't forget our discussion in #146.

The `stylish` reporter should be moved to its own repo and package. What we need to do right now:
- [x]  Move files to the new repo.
- [x]  Remove the `chalk` dependency from `package.json`.
- [x]  Add a special case for `stylish` when we load reporters so it'll still work with the old name (since the new one will be `lesshint-reporter-sty

[2016-02-24 21:50] shellscape commented on #147
There should be a minimalist core reporter in the event that no reporters are specified. Or were you planning on making the stylish reporter a dependency of lesshint?

[2016-02-25 07:18] jwilsson commented on #147
@shellscape Yes, exactly. We move it to its own package and add it as a dependency here.

[2016-03-01 21:09] #55 closed

[2016-03-02 22:19] shellscape opened #149 "Max Warnings Configuration"
Do we have a max warnings configuration I'm not seeing? Wiring this up to gulp (through gulp-lesshint) I'm trying to force gulp to exit with 1 if there's any warnings at all. Certainly something I could add to the gulp plugin, but was thinking that lesshint itself should return 1 through the cli and something falsey if used programmatically. Thoughts?

[2016-03-03 07:43] jwilsson commented on #149
Absolutely, sounds great!

[2016-03-06 08:37] #137 closed

[2016-03-07 08:37] screeny05 commented on #133
+1

[2016-03-07 14:01] shellscape opened #151 "Evaluating PostCSS-LESS"
I'm opening this one because I think it may be time. https://github.com/webschik/postcss-less has made much more progress in recent months than I've been able to (because I haven't been able to at all) on the gilt PostCSS-LESS version. Initially the two projects were virtually identical anyhow. @webschik seems to have made some solid additions, and I think it's time we start to evaluate this as an

[2016-03-07 14:27] kokarn commented on #151
With all the bad pr i've heard of gonzales-pe i'd really like this to be done.
Has anyone talked to @webschik?
Would be nice to hear what he has to say and if we can work together on that.

My thinking is that we should start with the most complex linters and fix any errors that might pop up there and then work "backwards" with the more straighforward ones. That way we get alerted really fast to s

[2016-03-07 15:50] shellscape commented on #151
I'm more of a fan of the low-hanging-fruit approach, as it's less time intensive and more progress can be made (in theory). There's going to be a lot of setup required to shift the linters and the module base to postcss-less, and adding the time it takes to debug the more complex linters doesn't sound appetizing to me personally, to kick off that effort :) if you'd like to once we've got a base in

[2016-03-07 19:54] webschik commented on #151
Hi guys!
I'm using my parser with [Stylelint](https://github.com/stylelint/stylelint), but in some tricky way. [There is](https://github.com/stylelint/stylelint/issues/810) a discussion about implementation of  `postcss-less` in Stylelint.

If you want to test my parser with `lesshint` - no problem, I will try to help you and fix some possible issues.

[2016-03-08 08:54] kokarn commented on #151
Sounds great @webschik!
@shellscape if that's how you feel, then let's go with that unless @jwilsson has some major objections.

[2016-03-08 09:41] jwilsson commented on #151
I don't have any particular preference on how to do it and @shellscape, if you wanna take the lead on this go for it :) I'm pretty swamped this week but I'll hopefully be able to take a closer look at the PostCSS API and some rules over the weekend or next week.

Some rules off the top of my head that should be easy to start out with:
`borderZero`
`comment`
`emptyRule`
`idSelector`
`importantRule`

[2016-03-08 13:35] shellscape commented on #151
:+1:  everyone. I'll start on work at some point this week.

[2016-03-09 12:21] miloszsobczak commented on #133
+1

[2016-03-09 14:35] shellscape commented on #133
FYI this was reported to gonzales-pe in January https://github.com/tonyganch/gonzales-pe/issues/146

[2016-03-09 15:24] adam-lynch commented on #133
Might be nice to be able to turn this off.

On Wed, Mar 9, 2016, 14:35 Andrew Powell <notifications@github.com> wrote:

[2016-03-09 15:59] shellscape commented on #133
@adam-lynch turn what off, specifically?

[2016-03-09 16:46] adam-lynch commented on #133
@shellscape this error. I don't want to see it if it's not accurate :smile:

[2016-03-09 17:12] shellscape commented on #133
@adam-lynch there's nothing we can do to hide or turn off that error, it's something thrown by gonzales-pe, and the module doesn't give us any information as to why it's thrown. It's typically a fault of incomplete support for LESS by the module (which is why we're looking at moving to a postcss parser).

[2016-03-09 17:46] adam-lynch commented on #133
@shellscape ah ok :+1:

[2016-03-13 20:48] jwilsson commented on #151
I've just pushed a first WIP to the `postcss-less-parser-replacement` branch. I've also converted `borderZero` to use `postcss-less` instead. I'm not 100% satisfied with the looks of `linter.js` but it's a start. A later issue is how much public API breakage we want to introduce, some is inevitable but I'll post a bigger meta-issue about things we can do in a `2.0.0` later.

But the important thin

[2016-03-14 12:19] shellscape commented on #151
You're a machine. We may be able to get something into PostCSS for the columns. I'll have a look when I get on this.

[2016-03-14 19:37] shellscape commented on #151
After watching https://github.com/webschik/postcss-less/pull/12 I'm a little more hesitant to run with webshik's effort. That PR adds a massive amount of cruft to the repo, and it gives me the willies. I'm gonna keep poking at the Gilt effort and cherry pick the updates/improvements that the PR contains with regard to the actual syntax, keeping the repo clean and tidy.

[2016-03-15 17:40] ajaswa opened #152 "zeroUnit is incorrectly applied to opacity"
According to the spec, the `opacity` property does not have a unit for its value. When running lesshint against a less file with `opacity` properties, the `Unit should not be omitted on zero values.` warning comes up.

Reference docs:
https://www.w3.org/wiki/CSS/Properties/opacity
https://www.w3.org/TR/css3-color/#transparency
https://developer.mozilla.org/en-US/docs/Web/CSS/opacity

[2016-03-15 19:05] jwilsson commented on #152
Confirmed. I'm guessing from our Twitter conversation that you're interested in patching it?

I can't come up with any other properties which works like `opacity` right now, but if you do please add them here too!

[2016-03-15 19:11] ajaswa commented on #152
Indeed, I'd like to take a stab at it. I can't come up with anything else either. If I do I'll include them here.

[2016-03-15 22:27] ajaswa commented on #152
z-index also has a non-unit numerical value.

https://developer.mozilla.org/en-US/docs/Web/CSS/z-index

[2016-03-16 15:54] kokarn commented on #152
How about other things?
It's recommended to use line-height without a unit for better scaling, but it's possible to use with units.

[2016-03-16 17:17] shellscape commented on #152
Sounds like there needs to be a property exclusion list for this one.

[2016-03-16 17:25] ajaswa commented on #152
@shellscape indeed. I added an array of properties that can be easily added to when more properties are "discovered" that have non-unit values. Though I'm not sure I've done it in the right place but it seems to work.

Right now the list includes `opacity`, `z-index' and `line-height`.

[2016-03-17 20:40] BiggestBuccaneer opened #154 "New option for "spaceAfterPropertyColon" linter"
Can we have "at_least_one_space" option for "spaceAfterPropertyColon" linter? Thats allows to align equal values  of related properties. Like so:
[code]
I can create PR

[2016-03-18 07:39] idelpivnitskiy commented on #154
@BiggestBuccaneer looks great to me! :+1:

[2016-03-18 13:11] jwilsson commented on #154
Sounds good to me, PR welcome :)

[2016-03-18 13:12] jwilsson commented on #152
@shellscape were you thinking a configurable list or a hardcoded one? I'm fine with either.

[2016-03-18 17:28] shellscape commented on #152
following previous patterns, a configurable list with defaults seems to be a good idea.

[2016-03-18 17:39] ajaswa commented on #152
I disagree. Allowing users/devs to configure a list of properties to determine what the CSS spec has already defined seems like a very bad idea. If thats not the case then why not have all the units configureable?

[2016-03-18 17:52] shellscape commented on #152
@ajaswa lesshint linters follow a pattern of configurability. I don't quite get what "all the units" means in this context, but allowing users to add properties to that list the spec already defines is certainly reasonable.

[2016-03-18 17:55] ajaswa commented on #152
What I mean by "all the units" is that by your logic this line should also be set in configuration: https://github.com/lesshint/lesshint/blob/master/lib/linters/zero_unit.js#L12

[2016-03-18 19:18] shellscape commented on #152
Sure, I would consider the ability to add units to that list to also be reasonable. This would have impact in preprocessors, allow users to expand upon lesshint if it were to fall out of sync with the spec, etc.

[2016-03-19 10:12] jwilsson commented on #152
I'm sorry to see that #153 was closed and deleted, and for missing the discussion but my two cents on this is:

* In `zeroUnit`, we keep a list of properties defined without values in the CSS spec (i.e. `opacity` and `z-index`). And add a `exclude` option which is merged with the default, hardcoded ones. So no one's able to remove things in the CSS spec but add something if, for example someone wa

[2016-03-19 10:17] jwilsson commented on #152
Sorry @shellscape, didn't see your PR before posting.

[2016-03-19 10:22] #154 closed

[2016-03-19 13:29] shellscape commented on #152
I'm gonna close this one since @ajaswa has vanished. can continue discussion on #156.

[2016-03-19 13:29] #152 closed

[2016-03-20 05:44] shellscape opened #158 "PostCSS Conversion Checklist"
Starting this issue to track progress on the conversion to using PostCSS.

Misc Tasks:
- [x] merge linting fixes from master
- [x] merge changes from #156, when that is merged
- [x] util module for common operations. see note on then/catch with the parser below.
- [x] write proper value parser
- [x] move to postcss-values-parser

Linters:
- [x] attributeQuotes
- [x] borderZero
- [x] comment
- [x]

[2016-03-20 05:50] shellscape commented on #158
Just pushed the attributeQuotes linter and specs to the postcss branch. It took some doing, and I had to add another third party postcss module; postcss-selector-parser. It works very well, although does strip some metadata I'd expect to be there. I'm tracking that in https://github.com/postcss/postcss-selector-parser/issues/50.

I'm liking the AST setup of PostCSS a lot more than gonzales-pe over

[2016-03-21 07:38] tkazec opened #159 "Important mixins"
Input:

[code]

Output:

    Error: test.less: line 6, col 1, parse error: Please check validity of the block starting from line #6

LESS itself handles it correctly.

[2016-03-21 08:37] jwilsson commented on #159
It's a good ol' parser issue. It'll be solved when we're finished with our parser replacement (tracking in #158). Feel free to help out!

[2016-03-21 13:10] shellscape commented on #158
@jwilsson any chance you can tackle the two merges on the list today? For some reason my git-fu is failing and I can't get a clean merge to this branch from master.

[2016-03-21 14:51] jwilsson commented on #151
Closing this in favor of #158 since we've started work on this.

[2016-03-21 14:51] #151 closed

[2016-03-22 03:02] shellscape commented on #158
Knocked out 12 of the parsers. Will have some more free time towards the weekend.

[2016-03-22 17:31] shellscape commented on #158
So postcss doesn't parse values by default (same with the selectors). While postcss-selector-parser is relatively mature, postcss-value-parser is not when compared to the two other projects. I'm using it in a few linters; https://github.com/TrySound/postcss-value-parser. Things like walking the different segments of a Declaration value are missing, and we're approaching a point where we're going t

[2016-03-23 08:20] jwilsson commented on #158
@shellscape Great job!

You should be able to create repositories now.

[2016-03-24 12:01] BiggestBuccaneer opened #162 "New release"
Can you release new version, please?
I need new option of `spaceAfterPropertyColon` in my project.

[2016-03-24 19:02] jwilsson commented on #162
`1.5.0` is now published.

[2016-03-24 19:02] #162 closed

[2016-03-24 19:19] shellscape commented on #158
@jwilsson cool. I've got the value parser coding portion done, and I'm working on unit tests now that match postcss-value-parser (minus some really weird rules he was allowing, like unmatched parens and quotes).

let's get you and @kokarn to knock out a few of those remaining linters that don't rely on property parsing ;)

[2016-03-24 19:56] red2678 opened #163 "Fail on Warning"
Hi,

I am trying to get my gulp task to fail with exit code 1. According to the docs, it should if one or more linting errors with a severity of warning were found, however, I always seem to get `0`

This is my task:
[code]

Results screen shot:
![image](https://cloud.githubusercontent.com/assets/1896036/14029345/c5a97b6e-f1be-11e5-973f-9d37c58c5509.png)

[2016-03-24 21:12] wareczek opened #164 "error with 1.5.0"
[code]

simple less mixin:
[code]

[2016-03-25 21:44] #163 closed

[2016-03-25 22:03] shellscape commented on #163
@red2678 why'd you close the issue?

[2016-03-25 23:38] red2678 commented on #163
@shellscape Well my requirements had changed and I no longer needed this. I really just did not want to burden the devs. I was also not sure if this is "kind of" a dupe of #149 (I am also using gulp-lesshint).

This is would be a great feature IMO.

[2016-03-28 13:01] shellscape commented on #164
@jwilsson @kokarn looks like we need a fix patch published guys

[2016-03-28 16:48] shellscape commented on #158
@jwilsson @kokarn I've completed work on the first version of my value parser for postcss. it's under the Lesshint org here; https://github.com/lesshint/postcss-values-parser

[2016-03-29 07:31] #164 closed

[2016-03-29 07:34] jwilsson commented on #164
Sorry guys, was out of town for Easter. I've just pushed `1.5.1`.

[2016-03-29 07:35] jwilsson commented on #158
@shellscape Awesome work!

I'll try to squeeze some work in later this week.

[2016-03-29 07:47] jwilsson opened #165 "decimalZero behavior change"
Carrying over from @CITguy's comment in https://github.com/lesshint/lesshint/pull/160#issuecomment-201007411:

My two cents are for no. 1 but I'm not attached to anything. If we want to change the behavior, now would be a perfect time since I'm thinking we'll tag a `2.0` when we're done with the PostCSS conversion.

[2016-03-29 12:17] trygveaa opened #166 "Variables defined inside a block crashes lesshint"
If you run lesshint on a less file like this:
[code]

It crashes with:
[code]

This is with lesshint 1.5.0. It did not crash with 1.2.2.

[2016-03-29 12:31] jwilsson commented on #166
This should've been fixed just this morning with `1.5.1`. Could you check with that version?

[2016-03-29 12:42] trygveaa commented on #166
Thanks, it is indeed fixed with `1.5.1`. I didn't notice that release, since it's not tagged yet.

[2016-03-29 12:42] #166 closed

[2016-03-29 12:47] jwilsson commented on #166
My bad, I forgot to push the tag :)

[2016-03-29 13:59] shellscape commented on #158
@jwilsson great :)

Keep an eye on postcss-less. There some...  interesting things going on there. It may be my next target afterall.

[2016-03-29 15:27] CITguy commented on #165
I'm fine with option 1. I just wanted to make sure that we have that behavior documented and ensure that the linter is tested as such. I believe #160 corrects the leading zero portion of this behavior, so we'd need another PR to correct the trailing zero behavior.

[2016-03-30 04:03] shellscape commented on #158
Got the values parser updated to postcss-values-parser and it's working great!

[2016-04-02 10:13] jwilsson opened #168 "2.0 master todo list"
Just a short list of the things I think we should include in `2.0` :tada:

- [x] PostCSS Conversion (#158)
- [x] Remove old reporter usage support
- [x] Possible zeroUnit behavior change (#165)
- [x] Move stylish reporter to its own package (#147)

Did I miss anything?

[2016-04-11 14:51] shellscape commented on #158
only a few more to do @jwilsson @kokarn :)

[2016-04-13 14:28] ondrejsevcik opened #170 "Less hint breaks with variables inside selector"
Hi, I think I run into similar issue as in #64. When I lint my *.less files it throws an error `Please check validity of the block starting from line #2`

[code]

[2016-04-13 16:29] shellscape commented on #170
this is another gonzales-pe problem, and one that should be fixed by the postcss switchover. we're tracking that on #158 - @jwilsson and @kokarn and I are working on it. only a few more linters to go.

[2016-04-20 19:13] samstr commented on #133
+1

this considers these `foreach` mixins invalid, despite them working fine:

https://github.com/seven-phases-max/less.curious/blob/master/articles/generic-for.md
https://github.com/seven-phases-max/less.curious/blob/master/articles/for-each.md

[2016-04-20 23:27] shellscape commented on #133
You can track our progress on the switch to PostCSS on this issue: https://github.com/lesshint/lesshint/issues/158. We're close!

[2016-04-24 19:10] jwilsson commented on #158
`spaceAroundComma` just needs the fix in https://github.com/lesshint/postcss-values-parser/pull/3 and then everything is finished! 😄

I do think we need some sort of helper to ensure the reported columns are correct, I think we've got some issues there right now.

[2016-04-25 14:00] shellscape commented on #158
🎉  I merged and published a new version with that fix.

[2016-04-25 23:29] ultraq opened #172 "trailingWhitespace option to ignore whitespace in comment blocks"
Hi, what do you think about adding an option for the trailingWhitespace linter to ignore trailing whitespace in comment blocks?  I often use them when writing documentation blocks to keep the left "margin" in line, and double-spaces for GitHub-flavoured markdown to allow for line breaks.

eg:

[code]

[2016-04-26 03:45] shellscape commented on #172
I don't quite understand why you need a space following the *, at the end of a line, to keep margins in line. Could you elaborate some more?

[2016-04-26 03:53] ultraq commented on #172
It's probably just a stylistic thing which I've inherited given that the IDEs I use (Eclipse, IntelliJ IDEA and that family of products) all produce that single space as I press <Enter> on a new line within a comment block, and so those whitespaces are just everywhere in the comment blocks for front end code I've written since then.

Those IDEs can be set to strip trailing whitespace off code line

[2016-04-26 06:25] jwilsson commented on #158
And we're finished! 😃  🎉

We just got some weird test failures on `attributeQuotes` (it doesn't seem to load the parser correctly) and as I mentioned earlier, the columns (and possibly lines) are probably not correctly reported in all cases. I think we're ignoring the indentation in some cases for example.

[2016-04-26 06:31] jwilsson commented on #168
Now that #158 is finished we're really close to a final `2.0`! 🎉

Two things that I've been thinking about:
* We're still supporting Node `0.10` which doesn't support Promises, PostCSS suggets adding a Promise polyfill which looks like it will just add a global Promise object (https://github.com/postcss/postcss/#nodejs-010-and-the-promise-api). I don't think we should do that, perhaps we should ju

[2016-04-26 06:55] kokarn commented on #168
+1 for dropping 0.10 and releasing a 2.0.0-rc1

On Tue, Apr 26, 2016 at 8:31 AM Jonathan Wilsson <notifications@github.com>
wrote:

[2016-04-26 09:48] wareczek commented on #168
waiting for 2.0-rc :+1:

[2016-04-26 11:37] ghaschel commented on #133
This also happens when using `& when` *inside* a mixin (less compiles it with no problems though)

[code]

[2016-04-26 11:48] jwilsson commented on #158
Alright, I managed to solve the failing `attributeQuotes` tests. It was because we were running Mocha on the test `utils.js` file and that somehow messed it up.

[2016-04-26 14:21] shellscape commented on #133
@ghaschel see my previous comment. these reports are moot until we switch to postcss

[2016-04-26 14:21] shellscape commented on #158
👍 shall we close this one?

[2016-04-26 14:24] shellscape commented on #168
👍  we should definitely drop 0.10 and I'd be in favor of 0.12 as well.

regarding regressions, we've got a lot of reports of old gonzales failing less that we should probably try to pluck from issues and plop into general "does this fail?" tests. I don't mind the rc tagged release either.

[2016-04-26 14:26] #158 closed

[2016-04-26 14:29] shellscape commented on #168
also, I commented on https://github.com/lesshint/lesshint/commit/e2b0cb7cb6ced20b5acd289d180594ae5e033fce. I'm not entirely on board with forcing that to promises because 1. it removes the synchronous nature of lesshint, and 2. it doesn't appear solve an async problem. Promises are all the rage right now, but they shouldn't be added where there isn't an async problem to solve.

[2016-04-26 14:32] jwilsson commented on #168
Sure, I'm fine with dropping `0.12` too.

Perhaps we should report parsing related issues at https://github.com/webschik/postcss-less and we'll pick up the fixes from there?

@shellscape I was trying to solve an async problem with it but if you have a better idea, please revert it and add another solution :)

[2016-04-26 15:26] shellscape commented on #168
@jwilsson i must be having one of those days... I didn't see where the async issue was. can you point that out for me?

[2016-04-26 15:28] ghaschel commented on #133
I saw your previous comment, I just thought it would be valid to point that the error also occurs when (via &) inside a mixin, and not just when defining it. =]

[2016-04-29 08:42] afc163 commented on #133
+1

[2016-04-29 13:22] shellscape commented on #133
closing this as we've already referenced the issue that will fix these kinds of problems, and 2.0 will be testing soon.

[2016-04-29 13:22] #133 closed

[2016-05-01 00:46] dishad opened #173 "Checks for valid LESS"
[code]

This LESS code passes in the linter with "emptyRule" enabled

More examples of code that pass the linter:
[code]

[2016-05-02 06:30] jwilsson commented on #173
Hi,
I'm getting parse errors (as expected) when trying to run `lesshint` on that code. How are you running it? Via Grunt/Gulp or something else?

[2016-05-04 21:31] shellscape commented on #168
@jwilsson ping re: previous comment. and where do we stand on a 2.0 rc?

[2016-05-05 16:41] jwilsson commented on #168
@shellscape My bad, I didn't read the documentations close enough. It was possible to make it synchronous and now it is.

I discovered that `stringQuotes` doesn't check attribute selectors, I should have time to fix it today and then we should be able to tag an RC.

[2016-05-05 17:28] dishad commented on #173
Weird, upon fresh install of lesshint these examples get the parse error. I am guessing this is just due to using an older version of lesshint. Closing issue now.

[2016-05-05 17:28] #173 closed

[2016-05-06 05:11] chrylis opened #174 "parse error in calculated value"
This appears similar to #170 and may have the same resolution.

I receive a parse error on the expression

[code]

[2016-05-06 06:37] jwilsson commented on #174
Yup, this will most certainly be solved soon with our new parser back-end in `2.0`.

[2016-05-08 09:35] AoDev opened #175 "Misleading message with decimalZero rule"
version (npm): "lesshint": "1.5.2"

[code]

I believe what is meant here is that " `0` only ", is not allowed as decimal value. This is fixed by writing `2` instead of `2.0` . (and not `02.0`)

[2016-05-09 20:05] jwilsson commented on #175
Hmm, I think the message is misleading because of an old bug. Somewhat related to #165. I'll look into it.

[2016-05-09 20:25] jwilsson commented on #168
The `stringQuotes` issue is fixed and a PR for the PostCSS rewrite is up at #176.

I think we can tag a RC and finish the last things in #165 in the mean time.

[2016-05-16 12:52] shellscape commented on #168
@jwilsson anything that we can help with to help this along?

[2016-05-16 13:55] #147 closed

[2016-05-16 13:57] jwilsson commented on #168
@shellscape Just too much to do on my end, I'll tag a RC now though.

[2016-05-16 14:11] jwilsson commented on #168
`2.0.0-rc` is tagged on npm as `next`, install with `npm install lesshint@next`.

[2016-05-16 14:15] shellscape commented on #168
@jwilsson awesome. no worries, figured you were busy. had some time today to help if it was needed.

[2016-05-19 13:50] wareczek opened #177 "propertyOrdering and singleLinePerProperty bugs"
[code]

[code]

[2016-05-19 14:13] shellscape commented on #177
what version are you using?

[2016-05-19 14:15] wareczek commented on #177
As in title ;) 2.0 rc

[2016-05-20 11:18] jwilsson commented on #177
I got a fix for the `propertyOrdering` issue in [bug-2.0/propertyOrdering](https://github.com/lesshint/lesshint/commits/bug-2.0/propertyOrdering).

[2016-05-20 13:19] wareczek opened #179 "spaceAroundOperator negation of variable"
[code]

[2016-05-20 13:24] shellscape commented on #179
ooo nice catch!

[2016-05-20 14:02] wareczek commented on #177
fix for `singleLinePerProperty` bug:

`if (!next || (next && ['comment', 'rule'].indexOf(next.type))) {`

on line:
https://github.com/lesshint/lesshint/blob/master/lib/linters/single_line_per_property.js#L6

@jwilsson correct? ;) sorry for no PR, i'm busy now :(

[2016-05-25 07:18] Peter-Juhasz opened #181 "parse error: Please check validity of the block"
It compiles fine, but lesshint give a parse error:

[code]

[2016-05-25 10:54] jwilsson commented on #175
Closing in favor of #165.

[2016-05-25 10:54] #175 closed

[2016-05-25 10:55] jwilsson commented on #181
This will be fixed with our new parser in `2.0`, we're ironing out the last few bugs. You can follow our progress [here](https://github.com/lesshint/lesshint/milestones/2.0.0).

[2016-05-27 08:53] jwilsson commented on #179
Fix up in https://github.com/lesshint/lesshint/pull/182.

[2016-05-31 11:20] BenjaminVanRyseghem opened #183 ""Error: Expected opening parenthesis." with 2.0.0"
The parser fail on this line

[code]

no `.lesshintrc` file
(I can provide a minimal reproductible case if it helps)

[2016-05-31 11:23] BenjaminVanRyseghem commented on #183
Here is the project: https://github.com/BenjaminVanRyseghem/lesshint-issue-183

run `npm test` to see the problem

[2016-05-31 12:24] jwilsson commented on #183
Thanks for the report!

Stack trace for reference:
[code]

It looks like `postcss-values-parser` doesn't like too many nested functions, the following works fine:
[code]

I can't find anything related to the number of nested functions in any CSS spec, and Chrome runs this just fine:
[code]

@shellscape [postcss-value-parser](https://github.com/TrySound/postcss-value-parser) parses it fine, you thi

[2016-05-31 14:15] #179 closed

[2016-05-31 18:37] jwilsson opened #184 "zeroUnit erroneously report zeros in color functions"
In `2.0-rc` `zeroUnit` will report this:
[code]

I've been thinking and I don't think we can just exclude certain functions since there are a lot of them in Less, Math and Color for example (full reference: http://lesscss.org/functions/).

I suggest we just ignore all function calls in `zeroUnit`.

[2016-05-31 18:51] jwilsson opened #185 "AppVeyor builds are failing due to bad path formats"
It looks like our path arguments aren't [normalized properly](https://ci.appveyor.com/project/lesshint/lesshint/build/4/job/ly04ckb0jw0ce1x9#L695).

I don't have an easily accessible Windows box to develop a fix on, any help is greatly appreciated!

[2016-05-31 22:13] shellscape commented on #183
sounds like a `postcss-values-parser` issue to me. Best bet to fix it there.

[2016-05-31 22:14] shellscape commented on #185
if we use path.join liberally, that'll get taken care of for us by node.

[2016-06-05 04:28] jeddy3 opened #186 "Working together"
Hello. I'm one of the contributors to [`stylelint`](https://github.com/stylelint/stylelint) - a linter for stylesheets. I just stumbled onto this project after discovering your excellent [`postcss-values-parser`](https://github.com/lesshint/postcss-values-parser). I noticed that you've recently moved over to using PostCSS, and so I think we trying to solve very similar problems and with the same t

[2016-06-05 14:50] shellscape commented on #186
nice shameless plug post there :smirk:

I'm a contributor to lesshint. Personally, I like the separation of concerns that lesshint provides. The project previously use the gonzales-pe parser - another project that attempted to bridge the gap between multiple pre-processed CSS language variants - and it face-planted when the owner broke multiple syntaxes with an update, showing no apparent desire t

[2016-06-05 14:50] #186 closed

[2016-06-05 15:22] jeddy3 commented on #186
Sorry, that wasn't my intent. Apologies if it came across like that.

That's a very valid point, and one I hadn't considered.

Likewise, you about yours.

I'll be sure to do this in the future.

---

One last thing. We're going to be pushing more of [our utils](https://github.com/stylelint/stylelint/tree/master/src/utils) to standalone PostCSS plugins (like we did we with [`postcss-resolve-nested-

[2016-06-07 19:23] #185 closed

[2016-06-08 14:38] #165 closed

[2016-06-08 14:39] #168 closed

[2016-06-08 15:20] shellscape commented on #168
🎉

[2016-06-08 22:00] kenliao94 opened #191 "New Linter: maxCharacterPerLine"
Hi,

I am thinking of making a linter for constraining the max number of characters per line to 100 characters to keep it consistent with ESlint. Would you like a PR for that?

Thanks,
Ken

[2016-06-08 22:35] shellscape commented on #191
Yes please do create a PR for that!

[2016-06-08 22:40] wareczek commented on #191
Please make it configurable. I would like to have limit on 160 chars ;)

[2016-06-09 01:27] kenliao94 commented on #191
gotcha

[2016-06-13 07:37] tkazec opened #192 "Unknown error: Cannot read property 'valueOf' of undefined"
Ran lesshint@next on a file that worked in 1.5.2, and got this:

[code]

Not sure where to start looking since it's a large file and the error message has no specific debug info.

[2016-06-13 08:33] jwilsson commented on #192
Thanks for the report!

I think I know what it's caused by, do you have any at-rules without a prelude, a `@font-face` for example?

[2016-06-13 08:39] tkazec commented on #192
The only "@-rules" we have are variables and imports like:

[code]

But those are both actually LESS.

[2016-06-13 08:56] jwilsson commented on #192
Hmm, I tested some things and it fails when there's no `params` or `value` on the `Node`. I'll add an extra check for it.

[2016-06-13 20:51] JoshuaKGoldberg opened #194 "Link to rules list in README?"
It took searching through PR history to find https://github.com/jcalvor/lesshint/blob/master/lib/linters/README.md. Would you be willing to include a link to it in the readme?

[2016-06-13 21:05] JoshuaKGoldberg opened #195 "Rule request: ban unsupported browser prefixes"
Problem: After raising the minimum supported version of a browser it can be painful to find vendor-prefixed tags that are no longer required for that browser. This means wasteful CSS. It adds up, especially when defining common mixins for commonly-prefixed attributes such as `flex`.

Solution: It would be great to have a rule that takes in a set of minimum browser versions and complains when an un

[2016-06-13 21:09] JoshuaKGoldberg commented on #194
Oh never mind, it's already linked. User error.

[2016-06-13 21:09] #194 closed

[2016-06-13 21:13] shellscape commented on #195
This would require a comprehensive list to cross-reference against for the major browsers and their versions.

[2016-06-13 22:15] JoshuaKGoldberg commented on #195
Indeed. Theoretically you could have the rules imported from the [caniuse features](https://github.com/Fyrd/caniuse/tree/master/features-json).

[2016-06-14 07:01] #192 closed

[2016-06-14 07:29] #184 closed

[2016-06-14 08:01] kokarn commented on #195
Autoprefixer does this already, maybe we can either see how they do this or use them internally?

[2016-06-14 09:00] jwilsson commented on #177
Fully closed with 943f7c1.

[2016-06-14 09:00] #177 closed

[2016-06-14 15:52] JoshuaKGoldberg commented on #195
They do use caniuse, via the [caniuse-db](https://www.npmjs.com/package/caniuse-db) npm module.

For example, in [prefixes.coffee](https://github.com/postcss/autoprefixer/blob/master/data/prefixes.coffee):
[code]

*(man do I dislike CoffeeScript)*

[2016-06-14 15:53] JoshuaKGoldberg commented on #195
If you're open to having this be part of lesshint I think I can start development on it ~early July.

[2016-06-14 17:29] shellscape commented on #195
@jwilsson @kokarn this would add some significant overhead to lesshint. should we consider implementing the ability to add linters dynamically through separate modules? would provide a good separation of concerns and add extensibility for linters like this.

[2016-06-14 18:16] JoshuaKGoldberg commented on #195
@shellscape That would be fantastic! tslint has a similar [feature](https://github.com/palantir/tslint#custom-rules) that's allowed third parties such as [tslint-microsoft-contrib](https://github.com/microsoft/tslint-microsoft-contrib/) to add project-specific rules too overhead-y for the main one.

How much work would that involve? Would someone new to the project (me or a coworker) be able to do

[2016-06-14 19:55] jwilsson commented on #195
I agree that this is something that would be better suited in a linter plugin.

@JoshuaKGoldberg We've actually discussed the possibility for plugins a while back (#101) and I don't think it should be that much work, it's the things @shellscape and me mentioned in that issue.

If you or a coworker wants to work on it just drop a comment there so we know someone's working on it. And, of course, jus

[2016-06-14 20:06] jwilsson commented on #183
@shellscape I think you're the one with the best knowledge of `postcss-values-parser`, you got any opportunity to take a look at it?

[2016-06-14 20:12] JoshuaKGoldberg commented on #195
Great! I'll direct questions on plugin support there, and revisit this issue once it's done.

[2016-06-14 20:12] JoshuaKGoldberg commented on #101
+1 as per #195. @jwilsson how much documentation on the linter is left to do?

[2016-06-14 20:33] shellscape commented on #183
I can take a look at it next week. I'll be unplugged tomorrow afternoon through the 20th.

[2016-06-14 21:01] shellscape commented on #183
@jwilsson out of curiosity, I added a test mirroring the OP's test LESS and it passes. https://github.com/lesshint/postcss-values-parser/commit/69dcce19c3e6f2f04aaf38ff0a13dacfc33aca15

It looks like lesshint may not be passing the value to postcss-values-parser correctly. Using this code:

[code]

[2016-06-15 07:24] kokarn commented on #195
:+1: love the plugin path. Sounds like a great middleground :)

[2016-06-15 07:35] jwilsson commented on #101
@JoshuaKGoldberg The things we need to document are:
* The things each linter should expose,
    * `name` - Name of the linter.
    * `nodeTypes ` - Array of the accepted node types which will be passed to it.
    * `lint` - The method that will be called with `config` (options for this rule) and `node`.
    * `message` - Not currently used but might be at some point, would probably make sense to

[2016-06-16 07:03] wareczek opened #196 "decimalZero 2.0 bugs"
actual `master` branch

[code]

second problem: `line 1`, should be `4`

Same with:
[code]
[code]

[2016-06-16 07:16] wareczek commented on #196
Ah… and my config:
`"decimalZero": {"style": "none"}`

[2016-06-19 18:59] JoshuaKGoldberg commented on #101
Is `plugins` the right name for this? In the future you might want to allow for other type of extensions.

Since `linter.js` lists the default linters under the variable `linters`, I propose this be in JSON:

[code]

[2016-06-20 16:14] JoshuaKGoldberg opened #198 "Use something like Babel or TypeScript for newer JS features"
I'm curious what your opinions of using a JavaScript (pre-)processor in the source code to enable using newer language features.

The issue came up because I wanted to so something like...
[code]

...but had to switch to:
[code]

[2016-06-20 16:19] shellscape commented on #198
For new stuff I'm all for it (see postcss-values-parser). I'd like to hold off until we have time to refactor the codebase in entirety, rather than piecemeal. I'll cede the floor to the other speakers now :)

[2016-06-21 09:18] jwilsson commented on #198
I have to agree with @shellscape, while I obviously like new features as much as the next guy I'd also like to see a full refactor rather than bits and pieces here and there.

It's definitely something we should revisit pretty soon though!

[2016-06-21 22:19] Hunga1 opened #199 "False Warnings with @import Statements"
Using lesshint `2.0.0-rc`, I'm getting false `trailingSemicolon` and `spaceBeforeBrace` warnings. Here is an example of the code causing these warnings.

[code]

These are the warnings I'm receiving:

[code]

[2016-06-27 01:04] tkazec commented on #192
Hi, has this been pushed to `@next`?

[2016-06-29 00:08] kenliao94 commented on #191
Hi I have got a working prototype of the linter under my forked repo. However, this is my first time making a contribution and I am not sure how to submit a code review to you guys. Could you give me some pointers or articles? Thanks.

[2016-06-29 13:49] shellscape commented on #191
There should be a green button to submit a PR after you've pushed changes to your branch. https://help.github.com/articles/using-pull-requests/

[2016-07-01 21:25] JoshuaKGoldberg commented on #195
The plugin support PR is at or near completion. Once that's in I can start work on a new repository for the linter. Would you prefer it be under joshuakgoldberg or lesshint?

[2016-07-05 08:13] wareczek opened #200 "emptyRule 2.0 bugs"
[code]

[2016-07-11 14:34] #101 closed

[2016-07-11 14:38] shellscape commented on #198
closing for now. this would involve a big effort. very much encourage any out-of-repo linters to utilize that though. I've personally started using it for all of my other projects. Node v6 supports nearly everything I need sans await/async, and that's really the only thing I'm using babel for anymore.

[2016-07-11 14:38] #198 closed

[2016-07-11 14:39] shellscape commented on #200
I'm on the case

[2016-07-11 16:56] wareczek commented on #200
nice @shellscape :+1:

[2016-07-11 17:04] shellscape commented on #199
I wasn't able to reproduce the trailing semicolon issue, but I was able to fix the spaceBeforeBrace issue.

[2016-07-11 17:21] #199 closed

[2016-07-11 17:21] shellscape commented on #195
Can we close this one now that your (excellent) linter PR has been merged, and the external linter for this will be forthcoming?

[2016-07-11 17:29] JoshuaKGoldberg commented on #195
Agreed. I'll post here again asking for feedback later!

[2016-07-11 17:29] #195 closed

[2016-07-11 17:31] shellscape opened #203 "2.0 Release"
@jwilsson @kokarn I think that 2.0 is ready for release once ~~#196~~ and ~~#183~~ (got em done) are wrapped up. We've seen a few minor bugs but nothing major reported. What says ye?

[2016-07-11 19:54] #111 closed

[2016-07-11 19:55] shellscape commented on #159
closing as 2.0 is suuuuuuper close to release, and gonzales-pe is no longer relevant for lesshint.

[2016-07-11 19:55] #159 closed

[2016-07-11 19:55] shellscape commented on #170
closing as 2.0 is suuuuuuper close to release, and gonzales-pe is no longer relevant for lesshint.

[2016-07-11 19:55] #170 closed

[2016-07-11 19:55] shellscape commented on #174
closing as 2.0 is suuuuuuper close to release, and gonzales-pe is no longer relevant for lesshint.

[2016-07-11 19:55] #174 closed

[2016-07-11 21:03] JoshuaKGoldberg opened #205 "External Linters: Add tests for failing linters"
As per https://github.com/lesshint/lesshint/pull/197#discussion_r67812908, there's missing test coverage for the case of loading linters being broken such that only one of the linters gets included.

[2016-07-11 21:34] #196 closed

[2016-07-11 21:34] shellscape commented on #205
ah I thought you were just gonna make a new pull request :)

[2016-07-11 21:36] JoshuaKGoldberg commented on #205
Ha, yes. This will remind me.

[2016-07-11 22:02] shellscape commented on #183
So I took another look at this, and while the example I cited in my previous comment works as expected, when it's surrounded by parens, eg. `(a(b()))` the parser does fail. The quick fix is to just tell lesshint to strip the enclosing parens, but that's not a genuine fix, as that could happen elsewhere in less, not just the rule used in the OP. Working on a fix, but this is a tough one.

[2016-07-11 22:31] shellscape commented on #183
OK I figured out the problem and fixed with this commit: https://github.com/lesshint/postcss-values-parser/commit/c77661348a9f014447bbfd79d32d97570b91dd40. I ran lesshint against that sha and everything works right, so closing this one up!

[2016-07-11 22:31] #183 closed

[2016-07-12 02:01] tkazec commented on #203
Has the latest been published to `lesshint@next`? I'm still seeing the error described in #192.

[2016-07-12 02:06] shellscape commented on #203
@tkazec if you don't see an updated version, it hasn't been pushed. `npm info lesshint` will show you all you need in the future.

[2016-07-12 02:10] shellscape commented on #172
We're in kind of a pickle with comments right now, due to one tiny limitation of PostCSS and how it handles whitespace. It's such a tiny issue, that it's not going to be resolved until their next major version. Because of that, we're just iterating through lines in the file to check the last character. It's not ideal, but it works. And as such, we can't really tell what kind of a block we're in wh

[2016-07-12 02:10] #172 closed

[2016-07-12 02:11] tkazec commented on #203
@shellscape If you take a look at that issue, I did post there a couple weeks ago.

The README specifically states to "help us out with testing 2.0, install with `npm install lesshint@next`", so... it would be great if you could update `@next` and/or the README.

[2016-07-12 02:18] shellscape commented on #118
I'm taking this one on tonight. PR will be soon to follow

[2016-07-12 03:02] #130 closed

[2016-07-12 03:07] shellscape commented on #127
@jwilsson @kokarn is this edge-case enough to be a candidate for an external linter?

[2016-07-12 03:33] #118 closed

[2016-07-12 03:34] shellscape commented on #116
@adam-lynch creating linters after our move to postcss is incredibly painless. are you up for creating this one?

[2016-07-12 04:00] tkazec opened #208 "Abusive contributions"
I recently asked about the status of the `@latest` npm tag in issue #203. @shellscape dismissed my question, replying that my comment was off-topic and telling me to post in my original issue #192.

Unfortunately, I had already posted in that issue a couple weeks back, and my question remained, as did the message regarding `@latest` in the README. I replied saying as much. Coming back a couple hou

[2016-07-12 06:46] kokarn commented on #203
Sorry if i've been pretty off. I've followed along on all the work you guys have done and it does indeed both look amazing and ready.

I say let's go for it. Just skipping gonzalez is such a big thing that we should really try to publish it and fix any upcoming bugs after the fact.

:+1: lgtm

[2016-07-12 06:50] kokarn commented on #208
Sorry about that, it's been a bit stressful around here with me not doing what I should.
IIRC the comment in the readme is actually incorrect. However, it is possible to install directly from GitHub. You can use the following command for that `npm install https://github.com/lesshint/lesshint.git`.

Always glad for the extra help when it comes to testing :)

[2016-07-12 06:55] kokarn commented on #127
I think so. There are valid reasons for both enforcing nesting and enforcing no nesting.

The problem as I see it is with naming and stuff like that because there are so many variations.

[2016-07-12 07:37] wareczek opened #209 "spaceAroundComma 2.0 again :)"
[code]

[2016-07-12 08:43] ultraq commented on #172
Cool cool, thanks for letting me know 👍

[2016-07-12 08:51] wareczek commented on #200
@shellscape sad news :( on actual master it's still occurs, but only one error:

[2016-07-12 11:47] shellscape commented on #208
@tkazec nothing was abusive, nothing was mean, nothing wasn't nice. you posted off-topic, were called on it, and then decided to post about it _again_ in the same thread. your comments should have been posted on the relevant issues, even if a follow up. we're notified of comments on issues that are already closed, and it gives us the opportunity to re-open if warranted. standard github procedure.

[2016-07-12 11:47] #208 closed

[2016-07-12 11:49] shellscape commented on #200
@wareczek with the same test less? I used (nearly) exactly the less you had posted about in the spec and it's passing: https://github.com/lesshint/lesshint/commit/adb93cea4c50e7d1c66742595c04fb52dea50ba9#diff-7891ca8c84502cfb7b7b1a132f146393R83

[2016-07-12 11:58] shellscape commented on #209
@wareczek i'll have a look. probably going to end up using the same fix as for spaceBetweenParens

[2016-07-12 12:00] wareczek commented on #200
Yes, same. But in your test you don't have newlines

[2016-07-12 12:04] shellscape commented on #200
yeah newlines didn't change the condition of the test at all so I removed them for brevity. I ran into a weird situation with qualifyingElement where the specs were passing but when used in `bin/lesshint` it was failing. this could be the same situation. I'll have another look

[2016-07-12 12:18] tkazec commented on #208
@shellscape *Deleting comments*, especially *unresolved and in good faith*, is far more frowned upon on GitHub. I don't particularly care and my feelings were certainly not hurt, but you are being blatantly caustic, and others may care more. We are all in the Open Source community together, and I would hate to see this kind of thing happen to someone else ... unfortunately, #186 is significantly m

[2016-07-12 12:34] shellscape commented on #208
@tkazec _posting comments_ that are _blatantly off-topic_, even if posted in good faith, is just a big no-no no matter how you choose to justify it. you'll notice that several issues are re-opened (one was just this morning!) after comments are made with further proofs/cases for testing, additional related bugs, etc. Those comments tend to be on the issue the comments are actually trying to addres

[2016-07-12 13:27] shellscape commented on #205
@JoshuaKGoldberg updated the issue name with a little context, because I keep forgetting what it's for :)

[2016-07-12 15:15] JoshuaKGoldberg commented on #205
Not at all :)

[2016-07-12 17:19] shellscape commented on #200
#210 should resolve the remaining issues here. here's hoping!

[2016-07-12 17:19] #200 closed

[2016-07-13 02:49] shellscape commented on #209
@wareczek hopefully that last PR fixed it for good

[2016-07-13 03:02] shellscape commented on #119
have been looking at this one tonight, an easy problem to solve, but how to allow it to be configured is the pickle.

[2016-07-13 03:30] shellscape commented on #119
see #212 for my proposal for a solution to this.

[2016-07-13 06:10] jwilsson commented on #208
Really sorry for my silence on this (and other issues too), been way too much other things going on.

I agree that deleting comments isn't OK but I think most of us get a lot of notifications every day and one more just adds to the stress. I'm sure someone would have replied in #192. And as I think we all know, communication on the Internet is hard.

Again, @tkazec I'm sorry to hear that you feel

[2016-07-13 06:15] jwilsson commented on #203
Sorry that I've been off, too many other things going on.

@shellscape Great work the last couple of days! I'm trusting you with the fixes, if we're good I'll add some docs for custom linters and tag `2.0` tonight 😃

[2016-07-13 07:41] jwilsson commented on #127
Yeah, I think we should push this to an eternal linter.

[2016-07-13 08:22] wareczek commented on #209
@shellscape yes, adding `"spaceAroundComma": {"allowNewline": true}` (on branch `fix-119-proposal`) fixed that but… example from this issue is not multiline. only two selectors :(

[2016-07-13 11:39] shellscape commented on #209
@wareczek well it technically is multiline, as there's a newline following the comma.

[2016-07-13 11:40] shellscape commented on #203
@jwilsson yeah! do eeeeeet!

[2016-07-13 11:54] wareczek commented on #209
Problem is about parenthis in pseudo class `:not()`. Works fine with this:

[code]
and there's also newline :P

[2016-07-13 12:39] shellscape commented on #209
@wareczek there's a space after that comma in your code example, so I'm not sure how to interpret what you're saying.

[2016-07-13 12:44] wareczek commented on #209
Look at code from first post.

this code generates error:
[code]
and this not:
[code]

both have newline, but first have `:not()`

[2016-07-13 12:49] shellscape commented on #209
oye. rough morning here :) OK ill take a look. the PR is still open so I can fiddle with it

[2016-07-13 12:50] wareczek commented on #209
finally :D :tada:

[2016-07-13 13:13] shellscape commented on #209
so, we've got a blocking error in postcss-less that's causing the error with the `:not` in the selector. I'm tracking it on https://github.com/webschik/postcss-less/issues/56

I'll see if there's a workaround in the meantime...

[2016-07-13 15:57] #119 closed

[2016-07-13 15:57] shellscape commented on #209
should be all good now. ran both of your examples in specs and through the bin.

[2016-07-13 15:57] #209 closed

[2016-07-13 16:23] shellscape commented on #94
After having used lesshint for some time now, I've reconsidered this. Closing!

[2016-07-13 16:23] #94 closed

[2016-07-13 16:41] shellscape commented on #90
I suspended development of this linter since Gilt doesn't have the need for it anymore. Will reopen and pick back up if needed in the future.

[2016-07-13 16:41] #90 closed

[2016-07-13 16:47] shellscape commented on #191
@kenliao94 were you able to figure that out?

[2016-07-13 16:48] shellscape commented on #50
@jwilsson @CITguy is this one good to close?

[2016-07-13 18:43] jwilsson commented on #50
@shellscape I started on it way before our PostCSS switch but never managed to finish. It's up for grabs!

[2016-07-13 18:59] kenliao94 commented on #191
Yes! Thank you! I just realized there's a bug in my linter. Because I used a naive approach as in I get the raw Less input of the node generated from POSTCSS. It worked, but that means every time you traverse the nodes the linter will parse the entire file again and it is not efficient. It had been a really hectic week but I will try to debug it ASAP and push a PR soon.

[2016-07-13 19:39] jwilsson commented on #203
`2.0` tagged and published! 🎉

Great work and a huge thanks to everyone involved!

[2016-07-13 19:39] #203 closed

[2016-07-13 23:42] tkazec opened #215 "Unknown error: Cannot read property 'value' of undefined"
Ran lesshint 2.0.0 w/ Node 6.3.0 on a file that worked in 1.5.2, and got this:

[code]

Not sure where to start looking since it's a large file and the error message has no specific debug info.

[2016-07-14 02:28] shellscape commented on #215
hm, looks like postcss-selector-parser is to blame there. you can go with the tedious method of commenting out blocks of that file until you narrow the selector(s) responsible, or you could use a paste website or gist to post the file that's throwing the error. without that, there's little we can do unfortunately.

[2016-07-14 02:48] tkazec commented on #215
Closing because this was actually due to a change (?) in `excludedFiles` handling, leading to lesshint trying to parse all of bootstrap. Works fine after adjusting the excluded paths.

(It would be really helpful if lesshint could identify the file path when it trips up though.)

[2016-07-14 02:48] #215 closed

[2016-07-14 03:02] shellscape commented on #215
We'd definitely welcome a contribution adding that info.

[2016-07-15 13:06] jwilsson commented on #96
@kokarn @shellscape What's your thoughts on this? Should we go with an `ignorePrefixes` option or just leave it?

[2016-07-15 13:06] jwilsson commented on #127
Closing this since it's more suitable for a plugin.

[2016-07-15 13:06] #127 closed

[2016-07-15 13:07] jwilsson commented on #149
@shellscape Do you wanna do it or should we mark it as "Help wanted"?

[2016-07-15 13:25] kokarn commented on #96
Actually I feel the proper approach would be to enforce proper ordering.
`*` and `_` should always be after the others and `-` should be before according to this article http://www.webdevout.net/css-hacks#unrecommended-vendor_prefix

[2016-07-15 19:43] shellscape commented on #149
was just thinking about this today. I can take care of it, but probably won't be until next week sometime. busy weekend ahead!

[2016-07-15 22:10] garethwhittaker opened #216 "finalNewline and trailingWhitespace linter bugs"
Since moving over to PostCSS it doesn't look as though these two linters have been firing.

Their lint functions don't seem to be triggered when using `nodeTypes: ['root']`. Changing this to `nodeTypes: ['rule']`, does fix this but the internal logic for these looks to be incorrect atm.

[2016-07-18 02:43] shellscape commented on #216
hm, that's curious. the specs definitely wouldn't pass if that were the case. please do dive a little deeper on this one. I'd love to find out if this were an environment condition on your end or a gap in our specs.

[2016-07-19 14:18] shellscape commented on #96
~~I've been thinking about this, and while it's a huge edge case, someone may convert to less and use a custom postcss preprocessor to do something funky with vendor prefixes, wildcards, etc. I dunno, it feels wrong to enforce a rule that isn't in the spec here. Defaulting to `*something` falling after `something` seems OK, but we should allow that to be turned off. ~~

having trouble forming a co

[2016-07-19 14:18] shellscape commented on #216
@garethwhittaker ping!

[2016-07-19 14:33] kokarn commented on #96
I haven't been as involved as I should but is there a technical limitation to what I'm proposing?

To me it seems to be something that catches everything and could even possibly have the options of `ignore`, `before` & `after` for cases where the "standard" isn't good enough.

[2016-07-19 23:52] JoshuaKGoldberg commented on #195
For future visitors to the issue: https://github.com/JoshuaKGoldberg/lesshint-browser-support

[2016-07-20 00:43] JoshuaKGoldberg opened #217 "Feature request: MSBuild integration?"
Is there any pre-existing work around integrating lesshint with MSBuild or other build systems?

Context: I'd like to integrate lesshint into an MSBuild build system, so that it runs at compile-time similar to [TSLint.MSBuild](https://github.com/JoshuaKGoldberg/TSLint.MSBuild).

[2016-07-20 03:19] shellscape commented on #217
I haven't used a windows pc (for more than flashing my android device) in years. I'll sit back and watch this one from the sidelines...

[2016-07-20 11:55] garethwhittaker commented on #216
looking at the specs, I can see the lint function is being manually called:
`var result = spec.linter.lint({}, ast.root);`

but on both my windows pc and macbook, the `lint` function isn't being triggered for these linters to perform their checks.

[2016-07-20 19:57] JoshuaKGoldberg opened #218 "Push to nuget.org as a part of the release process?"
Corollary to https://github.com/lesshint/lesshint/issues/217: it would be useful to have lesshint as a NuGet package so MSBuild systems can pull it in easily.

I've gone ahead and made a [lesshint-nuget repo](https://github.com/JoshuaKGoldberg/lesshint-nuget) with tiny scripts to package lesshint as a NuGet package, and pushed 2.0.0 to NuGet: https://www.nuget.org/packages/lesshint/2.0.0

Question

[2016-07-20 23:57] garethwhittaker commented on #216
investigating a little further as to why these aren't firing:

File: `linter.js`

[code]

[2016-07-21 01:41] JoshuaKGoldberg commented on #217
https://www.nuget.org/packages/Lesshint.MSBuild/0.1.0

[2016-07-21 01:41] #217 closed

[2016-07-21 01:55] shellscape commented on #216
thanks for digging on that. I'm planning on getting a fix up for this whenever my week let's me. I'm suspecting that `ast.root.walk` doesn't include `ast.root` which is a `Root` type node. probably need an elegant solution to that.

[2016-07-21 01:57] shellscape commented on #218
@JoshuaKGoldberg do they have a nuget binary for non-windows machines these days? it's been ages since I used nuget.

[2016-07-21 02:02] JoshuaKGoldberg commented on #218
Err, I haven't tried it. There's Mono support but there may be issues:

https://docs.nuget.org/consume/nuget-faq

[2016-07-21 13:11] shellscape commented on #218
@jwilsson has to make the call on this, as he is the fella who does the package publishing.

here's my $0.02: looking at the source on https://github.com/NuGet, it's pretty tightly integrated into visual studio (sharpdevelop, xamarin studio) and powershell. from what I've read, one would need to have xamarin studio installed, and that's a pretty big ask. it's a shame they don't have a cross-platfo

[2016-07-21 15:53] kokarn commented on #218
I'm on Windows since I started my new job so maybe I could help with that?
Either that or we set up a Windows machine on Azure or something to do this
automatically

On Thu, Jul 21, 2016, 15:11 Andrew Powell <notifications@github.com> wrote:

[2016-07-21 15:59] shellscape commented on #218
@kokarn that's an excellent idea, an automated script perhaps? could possible use an ifttt recipe similar to https://ifttt.com/recipes/220887-get-notified-when-new-async-npm-packages-are-published to kick it off.

[2016-07-21 17:10] JoshuaKGoldberg commented on #218
Yeah I talked to some of the NuGet folks, right now there are two native options:
* Use mono + nuget.exe (see [compatibility](https://docs.nuget.org/consume/compatibility)
* Have the .NET SDK installed

I'll poke around and see if anybody's had luck using [mkbundle](http://www.mono-project.com/archived/guiderunning_mono_applications/) to bundle a nuget.exe that you'd be able to use without install

[2016-07-21 17:41] jwilsson commented on #218
I'm on a Mac as well so I think it's better if one of the Windows guys (@JoshuaKGoldberg or @kokarn) are responsible. But the automated script idea sounds really cool too.

[2016-07-25 16:39] #216 closed

[2016-07-25 18:01] garethwhittaker opened #221 "Inline rules not working as expected"
This works:

[code]

This doesn't:

[code]

Would be great if we could apply rules to a specific section rather than only at the start of a file or by applying multiple single-line rules.

[2016-07-25 19:31] jwilsson commented on #221
I like the idea, not sure how easy/hard it'll be to implement though. But let's hear some other people's thoughts too.

[2016-07-25 20:38] shellscape commented on #221
@jwilsson spitballing here - do we have a means of linking comments to rules / properties? I know there's `walkComments` and `walk` that are separate, but I don't know off hand if comments show up in the `walk` method, or if they're accessible from the individual `Node`s.

[2016-07-27 02:28] tkazec opened #222 "spaceAroundOperator doesn't like prefixed functions"
[code]

[code]

[2016-07-27 12:34] shellscape commented on #222
this is a bug with the postcss-values-parser. looking into it.

[2016-07-27 13:03] #222 closed

[2016-07-27 13:09] shellscape commented on #222
I've added another test to the spaceAroundOperators specs just to assert this case, but the commit listed above to postcss-values-parser fixes this issue. Re-install lesshint or force the latest version of postcss-values-parser in node_modules and you should be set.

[2016-07-27 13:11] shellscape commented on #218
@JoshuaKGoldberg can we close this one? saw you were pushing to NuGet on the last release.

[2016-07-27 13:31] shellscape commented on #221
Autoprefixer appears to do what we're after https://github.com/postcss/autoprefixer. Going to investigate further.

[2016-07-27 14:11] shellscape commented on #221
Right, so when using `ast.root.walk(function (node) {` we get a flat set of nodes to traverse through (that we don't have to recurse through) and that list just so happens to include comments as well. so we *can* inspect the previous node for a config-comment and then apply that rule(set) to the current node. The trick is applying some kind of block-scope.

Now, we're already using a `lineOptions`

[2016-07-27 15:02] JoshuaKGoldberg commented on #218
Sure.

[2016-07-27 15:02] #218 closed

[2016-07-28 02:29] tkazec commented on #222
Awesome, thanks a bunch!!

[2016-07-30 09:54] jwilsson opened #224 "stringQuotes doesn't check at-rules"
It looks like `stringQuotes` doesn't check at-rules, so with this config:
[code]

The following won't be reported:
[code]

I think this holds true for other at-rules too, for example `@charset`.

[2016-07-30 09:58] jwilsson opened #225 "urlFormat and urlQuotes only checks the first URL in a declaration"
When declaring multiple URLs, for example:
[code]

With this config:
[code]

Only the first URL will be reported by both linters.

[2016-07-30 10:02] jwilsson opened #226 "Create issue and pull request templates"
Pretty self-explanatory, setting up these and putting them and `CONTRIBUTING.md` in a `.github` directory.

Less clutter, and hopefully easier for people to know exactly what we want/need in an issue.

[2016-07-30 10:02] jwilsson opened #227 "Remove gulp-debug-finder"
Since we added `console.log` linting in #214 I think it's safe to remove `gulp-debug-finder` since it basically does the same thing.

[2016-07-30 11:30] jwilsson commented on #116
Got a PR up for this in #229.

Ping @cvisco.

[2016-07-30 11:34] jwilsson opened #231 "spaceBeforeBrace reports wrong column/line on multi-line selectors"
Given this code:

[code]

And this config:

[code]

it gives the following report:

[code]

Which is clearly wrong.

[2016-07-30 13:14] shellscape commented on #231
Tricky, that. The selector technically does start on line 1. Do we want to report the line of the selector that owns the brace or the line the brace is on?

[2016-07-30 13:15] shellscape commented on #224
nice catch

[2016-07-30 13:55] jwilsson commented on #231
Hmm, on one hand I'm thinking that we should try to report the exact position of the error. On the other hand, I started poking at it and it looks like it's quite a lot of work for something that's really edge casey.

[2016-07-30 14:35] jwilsson commented on #221
I've been thinking of another approach (after looking at how Autoprefixer does it). Bear with me, I'll try to explain.

1. We check the first child node of the current traversed node's parent. See an example below.
2. If it's a comment, try to parse it for inline options.
3. If it contains inline options, merge/replace the options for the linter(s) specified in the comment.
4. If the comment doesn

[2016-07-30 15:34] shellscape commented on #221
Solid idea, that.

[2016-07-30 18:59] cvisco commented on #116
👌

[2016-07-31 13:46] jwilsson commented on #227
Closed in 967968b.

[2016-07-31 13:46] #227 closed

[2016-08-02 06:38] kenliao94 commented on #191
Hey, So I fixed that bug by setting the node type to ['root'] after seeing changes #216. However, after I merged in the change, when I am testing my code, somehow the linter is no longer running the linter I created and I literally changed nothing. I am creating a pull request, when you have time, can you take a look? Meanwhile, I am trying to figure this out myself. Thanks!

[2016-08-08 10:22] trygveaa opened #236 "Rule `importPath` with `filenameExtension = true` complains about inline import"
If I have the rule `importPath` with `"filenameExtension": true`, and use an inline import, lesshint complains that the import should include the file extension even when it does.

E.g. this import:

[code]

Gives this error:

[code]

I'm using the currently latest version of lesshint, 2.0.2.

[2016-08-08 11:33] shellscape commented on #236
Looks like we need to account for import options http://lesscss.org/features/#import-options

[2016-08-08 12:06] shellscape commented on #236
Opened this issue with the postcss-less project: https://github.com/webschik/postcss-less/issues/57 which would address this. There are several issues that are nearly a month old with no replies. Really, really hoping that project hasn't gone stale. @jwilsson

In the meantime there may be something we can do with the values parser to backfill the problem.

[2016-08-08 13:02] shellscape commented on #205
@JoshuaKGoldberg ping on this one

[2016-08-08 16:44] JoshuaKGoldberg commented on #205
Confirmed - will try to get done soon.

[2016-08-08 19:39] jwilsson commented on #236
I don't think it's gone stale, and I'll see if I can help out there a little bit too.

[2016-08-09 06:01] #225 closed

[2016-08-09 06:02] #236 closed

[2016-08-10 08:55] Tiimber opened #239 "Multiple warnings of the same error in selector"
For the following selector in one of my less-files (excuse the messy selector):

[code]

This one produces **14** warnings:

[code]

It seems as the correct warning should be only the one at col 90, since this is where the second selector starts.

[2016-08-19 07:09] Kolyunya opened #241 "spaceBetweenParens reports incorrect line numbers"
The following warnings are reported while processing the following file:
[code]

[code]

Reported line numbers are incorrect.

[2016-08-19 07:10] kokarn commented on #241
This is probably a duplicate of #231 but will keep open for consistency.

[2016-08-19 07:13] Kolyunya commented on #241
@kokarn #231 is about selectors while this one is about properties. #231 may be even considered as expected behavior while this can not.

[2016-08-19 07:56] jwilsson commented on #241
Agreed, this is a different bug.

[2016-08-19 08:19] kokarn commented on #241
Good thing I kept it open then and good catch by you guys :dancer:

[2016-08-19 20:53] #191 closed

[2016-08-20 06:17] #205 closed

[2016-08-20 06:58] #116 closed

[2016-08-23 20:09] crash-dive opened #244 "SpaceBeforeBrace New Line"
I think there is a bug in the reg ex here: https://github.com/lesshint/lesshint/blob/77a502cb25dd8e8368b9a35aaabd183352d6c03e/lib/linters/space_before_brace.js#L15

It does not allow for whitespace between the selector and the brace so this is allowed

[code]

But this is not because between li and { there are 4 spaces.
[code]

I think the fix would be to change the regex to /^\n *\t*$/ which woul

[2016-08-29 08:37] jwilsson commented on #244
Hi,
Thanks for the report!

I agree that this isn't the expected behaviour but it's also, as you say, tricky since it can be considered a breaking change but on the other hand I think it's a bug.

What are your thoughts, @kokarn and @shellscape?

[2016-08-29 11:05] kokarn commented on #244
I'd call it a bug that should be fixed.
Indentation is maybe something we need to look into in other places as well where we match whitespace and/or newline?

[2016-08-31 06:17] #241 closed

[2016-09-02 17:06] #224 closed

[2016-09-08 10:34] solidevolution opened #245 "newlineAfterBlock with nested blocks"
Hello,

if got problems to resolve the following warning(s)

[code]
It works not on nested blocks for me. Here is my less source: (starting from line 1631)

[code]

I found nothing about nested formatting in your documentation, so I tried some cases but always got

`newlineAfterBlock: All blocks should be followed by a new line.`

or

`trailingWhitespace: There should't be any trailing whitespace.

[2016-09-08 19:06] jwilsson commented on #245
Hi,
I think the code you posted should be reported. Writing it like this should pass:
[code]

I did however, find a bug which prevents that from passing correctly.

[2016-09-09 09:25] jwilsson commented on #244
Sorry for not getting back sooner. After some more thinking I say it's a bug. @crash-dive are you still interested in sending a PR?

[2016-09-09 17:09] crash-dive commented on #244
@jwilsson I have sent a PR. There is also another related fix in it related to the incorrect usage of \s in the reg ex.

[2016-09-11 18:26] #239 closed

[2016-09-11 18:26] #244 closed

[2016-09-12 07:26] solidevolution commented on #245
Tried it with 2.1.1, same there ...

[2016-09-12 11:15] jwilsson commented on #245
Strange, the example I posted is correct IMO and isn't reported by the linter in `2.1.1`.

I'll reopen so we can investigate further.

[2016-09-12 11:44] runarberg opened #251 "Fails when encounters a dead symlink"
This happens a lot in my meteor app. Meteor creates a symlink inside the `.meteor` directory, then later becomes dead, and then lesshint won't work unless I manually remove it (which is not possible with our CI system).

[code]

[code]

[code]

[2016-09-12 11:49] runarberg commented on #251
This might also be related to lesshint not working as a [flycheck] checker in my emacs setup.

Flycheck always outputs this error message when I enable it inside a less file:

[code]

[flycheck]: http://www.flycheck.org/

[2016-09-12 12:14] shellscape commented on #251
Probably needs to check each file for that, around https://github.com/lesshint/lesshint/blob/master/lib/lesshint.js#L16.

[2016-09-12 13:03] jwilsson commented on #251
Yeah, I guess we should check if the file/link exists before trying to do anything with it.

@runarberg Would you be interested in submitting a PR?

[2016-09-12 13:08] runarberg commented on #251
Sure, I'll see what I can do :)

[2016-09-13 11:17] runarberg commented on #251
https://github.com/dfilatov/vow-fs/issues/24

[2016-09-14 09:43] dinony opened #254 "Plugin Support"
Hello,

lesshint is listed in the  [plugins list](http://lesscss.org/usage/#plugins).
I'm working on a project using gulp and I would like to use lesshint as a plugin. Like in this [example](https://github.com/plus3network/gulp-less#using-plugins).

However, it seems that this interface is not implemented.

<img width="359" alt="screen shot 2016-09-14 at 11 40 48" src="https://cloud.githubusercont

[2016-09-14 09:45] kokarn commented on #254
Does it have to be a direct plugin or can you use the [gulp-lesshint](https://github.com/lesshint/gulp-lesshint) package instead?

[2016-09-14 09:50] dinony commented on #254
I would rather prefer to use it as a direct plugin, than to use small (possibly unmaintained) gulp packages.

[2016-09-14 10:37] kokarn commented on #254
Yeah I hear you, doing the same thing myself. I know we got listed on lesscss a while back and there might be something that's changed with what's required to be a less plugin. I'll see if I have time to look at that but @jwilsson is the man with the plan (and skills)

[2016-09-14 12:36] jwilsson commented on #254
Hi,
Thanks for reaching out!

While it's true that lesshint isn't an real less plugin I think it should be pretty easy to wrap it in one and create a proper one without us adding anything in lesshint. [less-plugin-lesshat](https://github.com/bassjobsen/less-plugin-lesshat) might be of some help to anyone interested in writing a plugin (in addition to the one @kokarn posted).

(Just btw, gulp-lessh

[2016-09-14 13:23] runarberg commented on #251
Also related https://github.com/eslint/eslint/issues/3490. However, eslint differs as it allows ignoring directories (not just globs), so adding `.meteor` to `.eslintignore` is sufficient to for my particular issue since that is where the meteor build tool creates all (possible dead) symlinks.

[2016-09-14 14:34] jwilsson commented on #251
Please correct me if I'm wrong, but shouldn't something like this work?
[code]

[2016-09-14 14:40] runarberg commented on #251
No it won't because the file is visited with `fs.stat` before it is ignored with a glob match. Unlike eslint which wont visit any files and sub-directories belonging to an ignored directory.

[2016-09-14 15:00] dinony commented on #254
Hello,
thanks for your answers!
If it's not too much work it would be great if you could adapt the plugin interface.
In the meantime I will use the mentioned gulp plugin.

Thanks again!

[2016-09-15 06:09] jwilsson commented on #254
I don't think we'll implement the Less plugin interface in the main lesshint project, but if @kokarn (or anyone else for that matter) is interested in creating a standalone Less plugin wrapping lesshint we could push for that in the Less docs instead.

[2016-09-15 06:10] jwilsson commented on #251
Ah, of course! Sorry about that.

[2016-09-15 06:34] kokarn commented on #254
Maybe we should consider getting removed from lesscss.org until that is fixed? With the rise of plugins for applikations like Babel I feel like this is something that will bite quite a few more people in the ass :/

[2016-09-15 18:54] MichelGratton opened #256 "Valid LESS but Invalid parsed results"
This LESS mixin code is valide and works perfectly

[code]

But, lesshint will fail and trhow an error: Error: Expected opening parenthesis.

If I move the extract part to a variable and I use this variable, everything is find:

[code]

[2016-09-15 19:06] MichelGratton opened #257 "Less merge (comma or space) should be excluded from "duplicateProperty""
In LESS there is feature use to merge property with a comma or a space by adding respectively "+" or "+_". These properties can be duplicated inside a single bloc. In my case it's inside a mixins. I can add all properties using this feature in the exclude property. But I think, this should be automaticaly exclude for all properties ending with "+" or "+_".

See: http://lesscss.org/features/#merge-

[2016-09-15 20:30] shellscape commented on #256
Can you provide a stack trace please?

[2016-09-15 20:30] shellscape commented on #257
Please provide some sample LESS

[2016-09-16 11:50] MichelGratton commented on #257
Here two very basic mixins to test it. First example will merge two box-shadow property with a comma and the second mixin will merge to property with a space.
[code]
---
[code]

[2016-09-16 12:27] MichelGratton commented on #256
I don't have the stack trace, but you can try it using my pixel to rem mixins. First set a value for the `@application-base-font-size` variable:
[code]
Here is the mixin:
[code]
and just use the mixin with some properties:
[code]
Execute your lesshint task and it will fail with an error: Expected opening parenthesis.

---
Now change the last .output line to use the extract part in a variable and u

[2016-09-19 13:36] vitalyiegorov opened #259 "Cannot read property 'source' of undefined"
Installed latest version through npm, when try to run for our project I get this error:
lesshint src/
An unkown error occured, please file an issue with this info:
TypeError: Cannot read property 'source' of undefined
    at Object.finalNewlineLinter [as lint](/usr/local/lib/node_modules/lesshint/lib/linters/final_newline.js:12:63)
    at /usr/local/lib/node_modules/lesshint/lib/linter.js:134:32

[2016-09-19 14:51] shellscape commented on #259
(did you have your entire team thumbs-up your post? lol)

we'll need to see some LESS source from your project to debug this, since all of the specs are running in CI and locally. also, I modified the name of your issue to something a bit more identifiable.

[2016-09-23 07:19] #257 closed

[2016-09-23 07:33] jwilsson commented on #256
I managed to get a stack trace for this Less code:
[code]

which looks like this:
[code]

Could it be related to #183? Perhaps we need to handle things better in `spaceAroundComma` since that's been the culprit in both cases.

[2016-09-23 09:13] tkazec commented on #245
This does not work:

[code]

This does:

[code]

@jwilsson in your test, `source` actually evaluates to this, which passes but is itself wrong:

[code]

[2016-09-23 12:08] shellscape commented on #256
that stack trace is almost entirely postcss-values-parser, so we should look at trying to make that bulletproof as well. I'm going on vacation soon for a few weeks, so it'll be mid-Oct before I can look at it. welcoming any help on that.

[2016-09-25 19:02] jwilsson commented on #245
@tkazec Could you elaborate? What does/doesn't work? Both of them pass when I test (which they should).

The last `}` in the test should be on it's own line, though, yeah. I'll fix that. Whether the properties are on the same line is irrelevant for this rule.

[2016-09-26 00:56] tkazec commented on #245
@jwilsson sorry, apparently GitHub strips out whitespace on blank lines. Turns out including indentation on line 3 causes the test to fail. You can run
`copy('a {\n\tfoo: bar;\n\t\n\tb {\n\t\tfoo: bar;\n\t}\n}')`
in Chrome dev tools to get the exact string.

[2016-09-26 06:16] jwilsson commented on #245
@tkazec Aha, thanks for the new example! I'm able to reproduce it, nice find. @solidevolution could this be the issue for you too?

[2016-09-26 07:35] solidevolution commented on #245
I can try if you give me a fix, otherwise contact me for a private less file

[2016-09-26 09:44] jwilsson commented on #245
@solidevolution I just wanted to check if your failing Less code has trailing whitespace? So we can check if it's the same issue as @tkazec's experiencing.

[2016-09-27 16:25] solidevolution commented on #245
No, no trailing whitespace.

[2016-09-27 17:33] jwilsson commented on #245
@solidevolution Alright, thanks for the info.

[2016-09-28 09:07] elkebirmed opened #260 "Spaces before colon leads to Strings should use single quotes"
This `Less` code leads to `Strings should use single quotes`:

[code]

[2016-09-28 21:16] wohanley commented on #118
[code]
In that code, qualifyElement still flags `&.c`, I believe inappropriately.

[2016-10-03 11:35] vitalyiegorov commented on #259
@shellscape Yes, to attract your attention)

Can I send you just zip with all less files?

[2016-10-03 19:05] jwilsson commented on #259
@vitalyiegorov Could you recheck with the changes proposed in https://github.com/lesshint/lesshint/pull/262 and get back to us with the contents of the file reported there? Thanks!

[2016-10-04 01:25] wohanley opened #263 "Report parse errors the same as regular ones"
background: [#261](https://github.com/lesshint/lesshint/pull/261)

When lesshint hits a line it can't parse, it stops and throws an exception. It might be better to add a parse error for that line to the results and keep going.

[2016-10-04 09:40] solidevolution commented on #245
Any news here?

[2016-10-10 19:47] jwilsson commented on #245
I've got a proposed fix in #264 which should fix @tkazec's issue. @solidevolution could you check with that code as well?

[2016-10-11 08:03] solidevolution commented on #245
Nice, works!

On **bug/lesshint-bug-newlineafterblock-trailing-whitespace** my less file now has 80% less errors ;)

[2016-10-11 11:46] tkazec commented on #245
Can confirm the same, thanks!

[2016-10-11 17:35] jwilsson opened #266 "Rule proposal: universalSelector"
Should work just like `idSelector`, disallow the use of universal selectors (i.e. `*`).

Should report:

[code]

Shouldn't report:

[code]

[2016-10-11 17:41] jwilsson opened #267 "Rule proposal: spaceAroundBang"
A rule to enforce spaces around the exclamation mark/bang in `!important` etc.

Suggested options:
- `none`
- `before`
- `after`
- `both`

When `none`:

[code]

When `before`:

[code]

When `after`:

[code]

When `both`:

[code]

[2016-10-11 17:44] jwilsson opened #268 "Support for #RRGGBBAA and #RGBA in hex* rules"
Since this is now possible the `hex*` rules should account for that.

How should we do it? Just treat colors with 4 or 8 chars as valid or add a new option for it?